<section class="tab scrollable{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
  {{formGroup fields.tint value=source.tint rootId=rootId placeholder="#ffffff"}}
  {{formGroup fields.description value=source.description rootId=rootId classes="stacked editor"}}
</section>