<div class="tab details" data-group="primary" data-tab="details">
    <h3 class="form-header">{{ localize "DND4EBETA.PowerDetails" }}</h3>

    {{!-- Power Source & Keywords --}}
    <div class="form-group select">
        <label>{{ localize "DND4EBETA.PowerSource" }}</label>
        <select name="data.powersource">
            {{#select data.powersource}}
            <option value=""></option>
            {{#each config.powerSource as |name type|}}
            <option value="{{type}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
    <div class="form-group stacked">
        <label>{{ localize "DND4EBETA.Keywords" }}</label>
        <!-- <input type="text" name="data.chatFlavor" value="{{data.chatFlavor}}"/> -->
    </div>

    {{!-- Action Type --}}
    <div class="form-group select">
        <label>{{ localize "DND4EBETA.ItemActionType" }}</label>
        <select name="data.actionType">
            {{#select data.actionType}}
            <option value=""></option>
            {{#each config.abilityActivationTypes as |name type|}}
            <option value="{{type}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>

    {{!-- Weapon Range and AoE--}}
    <div class="form-group uses-per">
        <label>{{ localize "DND4EBETA.WeaponTypeRequired" }}</label>
        <select name="data.weaponType">
            {{#select data.weaponType}}
            <option value=""></option>
            {{#each config.weaponType as |name type|}}
            <option value="{{type}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>

        {{#if data.weaponType}}
            <!-- <span>Weapon</span> -->
            <select name="data.weaponUse">
                {{#select data.weaponUse}}
                <option value="default">Default</option>
                <option value="defaultOH">Default Off-Hand</option>
                <option value="">None</option>
                {{#each powerWeaponUseTargets as |name key|}}
                <option value="{{key}}">{{name}}</option>
                {{/each}}
                {{/select}}
            </select>
        {{/if}}
    </div>

    

    <div class="form-group uses-per">
        <label>{{ localize "DND4EBETA.RangePower" }}</label>
        <div class="form-fields">
            <select name="data.rangeType">
                {{#select data.rangeType}}
                <option value=""></option>
                {{#each config.rangeType as |name type|}}
                <option value="{{type}}">{{name}}</option>
                {{/each}}
                {{/select}}
            </select>
            {{#if data.isArea}}
                <span>{{ localize "DND4EBETA.AreaOf" }}</span>
                <input type="text" name="data.area" value="{{data.area}}" data-dtype="Number"/>
            {{/if}}
            {{#if data.isRange}}
                {{#if data.isArea}}<span style="flex: 2.8 0 16px">{{ localize "DND4EBETA.RangeWithinOf" }}</span>{{/if}}
                {{#unless data.isArea}}<span style="flex: 0.6 0 16px">{{ localize "DND4EBETA.RangeOf" }}</span>{{/unless}}
                <input type="text" name="data.rangePower" value="{{data.rangePower}}" data-dtype="Number"/>
            {{/if}}
        </div>
    </div>

    <div class="form-group uses-per">
        <label>{{ localize "DND4EBETA.Target" }}</label>
        <div class="form-fields">
            <select name="data.target.type">
                {{#select data.target.type}}
                <option value=""></option>
                {{#each config.targetTypes as |name type|}}
                <option value="{{type}}">{{name}}</option>
                {{/each}}
                {{/select}}
            </select>
            <input type="text" name="data.target.num" value="{{data.target.num}}" data-dtype="Number"/>
        </div>
    </div>

    <div class="form-group uses-per">
        <label>{{ localize "DND4EBETA.LimitedUses"}}</label>
        <div class="form-fields">
            <input type="text" name="data.uses.value" value="{{data.uses.value}}" data-dtype="Number"/>
            <span class="sep">{{ localize "DND4EBETA.of" }}</span>
            <input type="text" name="data.uses.max" value="{{data.uses.max}}" data-dtype="Number"/>
            <span class="sep">{{ localize "DND4EBETA.per" }}</span>
            <select name="data.uses.per">
                {{#select data.uses.per}}
                <option value=""></option>
                {{#each config.limitedUsePeriods as |name key|}}
                <option value="{{key}}">{{name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
    </div>
    <div class="form-group uses-per">
        <label>{{ localize "DND4EBETA.ConsumeTitle" }}</label>
        <div class="form-fields">
            <select name="data.consume.type" style="flex: 0.55;">
                {{#select data.consume.type}}
                <option value=""></option>
                {{#each config.abilityConsumptionTypes as |name key|}}
                <option value="{{key}}">{{name}}</option>
                {{/each}}
                {{/select}}
            </select>
            <select name="data.consume.target" style="width: 80%">
                {{#select data.consume.target}}
                <option value=""></option>
                {{#each abilityConsumptionTargets as |name key|}}
                <option value="{{key}}">{{name}}</option>
                {{/each}}
                {{/select}}
            </select>
            <input type="text" name="data.consume.amount" value="{{data.consume.amount}}" data-dtype="Number"/>
        </div>
    </div>	

    <div class="form-group">
        <label>{{ localize "DND4EBETA.Trigger" }}</label>
        <input type="text" name="data.trigger" value="{{data.trigger}}"/>
    </div>
    <div class="form-group">
        <label>{{ localize "DND4EBETA.Requirements" }}</label>
        <input type="text" name="data.requirement" value="{{data.requirement}}"/>
    </div>
    <div class="form-group">
        <label>{{ localize "DND4EBETA.Special" }}</label>
        <input type="text" name="data.special" value="{{data.special}}"/>
    </div>

    {{!-- Attack Details--}}
    <h3 class="form-header">{{ localize "DND4EBETA.AttackDetails" }}</h3>
    <div class="form-group">
        <label>{{ localize "DND4EBETA.IsAttack" }}</label>
        <input type="checkbox" name="data.attack.isAttack" data-dtype="Boolean" {{checked data.attack.isAttack}}/>
    </div>
    
    {{#if data.attack.isAttack}}
    {{!-- Attack--}}
    <div class="form-group uses-per">
        <label>{{ localize "DND4EBETA.Attack" }}</label>
        <div class="form-fields">
            <select name="data.attack.ability">
                {{#select data.attack.ability}}
                <option value=""></option>
                {{#each config.abilities as |name key|}}
                <option value="{{key}}">{{name}}</option>
                {{/each}}
                {{/select}}
            </select>
            <!-- {{#if data.attack.ability}}
                <span>+</span>
                <input type="text" name="data.attackBonus" value="{{data.attackBonus }}" data-dtype="Number"/>
            {{/if}} -->
            <span>{{ localize "DND4EBETA.VS" }}</span>
            <select name="data.attack.def">
                {{#select data.attack.def}}
                <option value=""></option>
                {{#each config.def as |name key|}}
                <option value="{{key}}">{{name}}</option>
                {{/each}}
                {{/select}}
            </select>
            <!-- {{#if data.attack.def}}
                <span>+</span>
                <input type="text" name="data.attack.defBonus" value="{{data.attack.defBonus }}" data-dtype="Number"/>
            {{/if}} -->
        </div>
    </div>

    <div class="form-group stacked">
        <label>Attack {{ localize "DND4EBETA.Formula" }}</label>
        <input type="text" name="data.attack.formula" value="{{data.attack.formula}}"/>
    </div>
    {{/if}}
    <div class="form-group">
        <label>{{ localize "DND4EBETA.IsDamage" }}</label>
        <input type="checkbox" name="data.hit.isDamage" data-dtype="Boolean" {{checked data.hit.isDamage}}/>
    </div>
    {{#if data.hit.isDamage}}
    {{!-- Hit Details --}}
    {{!-- Damage --}}
    <div class="form-group stacked">
        <label>Damage {{ localize "DND4EBETA.Formula" }}</label>
        <input type="text" name="data.hit.formula" value="{{data.hit.formula}}"/>
    </div>
    <h4 class="damage-header">
        {{#unless isHealing }}Secondary {{ localize "DND4EBETA.Damage" }}{{ else }}{{ localize "DND4EBETA.Healing" }}{{/unless}} {{ localize "DND4EBETA.Formula" }}:
        <a class="damage-control add-damage"><i class="fas fa-plus"></i></a>
    </h4>
    <ol class="damage-parts form-group">
        {{#each data.damage.parts as |part i| }}
        <li class="damage-part flexrow" data-damage-part="{{i}}">
            <input type="text" name="data.damage.parts.{{i}}.0" value="{{lookup this "0"}}"/>
            <select name="data.damage.parts.{{i}}.1">
                {{#select (lookup this "1") }}
                <option value="">{{ localize "DND4EBETA.None" }}</option>
                {{#each ../config.damageTypes as |name type|}}
                <option value="{{type}}">{{name}}</option>
                {{/each}}
                {{#each ../config.healingTypes as |name type|}}
                <option value="{{type}}">{{name}}</option>
                {{/each}}
                {{/select}}
            </select>
            <a class="damage-control delete-damage"><i class="fas fa-minus"></i></a>
        </li>
        {{/each}}
    </ol>
    
    {{!-- Critial --}}
    <div class="form-group stacked">
        <label>Critial Damage {{ localize "DND4EBETA.Formula" }}</label>
        <input type="text" name="data.hit.critFormula" value="{{data.hit.critFormula}}"/>
    </div>
    <h4 class="damage-header">
        {{#unless isHealing }}Secondary Critial{{ localize "DND4EBETA.Damage" }}{{ else }}{{ localize "DND4EBETA.Healing" }}{{/unless}} {{ localize "DND4EBETA.Formula" }}:
        <a class="damage-control add-damage"><i class="fas fa-plus"></i></a>
    </h4>
    <ol class="damage-parts form-group">
        {{#each data.damageCrit.parts as |part i| }}
        <li class="damage-part flexrow" data-damage-part="{{i}}">
            <input type="text" name="data.damageCrit.parts.{{i}}.0" value="{{lookup this "0"}}"/>
            <select name="data.damageCrit.parts.{{i}}.1">
                {{#select (lookup this "1") }}
                <option value="">{{ localize "DND4EBETA.None" }}</option>
                {{#each ../config.damageTypes as |name type|}}
                <option value="{{type}}">{{name}}</option>
                {{/each}}
                {{#each ../config.healingTypes as |name type|}}
                <option value="{{type}}">{{name}}</option>
                {{/each}}
                {{/select}}
            </select>
            <a class="damage-control delete-criticalDamage"><i class="fas fa-minus"></i></a>
        </li>
        {{/each}}
    </ol>
    {{!-- Hit Details --}}
    <div class="form-group stacked">
        <!-- <label>{{ localize "DND4EBETA.HitEffects" }}</label> -->
    </div>
    <div class="form-group stacked">
        <label>{{ localize "DND4EBETA.HitDetailsText" }}</label>
        <input type="text" name="data.hit.detail" value="{{data.hit.detail}}"/>
    </div>

    {{!-- Miss --}}
    <div class="form-group stacked">
        <label>Miss Damage {{ localize "DND4EBETA.Formula" }}</label>
        <input type="text" name="data.miss.formula" value="{{data.miss.formula}}"/>
    </div>
    <div class="form-group stacked">
        <!-- <label>{{ localize "DND4EBETA.MissEffects" }}</label> -->
    </div>
    <div class="form-group stacked">
        <label>{{ localize "DND4EBETA.MissDetailsText" }}</label>
        <input type="text" name="data.miss.detail" value="{{data.miss.detail}}"/>
    </div>

    <div class="form-group stacked weapon-properties">
        <label title="Type of Damage Dealt by primary attack.">Primary Damage Type:</label>
        {{#each config.damageTypes as |name type|}}
        <label class="checkbox">
            <input type="checkbox" name="data.damageType.{{type}}" {{checked (lookup ../data.damageType type)}}/> {{ name }}
        </label>
        {{/each}}
    </div>

    {{/if}}

    {{!-- Effect Details --}}
    <h3 class="form-header">{{ localize "DND4EBETA.EffectDetails" }}</h3>
    <div class="form-group stacked">
        <!-- <label>{{ localize "DND4EBETA.Effects" }}</label> -->
    </div>
    <div class="form-group stacked">
        <label>{{ localize "DND4EBETA.EffectDetails" }}</label>
        <input type="text" name="data.effect.detail" value="{{data.effect.detail}}"/>
    </div>



    <div class="form-group stacked weapon-properties">
        <label title="Type of Damage Dealt by primary attack.">Effect Types & Keywords:</label>
        {{#each config.effectTypes as |name type|}}
        <label class="checkbox">
            <input type="checkbox" name="data.effectType.{{type}}" {{checked (lookup ../data.effectType type)}}/> {{ name }}
        </label>
        {{/each}}
    </div>

    <!-- <label>Type:{{ data.useType }}</label>
    <label>Range:{{ data.range }}</label> -->
    {{!-- Chat Message Flavor --}}
    <div class="form-group stacked">
        <label>{{ localize "DND4EBETA.ChatFlavor" }}</label>
        <input type="text" name="data.chatFlavor" value="{{data.chatFlavor}}"/>
    </div>

</div>