<div class="tab details" data-group="primary" data-tab="details">
	<h3 class="form-header">{{ localize "DND4EBETA.PowerDetails" }}</h3>

	{{!-- Power Source & Keywords --}}
	<div class="form-group">
		<label style="max-width: 208px;">{{ localize "DND4EBETA.PowerAutoGenerateLable" }}</label>
		<span class="checkbox"><input type="checkbox" name="system.autoGenChatPowerCard" data-dtype="Boolean" {{checked system.autoGenChatPowerCard}}/></span>
	</div>
	<div class="form-group short uses-per">
		<label>{{ localize "DND4EBETA.PowerSource" }}</label>
		<select name="system.powersource">
			{{#select system.powersource}}
			<option value=""></option>
			{{#each config.powerSource as |name type|}}
			<option value="{{type}}">{{name}}</option>
			{{/each}}
			{{/select}}
		</select>

		{{#if system.powersource}}
		<select name="system.secondPowersource">
			{{#select system.secondPowersource}}
			<option value=""></option>
			{{#each config.powerSource as |name type|}}
			<option value="{{type}}">{{name}}</option>
			{{/each}}
			{{/select}}
		</select>
		{{/if}}
	</div>

	<div class="form-group select">
		<label>{{ localize 'DND4EBETA.Level' }}</label>
		<input type="text" name="system.level" value="{{system.level}}"/>
	</div>

	<div class="form-group short uses-per">
		<label>{{ localize 'DND4EBETA.PowerType' }}</label>
		<select name="system.powerType">
			{{#select system.powerType}}
			{{#each config.powerType as |name type|}}
			<option value="{{type}}">{{name}}</option>
			{{/each}}
			<option value="other">{{localize 'DND4EBETA.Other'}}</option>
			{{/select}}
		</select> 
		<select name="system.powerSubtype">
			{{#select system.powerSubtype}}
			{{#each config.powerSubtype as |name type|}}
			<option value="{{type}}">{{name}}</option>
			{{/each}}
			<option value="other">{{localize "DND4EBETA.Other"}}</option>
			{{/select}}
		</select>
	</div>
	<div class="form-group select">
		<label>{{ localize 'DND4EBETA.Usage' }}</label>
		<select name="system.useType">
			{{#select system.useType}}
			{{#each config.powerUseType as |name type|}}
			<option value="{{type}}">{{name}}</option>
			{{/each}}
			{{/select}}
		</select>
	</div>

	{{!-- Action Type --}}
	<div class="form-group select">
		<label>{{ localize "DND4EBETA.ItemActionType" }}</label>
		<select name="system.actionType">
			{{#select system.actionType}}
			{{#each config.abilityActivationTypes as |name type|}}
			<option value="{{type}}">{{name}}</option>
			{{/each}}
			{{/select}}
		</select>
	</div>

	{{!-- Weapon Range and AoE--}}
	<div class="form-group short uses-per">
		<label>{{ localize "DND4EBETA.WeaponTypeRequired" }}</label>
		<select name="system.weaponType">
			{{#select system.weaponType}}
			{{#each config.weaponType as |name type|}}
			<option value="{{type}}">{{name}}</option>
			{{/each}}
			{{/select}}
		</select>

		{{#if system.weaponType}}
			<!-- <span>Weapon</span> -->
			<select name="system.weaponUse">
				{{#select system.weaponUse}}
				<option value="default">{{ localize 'DND4EBETA.Default' }}</option>
				<option value="defaultOH">{{ localize 'DND4EBETA.Default' }} {{ localize 'DND4EBETA.HOff' }}</option>
				<option value="none">{{ localize 'DND4EBETA.None' }}</option>
				{{#each powerWeaponUseTargets as |name key|}}
				<option value="{{key}}">{{name}}</option>
				{{/each}}
				{{/select}}
			</select>
		{{/if}}
	</div>

	<div class="form-group short uses-per">
		<label>{{ localize "DND4EBETA.RangePower" }}</label>
		<div class="form-fields">
			<select name="system.rangeType">
				{{#select system.rangeType}}
				{{#each config.rangeType as |name type|}}
				<option value="{{type}}">{{name}}</option>
				{{/each}}
				{{/select}}
			</select>
			{{#if system.isArea}}
				<span>{{ localize "DND4EBETA.AreaOf" }}</span>
				<input type="text" name="system.area" value="{{system.area}}"/>
			{{/if}}
			{{#if system.isRange}}
				{{#if system.isArea}}<span style="flex: 1 0 6px">{{ localize "DND4EBETA.RangeWithinOf" }}</span>{{/if}}
				{{#unless system.isArea}}<span style="flex: 0.3 0 16px">{{ localize "DND4EBETA.RangeOf" }}</span>{{/unless}}
				<input type="text" name="system.rangePower" value="{{system.rangePower}}" data-dtype="Number"/>
			{{/if}}
		</div>
	</div>

	<div class="form-group">
		<label>{{ localize "DND4EBETA.Requirements" }}</label>
		<div class="form-fields">
			<input type="text" name="system.requirement" value="{{system.requirement}}"/>
		</div>
	</div>

	<div class="form-group">
		<label>{{ localize "DND4EBETA.Trigger" }}</label>
		<div class="form-fields">
			<input type="text" name="system.trigger" value="{{system.trigger}}"/>
		</div>
	</div>

	<div class="form-group">
		<label>{{ localize "DND4EBETA.Target" }}</label>
		<div class="form-fields">
			<input type="text" name="system.target" value="{{system.target}}"/>
		</div>
	</div>

	<div class="form-group uses-per">
		<label>{{ localize "DND4EBETA.LimitedUses"}}</label>
		<div class="form-fields">
			<input type="text" name="system.uses.value" value="{{system.uses.value}}" data-dtype="Number"/>
			<span class="sep">{{ localize "DND4EBETA.of" }}</span>
			<input type="text" name="system.uses.max" value="{{system.uses.max}}"/>
			<span class="sep">{{ localize "DND4EBETA.per" }}</span>
			<select name="system.uses.per">
				{{#select system.uses.per}}
				<option value=""></option>
				{{#each config.limitedUsePeriods as |name key|}}
				<option value="{{key}}">{{name}}</option>
				{{/each}}
				{{/select}}
			</select>
		</div>
	</div>

	{{#if system.isRecharge}}
	<div class="form-group">
		<label>{{ localize "DND4EBETA.PowerRechargeCondition" }} Condition</label>
		<div class="form-fields">
			<input type="text" name="system.rechargeCondition" value="{{system.rechargeCondition}}" placeholder="Text Condition"/>
		</div>
	</div>

	<div class="form-group">
		<label>{{ localize "DND4EBETA.PowerRechargeCondition" }} roll</label>
		<div class="form-fields">
			<input type="text" name="system.rechargeRoll" value="{{system.rechargeRoll}}" placeholder="{{ localize "DND4EBETA.PowerRechargePlaceholder" }}"/>
		</div>
	</div>
	{{/if}}

	<div class="form-group uses-per">
		<label>{{ localize "DND4EBETA.ConsumeTitle" }}</label>
		<div class="form-fields">
			<select name="system.consume.type" style="flex: 0.55;">
				{{#select system.consume.type}}
				<option value=""></option>
				{{#each config.abilityConsumptionTypes as |name key|}}
				<option value="{{key}}">{{name}}</option>
				{{/each}}
				{{/select}}
			</select>
			<select name="system.consume.target" style="width: 80%">
				{{#select system.consume.target}}
				<option value=""></option>
				{{#each abilityConsumptionTargets as |name key|}}
				<option value="{{key}}">{{name}}</option>
				{{/each}}
				{{/select}}
			</select>
			<input type="text" name="system.consume.amount" value="{{system.consume.amount}}" data-dtype="Number"/>
		</div>
	</div>

	{{!-- Attack Details--}}
	<h3 class="form-header">{{ localize "DND4EBETA.AttackDetails" }}</h3>
	<div class="form-group">
		<label>{{ localize "DND4EBETA.IsAttack" }}</label>
		<span class="checkbox"><input class="checkbox" type="checkbox" name="system.attack.isAttack" data-dtype="Boolean" {{checked system.attack.isAttack}}/></span>
	</div>
	
	{{#if system.attack.isAttack}}
	{{!-- Attack--}}
	<div class="form-group uses-per">
		<label>{{ localize "DND4EBETA.Attack" }}</label>
		<div class="form-fields">
			<select name="system.attack.ability">
				{{#select system.attack.ability}}
				<option value=""></option>
				{{#each config.abilities as |name key|}}
				<option value="{{key}}">{{name}}</option>
				{{/each}}
				<option value="form">{{ localize "DND4EBETA.FormulaAttack" }}</option>
				{{/select}}
			</select>

			<span>{{ localize "DND4EBETA.VS" }}</span>
			<select name="system.attack.def">
				{{#select system.attack.def}}
				<option value=""></option>
				{{#each config.def as |name key|}}
				<option value="{{key}}">{{name}}</option>
				{{/each}}
				{{/select}}
			</select>
		</div>
	</div>

	<div class="form-group stacked">
		<label>{{ localize "DND4EBETA.FormulaAttack" }}</label>
		<input type="text" name="system.attack.formula" value="{{system.attack.formula}}"/>
	</div>
	{{/if}}
	<div class="form-group">
		<label>{{ localize "DND4EBETA.IsDamage" }}</label>
		<span class="checkbox"><input type="checkbox" name="system.hit.isDamage" data-dtype="Boolean" {{checked system.hit.isDamage}}/></span>
	</div>
	{{#if system.hit.isDamage}}
	{{!-- Hit Details --}}
	{{!-- Damage --}}
	<div class="form-group">
		<label>{{ localize "DND4EBETA.PowerDamShared" }}</label>
		<span class="checkbox"><input type="checkbox" name="system.hit.shareDamageRoll" data-dtype="Boolean" {{checked system.hit.shareDamageRoll}}/></span>
	</div>
	
	<div class="form-group uses-per">
		<label>{{ localize "DND4EBETA.PowerBaseDamage" }}</label>
		<div class="form-fields">
			<input style="min-width: 105px;" type="text" name="system.hit.baseQuantity" value="{{system.hit.baseQuantity}}"/>
			<select name="system.hit.baseDiceType">
				{{#select system.hit.baseDiceType}}
				{{#each config.powerDiceTypes as |name key|}}
				<option value="{{key}}">{{name}}</option>
				{{/each}}
				{{/select}}
			</select>
		</div>
	</div>

	<div class="form-group stacked">
		<label>{{ localize 'DND4EBETA.FormulaDamage' }}</label>
		<input type="text" name="system.hit.formula" value="{{system.hit.formula}}"/>
	</div>
	<h4 class="damage-header">
		{{ localize 'DND4EBETA.Secondary' }} {{ localize 'DND4EBETA.FormulaDamage' }}:
		<a class="damage-control add-damage"><i class="fas fa-plus"></i></a>
	</h4>
	<ol class="damage-parts form-group">
		{{#each system.damage.parts as |part i| }}
		<li class="damage-part flexrow" data-damage-part="{{i}}">
			<input type="text" name="system.damage.parts.{{i}}.0" value="{{lookup this '0'}}"/>
			<select name="system.damage.parts.{{i}}.1">
				{{#select (lookup this "1") }}
				<option value="">{{ localize 'DND4EBETA.None' }}</option>
				{{#each ../config.damageTypes as |name type|}}
				<option value="{{type}}">{{name}}</option>
				{{/each}}
				{{/select}}
			</select>
			<a class="damage-control delete-damage"><i class="fas fa-minus"></i></a>
		</li>
		{{/each}}
	</ol>
	
	{{!-- Critical --}}
	<div class="form-group stacked">
		<label>{{ localize 'DND4EBETA.Critical' }} {{ localize 'DND4EBETA.FormulaDamage' }}</label>
		<input type="text" name="system.hit.critFormula" value="{{system.hit.critFormula}}"/>
	</div>
	<h4 class="damage-header">
		{{ localize 'DND4EBETA.Secondary' }} {{ localize 'DND4EBETA.Critical' }} {{ localize 'DND4EBETA.FormulaDamage' }}:
		<a class="damage-control add-criticalDamage"><i class="fas fa-plus"></i></a>
	</h4>
	<ol class="damage-parts form-group">
		{{#each system.damageCrit.parts as |part i| }}
		<li class="damage-part flexrow" data-damage-part="{{i}}">
			<input type="text" name="system.damageCrit.parts.{{i}}.0" value="{{lookup this "0"}}"/>
			<select name="system.damageCrit.parts.{{i}}.1">
				{{#select (lookup this "1") }}
				<option value="">{{ localize 'DND4EBETA.None' }}</option>
				{{#each ../config.damageTypes as |name type|}}
				<option value="{{type}}">{{name}}</option>
				{{/each}}
				{{/select}}
			</select>
			<a class="damage-control delete-criticalDamage"><i class="fas fa-minus"></i></a>
		</li>
		{{/each}}
	</ol>

	<div class="form-group stacked">
		<label>{{ localize 'DND4EBETA.Miss' }} {{ localize 'DND4EBETA.FormulaDamage' }}</label>
		<input type="text" name="system.miss.formula" value="{{system.miss.formula}}" placeholder="{{ localize "DND4EBETA.MissFormulaPlaceholder" }}"/>
	</div>


	<div class="form-group stacked weapon-properties">
		<label title="{{localize 'DND4EBETA.PrimaryDamageType'}}" style="max-width: 100%">{{localize "DND4EBETA.PrimaryDamageType"}}: {{system.weaponSourceName}}</label>
		{{#if system.damageTypeWeapon}}
		{{#each config.damageTypes as |name type|}}
		<label class="checkbox">
			<input disabled="disabled" type="checkbox" name="system.weaponDamageType.{{type}}" {{checked (lookup ../system.weaponDamageType type)}}/> {{ name }}
		</label>
		{{/each}}
		{{else}}
		{{#each config.damageTypes as |name type|}}
		<label class="checkbox">
			<input type="checkbox" name="system.damageType.{{type}}" {{checked (lookup ../system.damageType type)}}/> {{ name }}
		</label>
		{{/each}}

		{{/if}}
	</div>

	<!-- <div class="form-group">
		<label>{{localize 'DND4EBETA.DamageTypeFromWeapon'}}</label>
		<span class="checkbox"><input type="checkbox" name="system.damageTypeWeapon" data-dtype="Boolean" {{checked system.damageTypeWeapon}}/></span>
	</div> -->

	{{/if}}
	<div class="form-group">
		<label>{{ localize "DND4EBETA.IsHealing" }}</label>
		<span class="checkbox"><input type="checkbox" name="system.hit.isHealing" data-dtype="Boolean" {{checked system.hit.isHealing}}/></span>
	</div>
	{{#if system.hit.isHealing}}

	<div class="form-group stacked">
		<label>{{ localize "DND4EBETA.ActionHeal" }} {{ localize "DND4EBETA.Formula" }}</label>
		<input type="text" name="system.hit.healFormula" value="{{system.hit.healFormula}}"/>
	</div>

	<div class="form-group select">
		<label>{{ localize "DND4EBETA.HealingSurgeSpending" }}</label>
		<select name="system.hit.healSurge">
		{{#select system.hit.healSurge}}
			<option value="">{{ localize "DND4EBETA.None" }}</option>
			<option value="surge">{{ localize "DND4EBETA.HealingSurgeSpend" }}</option>
			<option value="surgeValue">{{ localize "DND4EBETA.HealingSurgeValue" }}</option>
		{{/select}}
		</select>
	</div>
	{{/if}}

	{{!-- Effect Details --}}
	<h3 class="form-header">{{ localize "DND4EBETA.EffectDetails" }}</h3>

	{{!-- Hit Details --}}
	<div class="form-group stacked">
		<!-- <label>{{ localize "DND4EBETA.HitEffects" }}</label> -->
	</div>
	<div class="form-group stacked">
		<label>{{ localize "DND4EBETA.HitDetailsText" }}</label>
		<input type="text" name="system.hit.detail" value="{{system.hit.detail}}" placeholder="{{ localize 'DND4EBETA.PowerTextFieldsPlaceholder'}}"/>
	</div>

	{{!-- Miss Details --}}
	<div class="form-group stacked">
		<!-- <label>{{ localize "DND4EBETA.MissEffects" }}</label> -->
	</div>
	<div class="form-group stacked">
		<label>{{ localize "DND4EBETA.MissDetailsText" }}</label>
		<input type="text" name="system.miss.detail" value="{{system.miss.detail}}" placeholder="{{ localize "DND4EBETA.PowerTextFieldsPlaceholder"}}"/>
	</div>

	<div class="form-group">
		<label>{{ localize "DND4EBETA.EffectDetails" }}</label>
		<span class="checkbox">{{ localize "DND4EBETA.DisplayEffect" }}<input type="checkbox" name="system.postEffect" data-dtype="Boolean" {{checked system.postEffect}}/></span>
	</div>
	<div class="form-group">
		<span class="checkbox">{{ localize "DND4EBETA.EffectHTMLInput" }}<input type="checkbox" name="system.effectHTML" data-dtype="Boolean" {{checked system.effectHTML}}/></span>
	</div>
	{{#if system.effectHTML}}
		{{editor effectDetailHTML target="system.effect.detail" button=true owner=owner editable=editable}}
	{{else}}
		<div class="form-group">
			<input type="text" name="system.effect.detail" value="{{system.effect.detail}}" placeholder="{{ localize 'DND4EBETA.PowerTextFieldsPlaceholder'}}"/>
		</div>
	{{/if}}

	<div class="form-group">
		<label>{{ localize "DND4EBETA.Special" }}</label>
		<span class="checkbox">{{ localize 'DND4EBETA.DisplayEffect' }}?<input type="checkbox" name="system.postSpecial" data-dtype="Boolean" {{checked system.postSpecial}}/></span>
	</div>
	<div class="form-group">
		<input type="text" name="system.special" value="{{system.special}}" placeholder="{{ localize 'DND4EBETA.PowerTextFieldsPlaceholder'}}"/>
		<a class="onetext-control add-special"><i class="fas fa-plus"></i></a>
	</div>
	<ol class="onetext-parts form-group">
		{{#each system.specialAdd.parts as |part i| }}
		<li class="onetext-part flexrow" data-special-part="{{i}}">
			<input type="text" name="system.specialAdd.parts.{{i}}" value="{{lookup this "0"}}" placeholder="{{ localize "DND4EBETA.PowerTextFieldsPlaceholder"}}"/>
			<a class="onetext-control delete-special"><i class="fas fa-minus"></i></a>
		</li>
		{{/each}}
	</ol>

	<div class="form-group select">
		<label>{{ localize "DND4EBETA.Sustain" }}</label>
		<select name="system.sustain.actionType">
			{{#select system.sustain.actionType}}
			<option value=""></option>
			{{#each config.abilityActivationTypes as |name type|}}
			<option value="{{type}}">{{name}}</option>
			{{/each}}
			{{/select}}
		</select>
	</div>

	<div class="form-group">
		<input type="text" name="system.sustain.detail" value="{{system.sustain.detail}}" placeholder="{{ localize 'DND4EBETA.PowerTextFieldsPlaceholder'}}"/>
	</div>

	<div class="form-group stacked weapon-properties">
		<label title="{{ localize 'DND4EBETA.Keywords' }}">{{ localize 'DND4EBETA.Effect' }} {{ localize 'DND4EBETA.Type' }} {{ localize 'DND4EBETA.Keywords' }}</label>
		<pr></pr>
		{{#each config.effectTypes as |name type|}}
		<label class="checkbox">
			<input type="checkbox" name="system.effectType.{{type}}" {{checked (lookup ../system.effectType type)}}/> {{ name }}
		</label>
		{{/each}}
	</div>

	{{!-- Chat Message Flavor --}}
	<div class="form-group stacked">
		<label>{{ localize "DND4EBETA.ChatFlavor" }}</label>
		<input type="text" name="system.chatFlavor" value="{{system.chatFlavor}}" placeholder="{{ localize 'DND4EBETA.ChatFlavorPlaceholder'}}"/>
	</div>

</div>
