<div class="tab" data-group="primary" data-tab="macros">

	<div class="form-group">
		<label>{{ localize "Scope" }}</label>
		<select name="system.macro.scope" disabled>
			{{#select system.macro.scope}}
			<option value="global">{{ localize "Global" }}</option>
			<option value="actors">{{ localize "Actors" }}</option>
			<option value="actor">{{ localize "Actor" }}</option>
			{{/select}}
		</select>
	</div>

	<div class="form-group">
		<label>{{ localize "Type" }}</label>
		<select name="system.macro.type">
			{{#select system.macro.type}}
				<option value="script">{{ localize "Script" }}</option>
				<option value="chat">{{ localize "Chat" }}</option>
				<!-- <option value="{{this}}">{{this}}</option> -->
			{{/select}}
		</select>
	</div>

	<div class="form-group">
		<label>Launch Order</label>
		<select name="system.macro.launchOrder">
			{{#select system.macro.launchOrder}}
			{{#each config.launchOrder as |name type|}}
			<option value="{{type}}">{{name}}</option>
			{{/each}}
			{{/select}}
		</select>
	</div>

	{{#if autoanimationsActive}}
	<div class="form-group">
		<label>Autoanimation Hook</label>
		<select name="system.macro.autoanimationHook">
			{{#select system.macro.autoanimationHook}}
			<option value="">Automatic</option>
			{{#each config.autoanimationHook as |name type|}}
			<option value="{{type}}">{{name}}</option>
			{{/each}}
			{{/select}}
		</select>
	</div>
	{{/if}}

	<div class="form-group stacked ">
		<label></label>
	</div>

	<div class="form-group stacked" style="height:calc(100% - 132px);">
		<textarea style="height:100%;" name="system.macro.command">{{system.macro.command}}</textarea>
	</div>

	<footer class="sheet-footer flexrow">
		<!-- <button type="submit"><i class="fas fa-save"></i> {{ localize "MACRO.Save" }}</button> -->
		<button class="execute" type="button"><i class="fas fa-dice-d20"></i> {{ localize "MACRO.Execute" }}</button>
	</footer>

</div>