<div class="tab" data-group="primary" data-tab="macros">

	<div class="form-group">
		<label>Scope</label>
		<select name="data.macro.scope" disabled>
			{{#select data.macro.scope}}
			<option value="global">global</option>
			<option value="actors">actors</option>
			<option value="actor">actor</option>
			{{/select}}
		</select>
	</div>

	<div class="form-group">
		<label>Type</label>
		<select name="data.macro.type">
			{{#select data.macro.type}}
				<option value="script">Script</option>
				<option value="chat">Chat</option>
				<!-- <option value="{{this}}">{{this}}</option> -->
			{{/select}}
		</select>
	</div>

	<div class="form-group">
		<label>Launch Order</label>
		<select name="data.macro.launchOrder">
			{{#select data.macro.launchOrder}}
			{{#each config.launchOrder as |name type|}}
			<option value="{{type}}">{{name}}</option>
			{{/each}}
			{{/select}}
		</select>
	</div>

	<div class="form-group stacked ">
		<label></label>
	</div>

	<div class="form-group stacked" style="height:calc(100% - 132px);">
		<textarea style="height:100%;" name="data.macro.command">{{data.macro.command}}</textarea>
	</div>

	<footer class="sheet-footer flexrow">
		<!-- <button type="submit"><i class="fas fa-save"></i> {{ localize "MACRO.Save" }}</button> -->
		<button class="execute" type="button"><i class="fas fa-dice-d20"></i> {{ localize "MACRO.Execute" }}</button>
	</footer>

</div>