<div class="tab flexrow active" data-group="primary" data-tab="description">

	<div class="item-properties">
		{{#if isPhysical}}
		<div class="form-group">
			<label>{{ localize "DND4E.Quantity" }}</label>
			<input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number"/>
		</div>

		<div class="form-group">
			<label>{{ localize "DND4E.Weight" }}</label>
			<input type="text" name="system.weight" value="{{system.weight}}" data-dtype="Number"/>
		</div>

		<div class="form-group">
			<label>{{ localize "DND4E.Price" }}</label>
			<input type="text" name="system.price" value="{{system.price}}" data-dtype="Number"/>
		</div>
		{{/if}}

		<ol class="properties-list">
			{{#each itemProperties}}
			<li>{{this}}</li>
			{{/each}}
		</ol>
	</div>

	<section class="description">
		{{#if user.isGM}}
		<section class="editor-container gm-notes{{#if system.description.gmNotes}} has-content{{/if}}">
			{{editor editor-gm descriptionHTMLGM target="system.description.gm" button=true owner=owner editable=editable rollData=rollData  engine="prosemirror"}}
		</section>
		{{/if}}

		<section class="main editor-container">
			{{editor descriptionHTML target="system.description.value" button=true owner=owner editable=editable rollData=rollData  engine="prosemirror"}}
		</section>
	</section>
</div>