<!-- note here actor == the actor instance (thus must us .id), item == item.data instance (thus should use ._id) -->
<div class="dnd4eBeta chat-card item-card {{item.type}}-card {{actor.type}} {{#if isPower}}use-{{item.system.useType}}{{#if item.system.autoGenChatPowerCard}} autogen{{/if}}{{/if}}" data-actor-id="{{actor.id}}" data-item-id="{{item._id}}"
	 {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}} {{#if isSpell}}data-spell-level="{{item.data.level}}"{{/if}}>
	 
	<header class="card-header flexrow">
		<img src="{{item.img}}" data-tooltip="{{item.name}}" width="36" height="36"/>
		<div class="flexcol item-name ability-usage--">
			<h3>{{item.name}}</h3>
		</div>
	</header>

	<div class="card-content">
	
		{{#if item.system.autoGenChatPowerCard}}
		
			{{#if item.system.chatFlavor}}
				<p class="chat-flavour">{{{item.system.chatFlavor}}}</p>
			{{else}}
				{{#unless (eq actor.type "NPC")}}<!-- For NPCs, flavour text display shouldn't be conditional on the presence of flavour text, because almost all NPC powers lack flavour text -->
					{{{system.description.value}}}
				{{/unless}}
			{{/if}}
			
			<div class="item-summary">
				<div class="item-details">
					{{{cardData}}}
				</div>
			</div>
			
		{{else}}
		
			{{{system.description.value}}}
			
		{{/if}}
		
		{{#if isRoll}}
		<div class="card-buttons">

			{{#if hasAttack}}
			<button data-action="attack" data-tooltip="{{ localize 'DND4EBETA.QuickRoll' }}">
				<span class="dnd4e-button-icon"><img src="systems/dnd4e/icons/ui/attackRoll.svg"></span>
				{{ localize "DND4EBETA.Attack" }}
			</button>
			{{/if}}

			{{#if hasDamage}}
			<button data-action="damage" data-tooltip="{{ localize 'DND4EBETA.QuickRoll' }}">
				<i class="fas fa-burst"></i>
				{{localize "DND4EBETA.Damage" }}
			</button>
			{{/if}}

			{{#if hasHealing}}
			<button data-action="healing" data-tooltip="{{ localize 'DND4EBETA.QuickRoll' }}">
				<span class="dnd4e-button-icon"><img src="systems/dnd4e/icons/ui/healRoll.svg"></span>
				{{ localize "DND4EBETA.Healing" }}
			</button>
			{{/if}}

			{{!-- {{#if (needsEffectButton this)}}
			<button data-action="effect" data-tooltip="{{ localize 'DND4EBETA.ApplyEffectTooltip' }}">
				{{ localize "DND4EBETA.ApplyEffect" }} {{#if (applyEffectsToSelection)}}{{ localize "DND4EBETA.ApplyEffectToSelection" }}{{else}}{{ localize "DND4EBETA.ApplyEffectToTargets" }}{{/if}}
			</button>
			{{/if}}

			{{#if (needsHitEffectButton this)}}
			<button data-action="hitEffect" data-tooltip="{{ localize 'DND4EBETA.ApplyHitEffectTooltip' }}">
				{{ localize "DND4EBETA.ApplyHitEffect" }} {{#if (applyEffectsToSelection)}}{{ localize "DND4EBETA.ApplyEffectToSelection" }}{{else}}{{ localize "DND4EBETA.ApplyEffectToTargets" }}{{/if}}
			</button>
			{{/if}}

			{{#if (needsMissEffectButton this)}}
			<button data-action="missEffect" data-tooltip="{{ localize 'DND4EBETA.ApplyMissEffectTooltip' }}">
				{{ localize "DND4EBETA.ApplyMissEffect" }} {{#if (applyEffectsToSelection)}}{{ localize "DND4EBETA.ApplyEffectToSelection" }}{{else}}{{ localize "DND4EBETA.ApplyEffectToTargets" }}{{/if}}
			</button>
			{{/if}}

			{{#if (needsHitOrMissEffectButton this)}}
			<button data-action="hitOrMissEffect" data-tooltip="{{ localize 'DND4EBETA.ApplyHitOrMissEffectTooltip' }}">
				{{ localize "DND4EBETA.ApplyHitOrMissEffect" }} {{#if (applyEffectsToSelection)}}{{ localize "DND4EBETA.ApplyEffectToSelection" }}{{else}}{{ localize "DND4EBETA.ApplyEffectToTargets" }}{{/if}}
			</button>
			{{/if}} --}}

			{{#if isVersatile}}
			<button data-action="versatile">{{ localize "DND4EBETA.Versatile" }}</button>
			{{/if}}

			{{#if hasSave}}
			<button data-action="save" data-ability="{{data.save.ability}}" disabled>
				{{ localize "DND4EBETA.SavingThrow" }} {{labels.save}}
			</button>
			{{/if}}

			{{#if data.formula}}
			<button data-action="formula">{{ localize "DND4EBETA.OtherFormula"}}</button>
			{{/if}}

			{{#if hasAreaTarget}}
			<button data-action="placeTemplate">{{ localize "DND4EBETA.PlaceTemplate" }}</button>
			{{/if}}
		</div>
		{{/if}}

		{{#if effects}}
		{{!-- Applicable Effects --}}
		<div class="effects-tray collapsible collapsed">
			<label class="roboto-upper">
				<i class="fas fa-bolt"></i>
				<span>{{ localize "DND4EBETA.Effects" }}</span>
				<i class="fas fa-caret-down"></i>
			</label>
			<ul class="effects collapsible-content unlist" style="height: 0px;">
				{{~#each effects~}}
				<li class="effect" data-uuid="{{ uuid }}" data-transferred="{{ transfer }}">
					<img class="gold-icon" alt="{{ name }}" src="{{ img }}">
					<div class="name-stacked">
						<span class="title">{{ name }}</span>
						<span class="subtitle">{{ duration.label }}</span>
					</div>
					<button type="button" class="apply-effect" data-action="applyEffect"
							data-tooltip="DND4EBETA.EffectsApplyTokens" aria-label="{{ localize "DND4EBETA.EffectsApplyTokens" }}">
						<i class="fas fa-reply-all fa-flip-horizontal"></i>
					</button>
				</li>
				{{~/each~}}
			</ul>
		</div>
		{{/if}}

	</div>
	

	{{#unless isPower}}
	<footer class="card-footer">
		{{#each data.properties}}
		<span>{{this}}</span>
		{{/each}}
		{{#if data.materials.value}}
		<p><strong>{{ localize "DND4EBETA.RequiredMaterials" }}:</strong> {{data.materials.value}}</p>
		{{/if}}
	</footer>
	{{/unless}}
</div>
