<!-- note here actor == the actor instance (thus must us .id), item == item.data instance (thus should use ._id) -->
<div class="dnd4eAltus chat-card item-card {{item.type}}-card {{actor.type}} {{#if isPower}}use-{{item.system.useType}}{{#if item.system.autoGenChatPowerCard}} autogen{{/if}}{{/if}}" data-actor-id="{{actor.id}}" data-item-id="{{item._id}}"
	 {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}} {{#if isSpell}}data-spell-level="{{item.data.level}}"{{/if}}>
	 
	<header class="card-header flexrow">
		<img src="{{item.img}}" data-tooltip="{{item.name}}" width="36" height="36"/>
		<div class="flexcol item-name ability-usage--">
			<h3>{{item.name}}</h3>
		</div>
	</header>

	<div class="card-content">
	
		{{#if item.system.autoGenChatPowerCard}}
		
			{{#if item.system.chatFlavor}}
				<p class="chat-flavour">{{{item.system.chatFlavor}}}</p>
			{{else}}
				{{#unless (eq actor.type "NPC")}}<!-- For NPCs, flavour text display shouldn't be conditional on the presence of flavour text, because almost all NPC powers lack flavour text -->
					{{{system.description.value}}}
				{{/unless}}
			{{/if}}
			
			<div class="item-summary">
				<div class="item-details">
					{{{cardData}}}
				</div>
			</div>
			
		{{else}}
		
			{{{system.description.value}}}
			
		{{/if}}
		
		{{#if isRoll}}
		<div class="card-buttons">

			{{#if hasAttack}}
			<button data-action="attack" data-tooltip="{{ localize 'DND4EALTUS.QuickRoll' }}">
				{{ localize "DND4EALTUS.Attack" }}
			</button>
			{{/if}}

			{{#if hasDamage}}
			<button data-action="damage" data-tooltip="{{ localize 'DND4EALTUS.QuickRoll' }}">
				{{localize "DND4EALTUS.Damage" }}
			</button>
			{{/if}}

			{{#if hasHealing}}
			<button data-action="healing" data-tooltip="{{ localize 'DND4EALTUS.QuickRoll' }}">
				{{ localize "DND4EALTUS.Healing" }}
			</button>
			{{/if}}

			{{#if hasEffect}}
			<!-- <div class="card-content">
				{{localize "DND4EALTUS.Effect" }}: {{{data.effect.detail}}}
			</div> -->
			{{/if}}
			<!-- {{#if hasEffect}}<button data-action="effect">{{ localize "DND4EALTUS.Effect" }}</button>{{/if}} -->

			{{#if (needsEffectButton this)}}
			<button data-action="effect" data-tooltip="{{ localize 'DND4EALTUS.EffectApply' }}">
				{{ localize "DND4EALTUS.Effect" }}
			</button>
			{{/if}}

			{{#if isVersatile}}
			<button data-action="versatile">{{ localize "DND4EALTUS.Versatile" }}</button>
			{{/if}}

			{{#if hasSave}}
			<button data-action="save" data-ability="{{data.save.ability}}" disabled>
				{{ localize "DND4EALTUS.SavingThrow" }} {{labels.save}}
			</button>
			{{/if}}

			{{#if data.formula}}
			<button data-action="formula">{{ localize "DND4EALTUS.OtherFormula"}}</button>
			{{/if}}

			{{#if hasAreaTarget}}
			<button data-action="placeTemplate">{{ localize "DND4EALTUS.PlaceTemplate" }}</button>
			{{/if}}
		</div>
		{{/if}}
		
	</div>
	

	{{#unless isPower}}
	<footer class="card-footer">
		{{#each data.properties}}
		<span>{{this}}</span>
		{{/each}}
		{{#if data.materials.value}}
		<p><strong>{{ localize "DND4EALTUS.RequiredMaterials" }}:</strong> {{data.materials.value}}</p>
		{{/if}}
	</footer>
	{{/unless}}
</div>
