<div class="dnd4e dot-report">
	<div class="dot-result">
		<a class="target" data-target-id="{{targetToken}}">{{actorName}}</a>
		{{#if (eq autoDoTs "apply")}}
			{{#if (eq dmgImpact "healing")}}
				{{localize "DND4E.regained"}} <span class="damage-taken {{dmgImpact}}">{{dmgTaken}}</span> {{localize "DND4E.of"}} 
			{{else if (eq dmgImpact "resistant-full")}}
				<span class="damage-taken {{dmgImpact}}">{{localize "DND4E.DamResistedCompletely"}}</span> 
			{{else if (eq dmgImpact "vulnerable")}}
				{{localize "DND4E.took"}} <span class="damage-taken {{dmgImpact}}" data-tooltip="{{dot.amount}} + {{dmgDiff}}">{{dmgTaken}}</span> {{localize "DND4E.of"}}
			{{else}}
				{{localize "DND4E.took"}} <span class="damage-taken {{dmgImpact}}" data-tooltip="{{dot.amount}} - {{dmgDiff}}">{{dmgTaken}}</span> {{localize "DND4E.of"}} 
			{{/if}}
		{{else}}
			{{#if (eq dmgImpact "healing")}}
				{{localize "DND4E.canRegain"}}
			{{else}}
				{{localize "DND4E.isTaking"}}
			{{/if}}
		{{/if}}
			<span class="intended-dmg" data-tooltip="{{dot.dmgFormula}}">{{dot.amount}}</span>
			{{#if (eq dmgImpact "healing")}} 
				{{localize "DND4E.HP"}}.
			{{else}} 
				{{typesFormatted}} {{localize "DND4E.Damage"}}.
			{{/if}}
	</div>
</div>
{{#unless (eq autoDoTs "apply")}}
	<div class="chatDamageButtons">
	{{#if (eq dmgImpact "healing")}}
		 <a class="fakechatbutton chat-damage-button" data-tooltip="{{ localize "DND4E.ChatContextButtonTitle" }}" data-action="Heal"><i class="fas fa-user-plus fa-fw"></i>{{ localize "DND4E.ChatContextHealing" }}</a>
		 <a class="fakechatbutton chat-damage-button" data-tooltip="{{ localize "DND4E.ChatContextButtonTitle" }}" data-action="TempHeal"><i class="fas fa-user-clock fa-fw"></i>{{ localize "DND4E.ChatContextTempHp" }}</a>
	{{else}}
		<a class="fakechatbutton chat-damage-button" data-tooltip="{{ localize "DND4E.ChatContextButtonTitle" }}" data-action="Damage"><i class="fas fa-user-minus"></i>{{ localize "DND4E.ChatContextDamage" }}</a>
		<a class="fakechatbutton chat-damage-button" data-tooltip="{{ localize "DND4E.ChatContextButtonTitle" }}" data-action="HalfDamage"><i class="fas fa-user-shield"></i>{{ localize "DND4E.ChatContextHalfDamage" }}</a>
	{{/if}}
</div>
<script>
	function mouseEnter(id) {
		document.getElementById("form" + id).style.backgroundColor = "#99ccff"
		document.getElementById("exp" + id).style.backgroundColor = "#99ccff"
	}

	function mouseLeave(id) {
		document.getElementById("form" + id).style.backgroundColor = null
		document.getElementById("exp" + id).style.backgroundColor = null
	}
</script>
{{/unless}}