<!-- note here actor == the actor instance (thus must us .id), item == item.data instance (thus should use ._id) -->
<div class="dnd4eBeta chat-card item-card" data-actor-id="{{actor.id}}" data-item-id="{{item._id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3 class="item-name ability-usage--" style="padding-left: 3px;">{{item.name}}</h3>
    </header>

    <div class="card-content">{{{data.description.value}}}</div>

    {{#if data.attribute}}
    <div class="card-buttons">
        <button data-action="ritualCheck" data-ability="{{data.ability.value}}">{{ abilityCheck }} Check to {{item.name}}</button>
    </div>
    {{/if}}

    <footer class="card-footer">
        {{#each data.properties}}
        <span>{{this}}</span>
        {{/each}}
    </footer>
</div>
