<div class="dice-roll">
    {{#if flavor}}
    <div class="dice-flavor">{{flavor}}</div>
    {{/if}}
    <div class="dice-result">
        <div class="dice-formula">{{{formula}}}</div>
        <div class="dice-tooltip dice-formula">{{{expression}}}</div>
        {{{tooltip}}}
        <h4 class="dice-total">{{total}}</h4>
    </div>
</div>
<div class="chatDamageButtons">
    {{#if hitTypeDamage}}
    <a class="fakechatbutton chat-damage-button" title="{{ localize "DND4EBETA.ChatContextButtonTitle" }}" data-action="Damage"><i class="fas fa-user-minus"></i>{{ localize "DND4EBETA.ChatContextDamage" }}</a>
    <a class="fakechatbutton chat-damage-button" title="{{ localize "DND4EBETA.ChatContextButtonTitle" }}" data-action="HalfDamage"><i class="fas fa-user-shield"></i>{{ localize "DND4EBETA.ChatContextHalfDamage" }}</a>
    {{else if hitTypeHealing}}
    <a class="fakechatbutton chat-damage-button" title="{{ localize "DND4EBETA.ChatContextButtonTitle" }}" data-action="Heal"><i class="fas fa-user-plus fa-fw"></i>{{ localize "DND4EBETA.ChatContextHealing" }}</a>
    <a class="fakechatbutton chat-damage-button" title="{{ localize "DND4EBETA.ChatContextButtonTitle" }}" data-action="TempHeal"><i class="fas fa-user-plus fa-fw"></i>{{ localize "DND4EBETA.ChatContextTempHp" }}</a>
    {{/if}}
</div>
<script>
    function mouseEnter(id) {
        document.getElementById("form" + id).style.backgroundColor = "#99ccff"
        document.getElementById("exp" + id).style.backgroundColor = "#99ccff"
    }

    function mouseLeave(id) {
        document.getElementById("form" + id).style.backgroundColor = null
        document.getElementById("exp" + id).style.backgroundColor = null
    }
</script>