<div class="dice-roll">
    {{#each multirollData as |roll|}}
        <div class="dice-result">
            <a class="flavor-text target" data-target-id="{{roll.target}}"><strong>{{localize 'DND4E.Target'}}</strong>: {{roll.target}}</a>
            <div class="dice-flavor">{{roll.flavor}}</div> <span class="mod-vs-def">(<span class="attack-mod">{{attackRoll.modText}}</span> {{localize 'DND4E.VS'}} <span class="vs-def">{{attackRoll.defText}}</span>)</span>
			</div>
			<div class="flavor-text hit-prediction {{attackRoll.critstate}} {{attackRoll.hitstate}}">{{attackRoll.hittext}}</div>
        </div>
    {{/each}}
</div>

<script>
    function mouseEnter(id) {
        document.getElementById("form" + id).style.backgroundColor = "#99ccff"
        document.getElementById("exp" + id).style.backgroundColor = "#99ccff"
    }

    function mouseLeave(id) {
        document.getElementById("form" + id).style.backgroundColor = null
        document.getElementById("exp" + id).style.backgroundColor = null
    }
</script>