<div class="chat-card request-card">
  <div class="card-buttons">
    {{#each buttons}}
    <button {{ DND4E-dataset dataset }}>
      <i class="fa-solid fa-dice-d20"></i>
      <span class="visible-dc">{{{ buttonLabel }}}</span>
      <span class="hidden-dc">{{{ hiddenLabel }}}</span>
    </button>
    {{/each}}
  </div>
</div>
