<form>
	<div class="form-group">
		<label>{{ localize "DND4EBETA.Formula" }}</label>
		<input type="text" name="formula" value="{{formula}}" disabled/>
	</div>
	<div class="form-group">
		<label>{{ localize "DND4EBETA.RollSituationalBonus" }}</label>
		<input type="text" name="bonus" value="" placeholder="{{ localize 'DND4EBETA.RollExample' }}"/>
	</div>

	{{#if isD20Roll}}	
		<div class="input-group-button">
			<label>Number of D20 to Roll:</label>
			<button style="width: 9.375%; text-align: center;" type="button" class="button hollow circle" data-quantity="minus" data-field="quantity" onclick="minus()">
				<i class="fa fa-minus" aria-hidden="true"></i>
			</button>
			<input style="width: 12.5%; text-align: center;" id="d20" type="text" name="d20" value="1" onClick="this.select();"/>
			<button style="width: 9.375%; text-align: center;" type="button" class="button hollow circle" data-quantity="plus" data-field="quantity" onclick="plus()">
				<i class="fa fa-plus" aria-hidden="true"></i>
			</button>
		</div>
	{{/if}}
	
	<div class="form-group stacked">
		{{#if isAttackRoll}}
		<div class="multitarget-np-flex">
			<button style="width: 9.375%; text-align: center;" type="button" class="button hollow circle" id="prevBtn" onclick="nextPrev(-1)">
				<i class="fas fa-arrow-left" aria-hidden="true"></i>
			</button>
			<button class="button" type="button" id="multibonus-toggle" onclick="toggleMultibonus()" value="false"></button>
			<button style="width: 9.375%; text-align: center;" type="button" class="button hollow circle" id="nextBtn" onclick="nextPrev(1)">
				<i class="fas fa-arrow-right" aria-hidden="true"></i>
			</button>
		</div>
		{{#if targetData.multiTargetCheck}}
		<label id="multiTarget"></label>
		{{/if}}
		{{#each targetData.targNameArray as | t n |}}
		<div class="multitarget-tab">
			{{#if ../targetData.hasTarget}}
			<div>
				<label id="singleTarget" >Target: {{t}}</label>
			</div>
			{{/if}}
			<div class="form-group stacked">
			{{#each ../data.commonAttackBonuses as | a b |}}
			<div class="column" style="max-width: 50%; margin: 0;">
				<label class="rollable">
					<input style="position:relative; top: 5px;" type="checkbox" name="{{n}}.{{b}}" data-dtype="Boolean" value="{{../checked}}"/>{{ localize a.label}} ({{a.value}})
				</label>
			</div>
			{{/each}}
			</div>
		</div>
		{{/each}}
		{{/if}}
	</div>


	<div class="form-group">
		<label>{{ localize "DND4EBETA.RollMode" }}</label>
		<select name="rollMode">
		{{#select rollMode}}
		{{#each rollModes as |label mode|}}
			<option value="{{mode}}">{{localize label}}</option>
		{{/each}}
		{{/select}}
		</select>
	</div>
	<div class="form-group">
		<label>Flavour Text</label>
		<input type="text" name="flavor" value="{{newFlavor}}" placeholder="{{flavor}}" data-tooltip="Situational Flavour Text." />
	</div>
</form>


<script>
//Checks if multi target attack that is universal, and display an alternative target dialog with every target's name in it.
if ("{{targetData.multiTargetCheck}}" == "true" && document.getElementById("multibonus-toggle")?.value == "false" && "{{targetData.targNameArray}}"){
	document.getElementById("multiTarget").innerHTML = "Targets: {{targetData.targNameArray}}";
	document.getElementById("singleTarget").style.display = 'none';
}
$(document).keydown(function(event){
    if(event.which=="17")
        cntrlIsPressed = true;
});

$(document).keyup(function(){
    cntrlIsPressed = false;
});

var cntrlIsPressed = false;

	function minus(){
		input = document.getElementById("d20");
		if(cntrlIsPressed) {
			input.value = -2;
		} else {
			input.value --;
		}
	}

	function plus(){
		input = document.getElementById("d20");
		if(cntrlIsPressed) {
			input.value = 2;
		} else {
			input.value ++;
		}
	}

var currentTab = 0;    // Defines the default current attack bonuses tab to be the first one
var multiTargetToggle = 0;    // Defines the default state of the multi-target attack bonus toggle state to be in the "universal bonus" state
var multiTargetToggleString = "Change to Individual Attack Bonuses";    // Defines the initial text for the multiTargetToggleString - assuming there is more than one target
showTab(currentTab);    // Show the tabs upon first run

function toggleMultibonus() {
	/*
	* Function to toggle the state of the attack bonus tabs between Universal and 
	* Individual attack bonuses based on the current value of the toggle button.
	*
	* Each option will update the button value, then update the toggle value, 
	* then update the button text. 
	*
	* The condition for toggling from true to false then sets the current tab index
	* to 0 to show only the first tab.
	* 
	* Both conditions then call the showTab function to update the currently
	* displayed tab.
	*/
	if (document.getElementById("multibonus-toggle").value == "false"){
		document.getElementById("multibonus-toggle").value = "true";
		multiTargetToggle = 1;
		multiTargetToggleString = "Change to Universal Attack Bonuses";
		showTab(currentTab)
		document.getElementById("multiTarget").style.display = 'none';
		document.getElementById("singleTarget").style.display = 'block';
	} else if (document.getElementById("multibonus-toggle").value == "true") {
		document.getElementById("multibonus-toggle").value = "false";
		multiTargetToggle = 0;
		multiTargetToggleString = "Change to Individual Attack Bonuses";
		currentTab = 0;
		showTab(currentTab)
		document.getElementById("multiTarget").style.display = 'block';
		document.getElementById("singleTarget").style.display = 'none';
	}
}

function showTab(n) {
	let x = document.getElementsByClassName("multitarget-tab");
	let numTargets = x.length;
	if (document.getElementById("multibonus-toggle")) {
		if (numTargets <= 1) {
			multiTargetToggleString = "Universal Attack Bonuses"
			document.getElementById("multibonus-toggle").disabled = true;
		}

		document.getElementById("multibonus-toggle").innerHTML = multiTargetToggleString;

		x[n].style.display = "block";
		if (n <= 0){
			document.getElementById("prevBtn").disabled = true;
		} else {
			document.getElementById("prevBtn").disabled = false;
		}
		if (n >= x.length - 1 || multiTargetToggle == 0){
			document.getElementById("nextBtn").disabled = true;
		} else {
			document.getElementById("nextBtn").disabled = false;
		}
	}
}

function nextPrev(n) {
	let x = document.getElementsByClassName("multitarget-tab");
	x[currentTab].style.display = "none";
	currentTab = currentTab + n;
	showTab(currentTab);
}
</script>
