<section class="tab scrollable {{tab.id}} flexcol{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
  {{#if (or (eq itemType "consumable") (eq itemType "power"))}}
    {{> "dnd4e.target-effects"}}
  {{else}}
    {{> "dnd4e.self-effects"}}
  {{/if}}
</section>