<form class="{{cssClass}}" autocomplete="off">				
			
	{{!-- Sheet Header --}}
	<header class="sheet-header flexrow">
		<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
		
		
		<div class="header-fields flexcol">
			<div class="flexrow">
				<h1 class="charname">
					<input name="name" type="text" value="{{actor.name}}" title="{{localize 'DND4EALTUS.Name'}}" placeholder="{{localize 'DND4EALTUS.Name'}}" onClick="this.select();"/>			
				</h1>
				
				<div class="charlevel">
					<div class= "level">
						<span>Level:</span>
						<input type="text" name="data.details.level" value="{{data.details.level}}" title="{{localize "DND4EALTUS.Level"}}" data-dtype="Number" onClick="this.select();"/>
					</div>
					<div class="experience">
						<span>Total Exp:</span>
						<input type="text" name="data.details.exp" value="{{data.details.exp}}" title="{{localize "DND4EALTUS.Exp"}}" data-dtype="Number" onClick="this.select();"/>
					</div>					
				</div>
			</div>
			{{!-- Character Summary --}}
			<div class="flexcol">
				<div class="summary">
					<div class="list-race">
						<input type="text" name="data.details.race" value="{{data.details.race}}" title="{{localize "DND4EALTUS.Race"}}" placeholder="{{localize "DND4EALTUS.Race"}}" onClick="this.select();"/>
					</div>
					<div class="list-gen">
						<input type="text" name="data.details.gender" value="{{data.details.gender}}" title="{{localize "DND4EALTUS.Gender"}}"  placeholder="{{localize "DND4EALTUS.Gender"}}" onClick="this.select();"/>
					</div>
					<div class="list-age">
						<input type="text" name="data.details.age" value="{{data.details.age}}" title="{{localize "DND4EALTUS.Age"}}"  placeholder="{{localize "DND4EALTUS.Age"}}" data-dtype="Number" onClick="this.select();"/>
					</div>					
					<div class="list-age">	
						<input type="text" name="data.details.height" value="{{data.details.height}}" title="{{localize "DND4EALTUS.Height"}}"  placeholder="{{localize "DND4EALTUS.Height"}}" onClick="this.select();"/>
					</div>
					<div class="list-age">	
						<input type="text" name="data.details.weight" value="{{data.details.weight}}" title="{{localize "DND4EALTUS.Weight"}}"  placeholder="{{localize "DND4EALTUS.Weight"}}" data-dtype="Number" onClick="this.select();"/>
					</div>
					
					<div class="list-size">
						<div class="form-group">
							<label style="font-weight: normal;">{{localize "DND4EALTUS.Size"}}:</label>
							<select class="actor-size" name="data.details.size">
								{{#select data.details.size}}
								{{#each config.actorSizes as |label size|}}
									<option value="{{size}}">{{label}}</option>
								{{/each}}
								{{/select}}
							</select>
						</div>							
					</div>					
					<div class="list-alig">	
						<input type="text" name="data.details.alignment" value="{{data.details.alignment}}" title="{{localize "DND4EALTUS.Alignment"}}"  placeholder="{{localize "DND4EALTUS.Alignment"}}" onClick="this.select();"/>
					</div>
					<div class="list-alig">	
						<input type="text" name="data.details.deity" value="{{data.details.deity}}" title="{{localize "DND4EALTUS.Deity"}}"  placeholder="{{localize "DND4EALTUS.Deity"}}" onClick="this.select();"/>						
					</div>
					<div class="list-class">	
						<input type="text" name="data.details.class" value="{{data.details.class}}" title="{{localize "DND4EALTUS.ClassName"}}"placeholder="{{localize "DND4EALTUS.ClassName"}}" onClick="this.select();"/>
					</div>
					<div class="list-class">	
						<input type="text" name="data.details.paragon" value="{{data.details.paragon}}" title="{{localize "DND4EALTUS.Paragon"}}"placeholder="{{localize "DND4EALTUS.Paragon"}}" onClick="this.select();"/>
					</div>
					<div class="list-end">	
						<input type="text" name="data.details.epic" value="{{data.details.epic}}" title="{{localize "DND4EALTUS.Epic"}}"placeholder="{{localize "DND4EALTUS.Epic"}}" onClick="this.select();"/>
					</div>
					
				</div>
			</div>
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="description">Bio & Info</a>
		<a class="item" data-tab="attributes">Attributes</a>
		<a class="item" data-tab="inventory">Inventory</a>
		<a class="item" data-tab="features">Features</a>
		<a class="item" data-tab="powers">Powers</a>
		<a class="item" data-tab="effects">Effects</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">

		{{!-- Biography Tab --}}
		<div class="tab biography" data-group="primary" data-tab="description">
			{{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
		</div>

		{{!-- Attributes Tab --}}
		<div class="tab attributes flexrow" data-group="primary" data-tab="attributes">
			{{> "systems/dnd4eAltus/templates/actors/parts/actor-attributes.html" sections=inventory}}
		</div>

		{{!-- Owned Inventory Tab --}}
		<div class="tab inventory" data-group="primary" data-tab="inventory">
			{{> "systems/dnd4eAltus/templates/actors/parts/actor-inventory.html" sections=inventory}}
		</div>

		{{!-- Feat Tab --}}
		<div class="tab features" data-group="primary" data-tab="features">
			{{> "systems/dnd4eAltus/templates/actors/parts/actor-features.html" sections=features}}
		</div>
		
		{{!-- Powers Tab --}}
		<div class="tab features" data-group="primary" data-tab="powers">
			{{> "systems/dnd4eAltus/templates/actors/parts/actor-powers.html" sections=powers}}
		</div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "systems/dnd4eAltus/templates/actors/parts/active-effects.html"}}
        </div>
	</section>
</form>

<!-- text-shadow style.css:1056 -->

<!-- Active -->
<!-- .pf1.sheet .sheet-navigation .item.active pf1.css:396 -->
<!-- border-bottom: 3px solid #44191A; -->

<!-- Non active -->
<!-- .pf1.sheet .sheet-navigation .item	pf1.css:389 -->
<!-- border-bottom: 3px solid #b5b3a4; -->