<form class="{{cssClass}}" autocomplete="off">				
	<section>
		{{!-- SHeet Header --}}
		<header class="sheet-header">
			<img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" style="margin-bottom: 6px;"/>
			<section>
				<ul class="summary">
					<li class="summary-name-npc">
						<input name="name" type="text" value="{{actor.name}}" title="{{localize 'DND4EBETA.NameNPC'}}" placeholder="{{localize 'DND4EBETA.NameNPC'}}" onClick="this.select();"/>
					</li>
					<li class="summary-role-second">
						<select class="actor-role-second" name="data.details.role.secondary">
							{{#select data.details.role.secondary}}
							{{#each config.creatureRoleSecond as |label role|}}
								<option value="{{role}}">{{label}}</option>
							{{/each}}
							{{/select}}
						</select>
					</li>
					
					<li class="summary-role">
						<select class="actor-role-prim" name="data.details.role.primary">
							{{#select data.details.role.primary}}
							{{#each config.creatureRole as |label role|}}
								<option value="{{role}}">{{label}}</option>
							{{/each}}
							{{/select}}
						</select>
					</li>
					<li class="summary-leader">
						<label>Leader:</label>
						<input type="checkbox" name="data.details.role.leader" data-dtype="Boolean" {{checked data.details.role.leader}} title="{{localize 'DND4EBETA.leader'}}"/>
					</li>
					<li class="summary-level">
						<label>{{localize 'DND4EBETA.Level'}}</label>
						<input type="text" name="data.details.level" value="{{data.details.level}}" title="{{localize 'DND4EBETA.Level'}}" data-dtype="Number" onClick="this.select();"/>
					</li>
				</ul>
	
				<ul class="summary">
					<li class="summary-size">
						<select class="actor-size" name="data.details.size">
							{{#select data.details.size}}
							{{#each config.actorSizes as |label size|}}
								<option value="{{size}}">{{label}}</option>
							{{/each}}
							{{/select}}
						</select>
					</li>
					<li class="summary-origin">
						<select class="actor-size" name="data.details.origin">
							{{#select data.details.origin}}
							{{#each config.creatureOrigin as |label origin|}}
								<option value="{{origin}}">{{label}}</option>
							{{/each}}
							{{/select}}
						</select>
					</li>
					<li class="summary-type">
						<select class="actor-size" name="data.details.type">
							{{#select data.details.type}}
							{{#each config.creatureType as |label type|}}
								<option value="{{type}}">{{label}}</option>
							{{/each}}
							{{/select}}
						</select>
					</li>
					<li class="summary-typeother">
						<input name="data.details.other" type="text" value="{{data.details.other}}" title="{{localize 'DND4EBETA.Other'}} Types" placeholder="{{localize 'DND4EBETA.Other'}} Types" onClick="this.select();"/>
					</li>
				
					<li class="summary-exp">
						<label>{{localize 'DND4EBETA.Exp'}}</label>
						<input type="text" name="data.details.exp" value="{{data.details.exp}}" title="{{localize 'DND4EBETA.Exp'}}" data-dtype="Number" onClick="this.select();"/>
					</li>
				</ul>
			</section>

		</header>

		<section class="">
			<div class="flexrow">
				<div class="flexcol" style="flex-basis: 12px;">
					<div class="" style="max-width: 180px; display:inline;position: relative;top: -4px;">
						<Strong title="{{localize 'DND4EBETA.HP'}}">{{localize 'DND4EBETA.HPShort'}}:</Strong>
						<input style="max-width: 40px; text-align: center;" {{#if data.details.isBloodied}} class="bloodied" {{/if}} type="text" name="data.attributes.hp.value" value="{{data.attributes.hp.value}}" title="{{localize 'DND4EBETA.HPCurrent'}}" placeholder="Current" data-dtype="Number" onClick="this.select();"/>
						<span class="sep">/</span>
						<input style="max-width: 40px; text-align: center;" type="text" name="data.attributes.hp.max" value="{{data.attributes.hp.max}}" title="{{localize 'DND4EBETA.HPTotal'}}" placeholder="Total" data-dtype="Number" onClick="this.select();"/>
					</div>
					<div style="position: relative;top: -5px; max-height: 26px;">
						<span title="{{localize 'DND4EBETA.TempHPTip'}}">{{localize 'DND4EBETA.Temp'}}:</span>
						<input style="max-width: 30px; text-align: left;" type="text" name="data.attributes.temphp.value" value="{{data.attributes.temphp.value}}" title="{{localize 'DND4EBETA.TempHPTip'}}"  placeholder=0 data-dtype="Number" onClick="this.select();"/>
						<a class="rest short-rest npc" title="{{localize 'DND4EBETA.RestShort'}}">{{ localize "DND4EBETA.RestS" }}</a>
						<a class="rest long-rest npc" title="{{localize 'DND4EBETA.RestLong'}}">{{ localize "DND4EBETA.RestL" }}</a>

					</div>
					<div data-defence="ac" style="display: inline-block; min-height: 24px; position: relative;top: -2px;">
						<strong class="attribute-display def-name rollable" title="{{localize 'DND4EBETA.Roll'}} {{data.defences.ac.title}} {{localize 'DND4EBETA.Save'}}">{{data.defences.ac.label}}</strong>
						{{#if data.advancedCals}}
						<label class="attribute-name defence-bonus rollable" title="{{localize 'DND4EBETA.BonusesTo'}} {{data.defences.ac.title}}">{{data.defences.ac.value}}</label>
						<label>Base:</label>
						<input style="max-width: 40px;" name="data.defences.ac.base" value="{{data.defences.ac.base}}" data-dtype="Number" onfocus="this.select()">
						{{else}}
						<input class="attribute-name" style="max-width: 40px;" name="data.defences.ac.base" value="{{data.defences.ac.base}}" data-dtype="Number" onfocus="this.select()">
						{{/if}}
					</div>
				</div>


				<div class="flexcol npc">
					<div style="flex: 1;" class="ability--score " data-ability="str">
						<strong class="ability-name rollable" title="{{data.abilities.str.label }}">{{localize 'DND4EBETA.AbilStr'}}</strong>
						<input class="ability-score" style="max-width: 40px;" name="data.abilities.str.value"data-dtype="Number" value="{{data.abilities.str.value}}" onfocus="this.select()" placeholder="10"/>
						{{#if data.halfLevelOptions}}
						<label class="attribute-display ability-mod-half" title="{{data.abilities.str.label }}">{{numberFormat data.abilities.str.mod decimals=0 sign=true}}</label>
						{{else}}
						<label class="attribute-display ability-mod-half" title="{{data.abilities.str.label }}">{{numberFormat data.abilities.str.modHalf decimals=0 sign=true}}</label>
						{{/if}}
					</div>

					<div style="flex: 1;" class="ability--score" data-ability="con">
						<strong class="ability-name rollable" title="{{data.abilities.con.label }}">{{localize 'DND4EBETA.AbilCon'}}</strong>
						<input class="ability-score" style="max-width: 40px;" name="data.abilities.con.value" data-dtype="Number" value="{{data.abilities.con.value}}" onfocus="this.select()" placeholder="10"/>
						{{#if data.halfLevelOptions}}
						<label class="attribute-display ability-mod-half" title="{{data.abilities.con.label }}">{{numberFormat data.abilities.con.mod decimals=0 sign=true}}</label>
						{{else}}
						<label class="attribute-display ability-mod-half" title="{{data.abilities.con.label }}">{{numberFormat data.abilities.con.modHalf decimals=0 sign=true}}</label>
						{{/if}}
					</div>
					<div class="" data-defence="fort" style="display: inline-block; min-height: 24px;">
						<strong class="attribute-display def-name rollable" title="{{localize 'DND4EBETA.Roll'}} {{data.defences.fort.title}} {{localize 'DND4EBETA.Save'}}">{{data.defences.fort.label}}</strong>

						{{#if data.advancedCals}}
						<label class="attribute-name defence-bonus rollable" title="{{localize 'DND4EBETA.BonusesTo'}} {{data.defences.fort.title}}">{{data.defences.fort.value}}</label>
						<label>Base:</label>
						<input style="max-width: 40px;" name="data.defences.fort.base" value="{{data.defences.fort.base}}" data-dtype="Number" onfocus="this.select()">							
						{{else}}
						<input class="attribute-name" style="max-width: 40px;" name="data.defences.fort.base" value="{{data.defences.fort.base}}" data-dtype="Number" onfocus="this.select()">
						{{/if}}

					</div>

				</div>

				<div class="flexcol npc">
					<div style="flex: 1;" class="ability--score" data-ability="dex">
						<strong class="ability-name rollable" title="{{data.abilities.dex.label }}">{{localize 'DND4EBETA.AbilDex'}}</strong>
						<input class="ability-score" style="max-width: 40px;" name="data.abilities.dex.value" data-dtype="Number" value="{{data.abilities.dex.value}}" onfocus="this.select()" placeholder="10"/>
						{{#if data.halfLevelOptions}}
						<label class="attribute-display ability-mod-half" title="{{data.abilities.dex.label }}">{{numberFormat data.abilities.dex.mod decimals=0 sign=true}}</label>
						{{else}}
						<label class="attribute-display ability-mod-half" title="{{data.abilities.dex.label }}">{{numberFormat data.abilities.dex.modHalf decimals=0 sign=true}}</label>
						{{/if}}
					</div>

					<div style="flex: 1;" class="ability--score" data-ability="int">
						<strong class="ability-name rollable" title="{{data.abilities.int.label }}">{{localize 'DND4EBETA.AbilInt'}}</strong>
						<input class="ability-score" style="max-width: 40px;" name="data.abilities.int.value" data-dtype="Number" value="{{data.abilities.int.value}}" onfocus="this.select()" placeholder="10"/>
						{{#if data.halfLevelOptions}}
						<label class="attribute-display ability-mod-half" title="{{data.abilities.int.label }}">{{numberFormat data.abilities.int.mod decimals=0 sign=true}}</label>
						{{else}}
						<label class="attribute-display ability-mod-half" title="{{data.abilities.int.label }}">{{numberFormat data.abilities.int.modHalf decimals=0 sign=true}}</label>
						{{/if}}
					</div>
					<div class="" data-defence="ref" style="display: inline-block; min-height: 24px;">
						<strong class="attribute-display def-name rollable" title="{{localize 'DND4EBETA.Roll'}} {{data.defences.ref.title}} {{localize 'DND4EBETA.Save'}}">{{data.defences.ref.label}}</strong>
						{{#if data.advancedCals}}
						<label class="attribute-name defence-bonus rollable" title="{{localize 'DND4EBETA.BonusesTo'}} {{data.defences.ref.title}}">{{data.defences.ref.value}}</label>
						<label>Base:</label>
						<input style="max-width: 40px;" name="data.defences.ref.base" value="{{data.defences.ref.base}}" data-dtype="Number" onfocus="this.select()">
						{{else}}
						<input class="attribute-name" style="max-width: 40px;" name="data.defences.ref.base" value="{{data.defences.ref.base}}" data-dtype="Number" onfocus="this.select()">
						{{/if}}
					</div>
				</div>

				<div class="flexcol npc">
					<div style="flex: 1;" class="ability--score" data-ability="wis">
						<strong class="ability-name rollable" title="{{data.abilities.wis.label }}">{{localize 'DND4EBETA.AbilWis'}}</strong>
						<input class="ability-score" style="max-width: 40px;" name="data.abilities.wis.value" data-dtype="Number" value="{{data.abilities.wis.value}}" onfocus="this.select()" placeholder="10"/>
						{{#if data.halfLevelOptions}}
						<label class="attribute-display ability-mod-half" title="{{data.abilities.wis.label }}">{{numberFormat data.abilities.wis.mod decimals=0 sign=true}}</label>
						{{else}}
						<label class="attribute-display ability-mod-half" title="{{data.abilities.wis.label }}">{{numberFormat data.abilities.wis.modHalf decimals=0 sign=true}}</label>
						{{/if}}					</div>

					<div style="flex: 1;" class="ability--score" data-ability="cha">
						<strong class="ability-name rollable" title="{{data.abilities.cha.label }}">{{localize 'DND4EBETA.AbilCha'}}</strong>
						<input class="ability-score" style="max-width: 40px;" name="data.abilities.cha.value" data-dtype="Number" value="{{data.abilities.cha.value}}" onfocus="this.select()" placeholder="10"/>
						{{#if data.halfLevelOptions}}
						<label class="attribute-display ability-mod-half" title="{{data.abilities.cha.label }}">{{numberFormat data.abilities.cha.mod decimals=0 sign=true}}</label>
						{{else}}
						<label class="attribute-display ability-mod-half" title="{{data.abilities.cha.label }}">{{numberFormat data.abilities.cha.modHalf decimals=0 sign=true}}</label>
						{{/if}}
					</div>
					<div class="" data-defence="wil" style="display: inline-block; min-height: 24px;">
						<strong class="attribute-display def-name rollable" title="{{localize 'DND4EBETA.Roll'}} {{data.defences.wil.title}} {{localize 'DND4EBETA.Save'}}">{{data.defences.wil.label}}</strong>
						{{#if data.advancedCals}}
						<label class="attribute-name defence-bonus rollable" title="{{localize 'DND4EBETA.BonusesTo'}} {{data.defences.wil.title}}">{{data.defences.wil.value}}</label>
						<label>Base:</label>
						<input style="max-width: 40px;" name="data.defences.wil.base" value="{{data.defences.wil.base}}" data-dtype="Number" onfocus="this.select()">	
						{{else}}
						<input class="attribute-name" style="max-width: 40px;" name="data.defences.wil.base" value="{{data.defences.wil.base}}" data-dtype="Number" onfocus="this.select()">
						{{/if}}

					</div>
				</div>

				<div class="flexcol">
					<div class="flexrow" data-skill="prc">
						<strong class="skill-name rollable" style="max-width: 120px;">{{data.skills.prc.label}}</strong>
						<label class="skill-mod skill-bonus rollable">{{numberFormat data.skills.prc.total decimals=0 sign=true }}</label>
					</div>

					<div>
						<strong class="rollInitiative rollable" >{{localize 'DND4EBETA.Initiative'}}</strong>
						<label class="init-bonus rollable" title="{{localize 'DND4EBETA.InitiativeScore'}}">{{numberFormat data.attributes.init.value decimals=0 sign=true }}</label>
					</div>
					<hr></hr>
				</div>

			</div>

			<div style="display: flex;justify-content: space-between;">
				<!-- <div class="" style="max-width: 280px; display: inline-block;">
					{{#each data.defences as | def d|}}
					<div class="" data-defence="{{d}}" style="display: inline-block;">
						<strong class="attribute-display def-name rollable" title="{{localize 'DND4EBETA.Roll'}} {{def.title}} {{localize 'DND4EBETA.Save'}}">{{def.label}}</strong>
						<label class="attribute-name defence-bonus rollable" title="{{localize 'DND4EBETA.BonusesTo'}} {{def.title}}">{{def.value}}</label>
					</div>
					{{/each}}
				</div> -->
	
				<!-- <div class="flexrow" data-skill="prc">
					<h4 class="skill-name rollable">{{data.skills.prc.label}}</h4>
					<input type="hidden" name="data.skills.prc.value" value="{{data.skills.prc.value}}" data-dtype="Number">
					<label class="skill-mod skill-bonus rollable">{{numberFormat data.skills.prc.total decimals=0 sign=true }}</label>
				</div> -->
			</div>

			<div style="display: flex;justify-content: space-between;">
			
			</div>

			<div class="flexrow">	
				<div title="{{moveTitle}}">
					<strong class="movement-dialog rollable">{{localize 'DND4EBETA.Speed'}}</strong>
					<lable class="movement-dialog rollable" style="text-transform:initial;">{{numberFormat data.movement.walk.value}} sq.</lable>
					{{#each data.moveCustom as |v k|}}
					<li class="tag {{k}}">{{v}}</li>
					{{/each}}
				</div>
	
				<div>
					<a class="trait-selector-senses" data-options="special" data-target="data.senses.special">
						<span>{{ localize "DND4EBETA.SpecialSenses" }}:</span>
						<i class="fas fa-edit"></i>
					</a>
					{{#each data.senses.special.selected as |v k|}}
						<li class="tag {{k}}">{{v}}</li>
					{{/each}}
				</div>
			</div>


			<div style="display:inline; margin-right: 25px;">
				<img class="roll-save rollable" style="border: 0px; position: relative; top: 4px" src="icons/svg/d20-grey.svg" width="20" height="20" title="{{localize 'DND4EBETA.SavingThrow'}}"/>
				<label class="roll-save-bonus rollable" title="{{localize 'DND4EBETA.SavingThrowBonus'}}">{{localize 'DND4EBETA.ActionSave'}}</label>
			</div>

			<div style="display:inline; margin-right: 25px;">
				<lable class="rest action-point rollable" title="{{localize 'DND4EBETA.ActionPointUse'}}">{{localize "DND4EBETA.ActionPointUse"}}</lable>
				<input style="max-width: 40px; text-align: center;" type="text" name="data.actionpoints.value" value="{{data.actionpoints.value}}" title="{{localize 'DND4EBETA.ActionPointsRemain'}}" data-dtype="Number" onClick="this.select();" placeholder="0"/>
			</div>

			<div style="display:inline; margin-right: 25px;">
				<label>Healing Surges</label>
				<div class="attribute-sub attribute-input" style="display:inline;">
					<input style="max-width: 40px; text-align: center;" type="text" name="data.details.surges.value" value="{{data.details.surges.value}}" title="{{localize 'DND4EBETA.SurgeCur'}}"  placeholder="Current" data-dtype="Number" onClick="this.select();"/>
				</div>
				<span class="sep">/</span>
				<div class="attribute-sub attribute-input" style="display:inline;">
					<input style="max-width: 40px; text-align: center;" type="text" name="data.details.surges.max" value="{{data.details.surges.max}}" title="{{localize 'DND4EBETA.SurgeDay'}}"  placeholder="Total" data-dtype="Number" onClick="this.select();"/>
				</div>
			</div>

			<div style="display:inline; float:right;">
				<span title="Auto Calculate Defences & Skill, or just use flat numbers.">Advanced Math Options:</span>
				<input style="position: relative; top:5px;" type="checkbox" name="data.advancedCals" data-dtype="Boolean" {{checked data.advancedCals}} title="{{localize 'DND4EBETA.advancedCals'}}"/>
			</div>

			<div class="flexrow">
				<div style="display:flex;flex-direction:row; max-width: 180px;">
					<label for="alignment">{{localize 'DND4EBETA.Alignment'}}:</label>
					<input style="flex:1; position:relative; top:-5px;" id="alignment" type="text" name="data.details.alignment" value="{{data.details.alignment}}" title="{{localize 'DND4EBETA.Alignment'}}"  placeholder="{{localize 'DND4EBETA.AlignmentUN'}}" onClick="this.select();"/>
				</div>
				<div >
					<h4 hidden class="attribute-name box-title">{{localize 'DND4EBETA.SpokenLanguage'}}</h4>
					<a class="trait-selector" data-options="spoken" data-target="data.languages.spoken">
						<span>{{ localize "DND4EBETA.SpokenLanguage" }}:</span>
						<i class="fas fa-edit"></i>
					</a>
					{{#each data.languages.spoken.selected as |v k|}}
						<li class="tag {{k}}">{{v}}</li>
					{{/each}}
				</div>	

			</div>



		</section>

	</section>

	<section class="section section--tabs flexshrink npc">

		{{!-- Sheet Tab Navigation --}}
		<nav class="sheet-tabs tabs" data-group="primary">
			<a class="item" data-tab="biography">{{localize 'DND4EBETA.Biography'}}</a>
			<a class="item " data-tab="skills">{{localize 'DND4EBETA.Skills'}}</a>
			<a class="item " data-tab="powers">{{localize 'DND4EBETA.Powers'}}</a>
			<a class="item" data-tab="inventory">{{localize 'DND4EBETA.Inventory'}}</a>
			<a class="item" data-tab="features">{{localize 'DND4EBETA.Feats'}}</a>
			<a class="item" data-tab="effects">{{localize 'DND4EBETA.Effects'}}</a>
		</nav>
	</section>
	<section class="sheet-body section--tabs-content">
		{{!-- Biography Tab --}}
		<div class="tab biography" data-group="primary" data-tab="biography">
			{{> "systems/dnd4e/templates/actors/parts/actor-biography.html" sections=biography}}
		</div>

		{{!-- Skills Tab --}}
		<div class="tab inventory" data-group="primary" data-tab="skills">
			<ol class="items-list inventory-list" style="height: 100%;">
				<section class="section section--skills">

					{{#if data.advancedCals}}
						{{#each data.skills as |skill s|}}
						<div class="skill--block flexrow" data-skill="{{s}}">
							<a class="training-toggle skill-training" title="{{skill.hover}}">{{{skill.icon}}}</a>
							<h4 class="skill-name rollable">{{skill.label}}</h4>
							<input type="hidden" name="data.skills.{{s}}.value" value="{{skill.value}}" data-dtype="Number">
							<label class="skill-mod skill-bonus rollable">{{numberFormat skill.total decimals=0 sign=true }}</label>
							<!-- <a class="skill-mod skill-bonus" data-target="data.details" title="Skill Bonus">{{skill.sklBonusValue}}</a> -->
							<label style="max-width: 70px; margin-left: 10px;">Base: 
								<input class="skill-mod" style="color: #7a7971; max-width: 30px; text-align: left;" name="data.skills.{{s}}.base" value="{{skill.base}}" data-dtype="Number">
							</label>
						</div>
						{{/each}}
					{{else}}
						{{#each data.skills as |skill s|}}
						<div class="skill--block flexrow" data-skill="{{s}}">
							<h4 class="skill-name rollable">{{skill.label}}</h4>
							<input type="hidden" name="data.skills.{{s}}.value" value="{{skill.value}}" data-dtype="Number">
							<input class="skill-mod" style="color: #7a7971; max-width: 30px; text-align: left;" name="data.skills.{{s}}.base" value="{{skill.base}}" data-dtype="Number">
						</div>
						{{/each}}
					{{/if}}
				</section>
			</ol>
		</div>

		{{!-- Owned Inventory Tab --}}
		<div class="tab inventory npc" data-group="primary" data-tab="inventory">
			{{> "systems/dnd4e/templates/actors/parts/actor-inventory.html" sections=inventory}}
		</div>

		{{!-- Feat Tab --}}
		<div class="tab features npc" data-group="primary" data-tab="features">
			{{> "systems/dnd4e/templates/actors/parts/actor-features.html" sections=features}}
		</div>
		
		{{!-- Powers Tab --}}
		<div class="tab powers npc" data-group="primary" data-tab="powers">
			{{> "systems/dnd4e/templates/actors/parts/actor-powers.html" sections=powers}}
		</div>

		{{!-- Effects Tab --}}
		<div class="tab effects flexcol npc" data-group="primary" data-tab="effects">
			{{> "systems/dnd4e/templates/actors/parts/active-effects.html"}}
		</div>
	</section>


</form>