<div id="action-point-hd" class="dialog-content" onsubmit="event.preventDefault();">
	<fieldset>
        <legend>{{localize "DND4E.ActionPointSpend"}}</legend>
		<p>{{localize 'DND4E.ActionPointUseTo'}}:</p>
			<fieldset>
            <ul>
				<li>{{localize 'DND4E.ActionPointEffect'}}</li>

				{{#if system.actionpoints.custom}}
				{{#each extra as |e key|}}
				<li>{{e}}</li>
				{{/each}}
				{{/if}}
			</ul>
            </fieldset>
	</fieldset>
</div>
