<form id="action-point-hd" class="dialog-content" onsubmit="event.preventDefault();">
	<p>
		Spend one action point to gain an extra action.
		<!-- <li>Regain an amount of hitpoints equil to {{data.details.secondWindValue}}.</li>
		<li>Gain a +2 bonus to all defences until the start of your next turn.		</li> -->
	</p>
	
	<!-- <div class="form-group">
		<label>Situational bonus to surge?</label>
		<input type="text" name="bonus" value="" placeholder="{{ localize 'DND4EBETA.RollExample' }}"/>
	</div> -->

	<div class="dialog-buttons">
		<button type="submit" name="submit">Spend Action Point</button>
	</div>
</form>
