<form id="action-point-hd" class="dialog-content">
	<p>{{localize 'DND4EBETA.ActionPointRidersTip'}}</p>
	<textarea type="text" name="system.actionpoints.custom" value="{{system.actionpoints.custom}}" data-dtype="String" style="width: 100%; min-height: 10em; resize: vertical; border: none;" placeholder="Extra effects, 1 per line:" contentEditable>{{system.actionpoints.custom}}</textarea>
	<div class="dialog-buttons">
		<button type="submit" name="submit">{{localize 'DND4EBETA.Update'}} {{localize 'DND4EBETA.ActionPointRiders'}}</button>
	</div>
</form>
