<form id="action-point-hd" class="dialog-content">
	<p>Additional effects of spending an action point (from classes / features etc...).  One per line</p>
	<textarea type="text" name="data.actionpoints.custom" value="{{data.actionpoints.custom}}" data-dtype="String" style="width: 100%; min-height: 10em; resize: vertical; border: none;" placeholder="Extra effects, 1 per line:" contentEditable>{{data.actionpoints.custom}}</textarea>
	<div class="dialog-buttons">
		<button type="submit" name="submit">Update Action Point Riders</button>
	</div>
</form>
