<form id="action-point-hd" class="dialog-content">
	<p>{{localize 'DND4EALTUS.ActionPointRidersTip'}}</p>
	<textarea type="text" name="system.actionpoints.custom" value="{{system.actionpoints.custom}}" data-dtype="String"  placeholder="{{localize 'DND4EALTUS.ActionPointRidersTip'}}" contentEditable>{{system.actionpoints.custom}}</textarea>
	<div class="dialog-buttons">
		<button type="submit" name="submit">{{localize 'DND4EALTUS.Update'}} {{localize 'DND4EALTUS.ActionPointRiders'}}</button>
	</div>
</form>
