<form id="attribute-bonuses" class="dialog-content" onsubmit="event.preventDefault();" style="overflow-y: auto; overflow-x: hidden;">
	<!-- <span>Total Bonus to {{skill}}: SOMENUM</span> -->
	<!-- <a>+ Add New Bonus Button</a> -->
	{{#if options.skill}}
		<div>
			<span>{{localize 'DND4EBETA.SkillACPToggle'}}</span>
			<input type="checkbox" name="system.armourCheck" data-dtype="Boolean" {{checked system.armourCheck}} data-tooltip="{{localize 'DND4EBETA.SkillACPToggle'}}">
			{{#if system.armourCheck}}
			<span>{{localize 'DND4EBETA.ArmourSkillACP'}}</span>
			<span>{{system.armourPen}}</span>	
			{{/if}}
		</div>
	{{else if options.ac}}
		<span>{{localize 'DND4EBETA.DefModUse'}}: </span>
		<input type="checkbox" name="system.light" data-dtype="Boolean" {{checked system.light}} data-tooltip="{{localize 'DND4EBETA.DefModOverride'}}"/>
		<span>{{localize 'DND4EBETA.DefModOverride'}}: </span>
		<select name="system.altability">
			{{#select system.altability}}
			<option value="" >{{localize 'DND4EBETA.Default'}}</option>
			<option value="none" >{{localize 'DND4EBETA.None'}}</option>
			<option value="str" >{{localize 'DND4EBETA.AbilityStr'}}</option>
			<option value="con" >{{localize 'DND4EBETA.AbilityCon'}}</option>
			<option value="dex" >{{localize 'DND4EBETA.AbilityDex'}}</option>
			<option value="int" >{{localize 'DND4EBETA.AbilityInt'}}</option>
			<option value="wis" >{{localize 'DND4EBETA.AbilityWis'}}</option>
			<option value="cha" >{{localize 'DND4EBETA.AbilityCha'}}</option>
			{{/select}}
		</select>

	{{else if options.init}}
	<span data-tooltip="{{localize 'DND4EBETA.InitAbilityMod'}}">{{localize 'DND4EBETA.AbilityModifier'}}:</span>
	<select name="system.ability">
		{{#select system.ability}}
		<option value="" >{{localize 'DND4EBETA.None'}}</option>
		<option value="str" >{{localize 'DND4EBETA.AbilityStr'}}</option>
		<option value="con" >{{localize 'DND4EBETA.AbilityCon'}}</option>
		<option value="dex" >{{localize 'DND4EBETA.AbilityDex'}}</option>
		<option value="int" >{{localize 'DND4EBETA.AbilityInt'}}</option>
		<option value="wis" >{{localize 'DND4EBETA.AbilityWis'}}</option>
		<option value="cha" >{{localize 'DND4EBETA.AbilityCha'}}</option>
		{{/select}}
	</select>
	{{else if options.secondWind}} 
	<div class="form-group stacked">
		<label>{{localize 'DND4EBETA.SecondWindSpecial'}}</label>
		<input type="text" name="system.custom" value="{{system.custom}}" data-dtype="String"/>
	</div>
	{{/if}}
	{{#each bonusData as |bonus b|}}
	<div class="bonus-part" data-bonus-part="{{b}}">
		<span>{{localize 'DND4EBETA.BonusName'}}:</span>
		<input type="text" name="{{b}}.name" value="{{bonus.name}}" data-dtype="String" style="width: 125px;"/>
		<span>{{localize 'DND4EBETA.Value'}}:</span>
		<input type="text" name="{{b}}.value" value="{{bonus.value}}" data-dtype="String" style="width: 105px;"/>
		<span>{{localize 'DND4EBETA.Active'}}: </span>
		<input type="checkbox" name="{{b}}.active" data-dtype="Boolean" {{checked bonus.active}} data-tooltip="{{localize 'DND4EBETA.BonusToggle'}}">
		<a class="bonus-control bonus-delete" data-tooltip="{{localize 'DND4EUI.Delete'}}" style="margin: 0 5px; position: relative; top: -4px;" ><i class="fas fa-trash"></i></a>
		<textarea type="text" name="{{b}}.note" value="{{bonus.note}}" data-dtype="String" style="width: 100%; min-height: 1em; resize: vertical; border: none;" placeholder="{{localize 'DND4EBETA.Notes'}}" contentEditable>{{bonus.note}}</textarea>
	</div>
	{{/each}}

	<div><a class="bonus-control bonus-add">{{localize 'DND4EUI.AddNew'}}</a></div>
	<button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{ localize "DND4EBETA.Save"}}</button>

</form>
