<form id="custom-roll-descriptions" class="dialog-content" onsubmit="event.preventDefault();" style="overflow-y: auto;">

    {{!-- Ability --}}
    {{#each system.abilities as |ability a|}}
    <div style="width: 99.5%;">
        <span>{{ability.label}} {{localize 'DND4EBETA.Ability'}}</span>
        <input class="stat-chat" name="system.abilities.{{a}}.chat" type="text" value="{{ability.chat}}" onClick="this.select();"/>
    </div>
    {{/each}}

    {{!-- Skills --}}
    {{#each system.skills as |skills s|}}
    <div style="width: 99.5%;">
        <span>{{skills.label}} {{localize 'DND4EBETA.Skill'}}</span>
        <input class="stat-chat" name="system.skills.{{s}}.chat" type="text" value="{{skills.chat}}" onClick="this.select();"/>
    </div>
    {{/each}}
    
    {{!-- Defences --}}
    {{#each system.defences as |defences d|}}
    <div style="width: 99.5%;">
        <span>{{defences.label}} {{localize 'DND4EBETA.Defence'}}</span>
        <input class="stat-chat" name="system.defences.{{d}}.chat" type="text" value="{{defences.chat}}" onClick="this.select();"/>
    </div>
    {{/each}}

    <button style="width: 99.5%;" type="submit" name="submit" value="1"><i class="far fa-save"></i> {{ localize "DND4EBETA.Save"}}</button>
</form>