<form id="custom-skill-config" class="dialog-content" onsubmit="event.preventDefault();">


	<ol id="custom-skill-list" class="custom-skill-list">
		<li class="custom-skill flexrow custom-skill-header">

		</li>
	</ol>

	<a class="custom-skill-control custom-skill-add" custom-skill-create>{{localize 'DND4EUI.AddNewSkill'}} <i class="fas fa-plus"></i></a>

	<footer class="sheet-footer flexrow">
		<button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{ localize "DND4EBETA.Save"}}</button>
		<button type="button" data-cancel name="cancel"><i class="fas fa-ban"></i> {{ localize "DND4EBETA.Cancel"}}</button>
	</footer>
</form>
