<form id="encumbrance-dialog" class="dialog-content" onsubmit="event.preventDefault();">

	<div class="form-group base"  data-movement="walk">
		<span title="Heaviest Weight you can normaly move without penalty." style="margin-right: 4px;"><b>{{data.encumbrance.max}} lbs.</b> Normal Carry Load:</span>
		<input type="text" name="data.encumbrance.formulaNorm" value="{{data.encumbrance.formulaNorm}}" title="Heaviest Weight you can normaly move without penalty." placeholder="0"/>
	</div>

	<div class="form-group base"  data-movement="walk">
		<span title="Maximum weight you can lift off the ground, requires both hands and you will be considered slowed." style="margin-right: 4px;"><b>{{data.encumbrance.maxHeavy}} lbs.</b> Heavy Carry Load:</span>
		<input type="text" name="data.encumbrance.formulaHeavy" value="{{data.encumbrance.formulaHeavy}}" title="Maximum weight you can lift off the ground, requires both hands and you will be considered slowed." placeholder="0"/>
	</div>


	<div class="form-group base"  data-movement="walk">
		<span title="The most weight you can push or drag along the ground." style="margin-right: 4px;"><b>{{data.encumbrance.maxMax}} lbs.</b> Max Move Load:</span>
		<input type="text" name="data.encumbrance.formulaMax" value="{{data.encumbrance.formulaMax}}" title="The most weight you can push or drag along the ground." placeholder="0"/>
	</div>

	<button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{ localize "DND4EBETA.Save"}}</button>
</form>