<form id="encumbrance-dialog" class="dialog-content" onsubmit="event.preventDefault();">

	<div class="form-group base"  data-movement="walk">
		<span data-tooltip="{{localize 'DND4EBETA.LoadNormalTip'}}" style="margin-right: 4px;"><b>{{system.encumbrance.max}} {{localize 'DND4EBETA.AbbreviationLbs'}}</b> {{localize 'DND4EBETA.LoadNormal'}}:</span>
		<input type="text" name="system.encumbrance.formulaNorm" value="{{system.encumbrance.formulaNorm}}" data-tooltip="{{localize 'DND4EBETA.LoadNormalTip'}}" placeholder="0"/>
	</div>

	<div class="form-group base"  data-movement="walk">
		<span data-tooltip="{{localize 'DND4EBETA.LoadHeavyTip'}}" style="margin-right: 4px;"><b>{{system.encumbrance.maxHeavy}} {{localize 'DND4EBETA.AbbreviationLbs'}}</b> {{localize 'DND4EBETA.LoadHeavy'}}:</span>
		<input type="text" name="system.encumbrance.formulaHeavy" value="{{system.encumbrance.formulaHeavy}}" data-tooltip="{{localize 'DND4EBETA.LoadHeavyTip'}}" placeholder="0"/>
	</div>


	<div class="form-group base"  data-movement="walk">
		<span data-tooltip="{{localize 'DND4EBETA.LoadDragTip'}}" style="margin-right: 4px;"><b>{{system.encumbrance.maxMax}} {{localize 'DND4EBETA.AbbreviationLbs'}}</b> {{localize 'DND4EBETA.LoadDrag'}}:</span>
		<input type="text" name="system.encumbrance.formulaMax" value="{{system.encumbrance.formulaMax}}" data-tooltip="{{localize 'DND4EBETA.LoadDragTip'}}" placeholder="0"/>
	</div>

	<button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{ localize "DND4EBETA.Save"}}</button>
</form>