<form id="heal-menu-dialog" class="dialog-content">
  <div class="form-group">
    <input type="checkbox" id="spend-healing-surge" name="spend-healing-surge" checked onchange="handleSpendSurgeChecked(this)">
    <label for="spend-healing-surge">{{localize "DND4EBETA.HealingMenuSpendHealingSurge"}}</label>
  </div>
  <p>{{localize "DND4EBETA.HealingMenuSpendHealingSurgeDesc"}}</p>
  <div class="form-group">
    <input type="checkbox" id="gain-healing-surge-value" name="gain-healing-surge-value" checked>
    <label for="gain-healing-surge-value">{{localize "DND4EBETA.HealingMenuGainSurgeValue"}}</label>
  </div>
  <p>{{localize "DND4EBETA.HealingMenuGainSurgeValueDesc"}}</p>
  <div class="form-group">
    <label>Situational bonus healing</label>
    <input type="text" id="bonus" name="bonus" value="" placeholder="{{ localize 'DND4EBETA.RollExample' }}"/>
  </div>
  <hr/>
  <div class="form-group">
    <label>Quick Settings</label>
    <a onclick="healingPotionSettingsClicked()" class="fakebutton" title="{{ localize 'DND4EBETA.HealingMenuHealingPotionSettingsDetails' }}">{{ localize "DND4EBETA.HealingMenuHealingPotionSettings" }}</a>
  </div>
  <hr/>
  <button id="healButton" onclick="healButtonClicked()">{{ localize "DND4EBETA.HealingMenuHealHP" }}</button>
  <button id="tempHpButton" onclick="tempHPButtonClicked()">{{ localize "DND4EBETA.HealingMenuGainTempHP" }}</button>
  <input type="hidden" id="hpMax" value="{{hpMax}}"/>
  <input type="hidden" id="hasSurges" value="{{constHasSurges}}"/>
  <input type="hidden" id="heal-type" name="heal-type" value="heal">
</form>

<script>
  function healButtonClicked() {
    document.getElementById("heal-type").value = "heal";
  }

  function tempHPButtonClicked() {
    document.getElementById("heal-type").value = "tempHP";
  }

  function healingPotionSettingsClicked() {
    document.getElementById("spend-healing-surge").checked = true
    document.getElementById("gain-healing-surge-value").checked = false
    document.getElementById("bonus").value = 10
    buttonEnabledLogic()
  }

  function buttonEnabledLogic() {
    let hpButtonEnabled = true
    let hpButtonText = game.i18n.localize("DND4EBETA.HealingMenuHealHP");
    let tempHPButtonEnabled = true
    let tempHPButtonText = game.i18n.localize("DND4EBETA.HealingMenuGainTempHP");
    let evaluateFurtherHPButton = true
    if (document.getElementById('hpMax').value === "true") {
      hpButtonEnabled = false
      hpButtonText = game.i18n.localize("DND4EBETA.HealingMenuAtMaxHP");
      evaluateFurtherHPButton = false
    }

    if (document.getElementById('spend-healing-surge').checked === true) {
      if (document.getElementById('hasSurges').value === "false") {
        tempHPButtonEnabled = false
        tempHPButtonText = game.i18n.localize("DND4EBETA.HealingMenuOutOfSurges");
        if (evaluateFurtherHPButton) {
          hpButtonEnabled = false
          hpButtonText = game.i18n.localize("DND4EBETA.HealingMenuOutOfSurges");
        }
      }

    }
    setButton('healButton', hpButtonEnabled, hpButtonText)
    setButton('tempHpButton', tempHPButtonEnabled, tempHPButtonText)
  }

  function setButton(buttonId, enabled, text) {
    const button = document.getElementById(buttonId)
    button.innerHTML = text
    if (enabled) {
      button.removeAttribute("disabled")
    }
    else {
      button.setAttribute("disabled", "true")
    }
  }

  function handleSpendSurgeChecked() {
    buttonEnabledLogic()
  }

  buttonEnabledLogic()
</script>
