<form autocomplete="off" onsubmit="event.preventDefault();">
	<div>
		<input type="checkbox" name="system.attributes.hp.autototal" data-dtype="Boolean" {{checked system.attributes.hp.autototal}} title="{{localize 'DND4EALTUS.HPAuto'}}"/>
		<span>{{localize 'DND4EALTUS.HPAuto'}}</span>
	</div>
	<div>
		<input type="text" name="system.attributes.hp.starting" value="{{system.attributes.hp.starting}}" title="{{localize 'DND4EALTUS.HPBase'}}"  placeholder="0" data-dtype="Number" onClick="this.select();" style="width:40px; text-align: center;"/>
		<span title="{{localize 'DND4EALTUS.AbilityCon'}} {{localize 'DND4EALTUS.Score'}}" style="border-bottom: 1px dotted #000;" >+ {{system.abilities.con.value}}</span>
		<span>{{localize 'DND4EALTUS.HPFirst'}}</span>
	</div>
	<div>
		<input type="text" name="system.attributes.hp.perlevel" value="{{system.attributes.hp.perlevel}}" title="{{localize 'DND4EALTUS.HPPer'}}"  placeholder="0" data-dtype="Number" onClick="this.select();" style="width:40px; text-align: center;"/>
		<span>{{localize 'DND4EALTUS.HPPer'}}</span>
	</div>
	<div>
		<input type="text" name="system.attributes.hp.misc" value="{{system.attributes.hp.misc}}" title="{{localize 'DND4EALTUS.HPBonus'}}"  placeholder="0" data-dtype="Number" onClick="this.select();" style="width:40px; text-align: center;"/>
		<span>{{localize 'DND4EALTUS.HPBonus'}}</span>
	</div>
	
	<div>
		<input type="checkbox" name="system.attributes.hp.temprest" data-dtype="Boolean" {{checked system.attributes.hp.temprest}} title="{{localize 'DND4EALTUS.HPTempKeep'}}"/>
		<span>{{localize 'DND4EALTUS.HPTempKeep'}}?</span>
	</div>
		
	<button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{ localize "DND4EALTUS.Save"}}</button>

</form>
