<form autocomplete="off" onsubmit="event.preventDefault();">
	<div>
		<input type="checkbox" name="data.attributes.hp.autototal" data-dtype="Boolean" {{checked data.attributes.hp.autototal}} title="Auto Cal HP"/>
		<span>Automatically calculate total HP</span>
	</div>
	<div>
		<input type="text" name="data.attributes.hp.starting" value="{{data.attributes.hp.starting}}" title="HP at 1st Level"  placeholder="0" data-dtype="Number" onClick="this.select();" style="width:40px; text-align: center;"/>
		<span title="Constitution Score" style="border-bottom: 1px dotted #000;" >+ {{data.abilities.con.value}}</span>
		<span>Hit Points at 1st Level</span>

		
	</div>
	<div>
		<input type="text" name="data.attributes.hp.perlevel" value="{{data.attributes.hp.perlevel}}" title="HP per Level"  placeholder="0" data-dtype="Number" onClick="this.select();" style="width:40px; text-align: center;"/>
		<span>Hit Points per level gain</span>
	</div>
	<div>
		<input type="text" name="data.attributes.hp.misc" value="{{data.attributes.hp.misc}}" title="Misc HP"  placeholder="0" data-dtype="Number" onClick="this.select();" style="width:40px; text-align: center;"/>
		<span>Misc bonus Hit Points</span>
	</div>
	
	<div>
		<input type="checkbox" name="data.attributes.hp.temprest" data-dtype="Boolean" {{checked data.attributes.hp.temprest}} title="Keep Temp HP on short rest"/>
		<span>Keep temporary hit points on short rest?</span>
	</div>
		
	<button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{ localize "DND4EBETA.Save"}}</button>

</form>
