<form id="long-rest" class="dialog-content" onsubmit="event.preventDefault();">
	<p><strong>{{localize 'DND4EALTUS.LongRestTake'}}?</strong></p>
	<p>{{localize 'DND4EALTUS.LongRestHint'}}:</p>
	<ul>
		<li>{{localize 'DND4EALTUS.LongRestEffectHP'}}</li>
		<li>{{localize 'DND4EALTUS.LongRestEffectResources'}}</li>
		<li>{{localize 'DND4EALTUS.LongRestEffectAP'}}</li>
</ul>
	<p>{{localize 'DND4EALTUS.LongRestTakeSafe'}}?
		<select name="envi">
			<option value=true >{{localize 'DND4EUI.Yes'}}</option>
			<option value=false >{{localize 'DND4EUI.No'}}</option>
		</select>     
	</p>

	<div class="dialog-buttons">
		<button type="submit" name="submit">{{localize 'DND4EALTUS.LongRestTake'}}</button>
	</div>
</form>
