<form id="movement-dialog" class="dialog-content" onsubmit="event.preventDefault();">

	<div class="form-group base" data-movement="base">
		<span class="move-value"><strong>{{system.movement.base.value}} {{localize 'DND4EBETA.MovementUnit'}}</strong> {{localize 'DND4EBETA.MovementSpeedBase'}}:</span>
		<input type="text" name="system.movement.base.base" value="{{system.movement.base.base}}" data-tooltip="{{localize 'DND4EBETA.MovementSpeedBase'}}" data-dtype="Number" onClick="this.select();" placeholder="0"/>
		<a class="move-bonus" data-target="system.details" data-tooltip="{{localize 'DND4EBETA.MovementSpeedBase'}} {{localize 'DND4EBETA.Bonus'}}">{{localize 'DND4EBETA.Bonus'}}: {{system.movement.base.bonusValue}}</a>
		<span class="temp-label">{{localize 'DND4EBETA.Temp'}}:</span>
		<input class="temp-value" type="text" name="system.movement.base.temp" value="{{system.movement.base.temp}}" data-tooltip="{{localize 'DND4EBETA.MovementSpeedBase'}}" data-dtype="Number" onClick="this.select();" placeholder="0"/>
	</div>
	<footer class="flexrow">
		<span>{{localize 'DND4EBETA.Armour'}} {{localize 'DND4EBETA.ArmourMovePenelty'}}: {{system.movement.base.armour}}</span>
	</footer>

	<div class="form-group base" data-movement="walk">
		<span class="move-value" data-tooltip="{{localize 'DND4EBETA.MovementSpeedWalking'}}"><strong>{{system.movement.walk.value}} {{localize 'DND4EBETA.MovementUnit'}}</strong> {{localize 'DND4EBETA.MovementSpeedWalking'}}:</span>
		<input type="text" name="system.movement.walk.formula" value="{{system.movement.walk.formula}}" data-tooltip="{{localize 'DND4EBETA.MovementSpeedWalking'}}" onClick="this.select();" placeholder="0"/>
		<a class="move-bonus" data-target="system.details" data-tooltip="{{localize 'DND4EBETA.MovementSpeedWalking'}} {{localize 'DND4EBETA.Bonus'}}">{{localize 'DND4EBETA.Bonus'}}: {{system.movement.walk.bonusValue}}</a>
		<span class="temp-label">{{localize 'DND4EBETA.Temp'}}:</span>
		<input class="temp-value" type="text" name="system.movement.walk.temp" value="{{system.movement.walk.temp}}" data-tooltip="{{localize 'DND4EBETA.MovementSpeedWalking'}} Speed" data-dtype="Number" onClick="this.select();" placeholder="0"/>
	</div>

	<div class="form-group base"  data-movement="run">
		<span class="move-value" data-tooltip="{{localize 'DND4EBETA.MovementSpeedRunning'}}"><strong>{{system.movement.run.value}} {{localize 'DND4EBETA.MovementUnit'}}</strong> {{localize 'DND4EBETA.MovementSpeedRunning'}}:</span>
		<input type="text" name="system.movement.run.formula" value="{{system.movement.run.formula}}" data-tooltip="{{localize 'DND4EBETA.MovementSpeedRunning'}}" onClick="this.select();" placeholder="0"/>
		<a class="move-bonus" data-target="system.details" data-tooltip="{{localize 'DND4EBETA.MovementSpeedRunning'}} {{localize 'DND4EBETA.Bonus'}}">{{localize 'DND4EBETA.Bonus'}}: {{system.movement.run.bonusValue}}</a>
		<span class="temp-label">{{localize 'DND4EBETA.Temp'}}:</span>
		<input type="text" class="temp-value" name="system.movement.run.temp" value="{{system.movement.run.temp}}" data-tooltip="{{localize 'DND4EBETA.MovementSpeedRunning'}}" data-dtype="Number" onClick="this.select();" placeholder="0"/>
	</div>

	<div class="form-group base"  data-movement="charge">
		<span class="move-value" data-tooltip="Charge Movement Speed"><strong>{{system.movement.charge.value}} {{localize 'DND4EBETA.MovementUnit'}}</strong> {{localize 'DND4EBETA.MovementSpeedCharging'}}:</span>
		<input type="text" name="system.movement.charge.formula" value="{{system.movement.charge.formula}}" data-tooltip="{{localize 'DND4EBETA.MovementSpeedCharging'}}" onClick="this.select();" placeholder="0"/>
		<a class="move-bonus" data-target="system.details" data-tooltip="{{localize 'DND4EBETA.MovementSpeedCharging'}} {{localize 'DND4EBETA.Bonus'}}">{{localize 'DND4EBETA.Bonus'}}: {{system.movement.charge.bonusValue}}</a>
		<span class="temp-label">{{localize 'DND4EBETA.Temp'}}:</span>
		<input type="text" class="temp-value" name="system.movement.charge.temp" value="{{system.movement.charge.temp}}" data-tooltip="{{localize 'DND4EBETA.MovementSpeedCharging'}}" data-dtype="Number" onClick="this.select();" placeholder="0"/>
	</div>

	<div class="form-group base" data-movement="climb">
		<span class="move-value" data-tooltip="{{localize 'DND4EBETA.MovementSpeedClimbing'}}"><strong>{{system.movement.climb.value}} {{localize 'DND4EBETA.MovementUnit'}}</strong> {{localize 'DND4EBETA.MovementSpeedClimbing'}}:</span>
		<input type="text" name="system.movement.climb.formula" value="{{system.movement.climb.formula}}" data-tooltip="{{localize 'DND4EBETA.MovementSpeedClimbing'}}" onClick="this.select();" placeholder="0"/>
		<a class="move-bonus" data-target="system.details" data-tooltip="{{localize 'DND4EBETA.MovementSpeedClimbing'}} {{localize 'DND4EBETA.Bonus'}}">{{localize 'DND4EBETA.Bonus'}}: {{system.movement.climb.bonusValue}}</a>
		<span class="temp-label">{{localize 'DND4EBETA.Temp'}}:</span>
		<input type="text" class="temp-value" name="system.movement.climb.temp" value="{{system.movement.climb.temp}}" data-tooltip="{{localize 'DND4EBETA.MovementSpeedClimbing'}}" data-dtype="Number" onClick="this.select();" placeholder="0"/>
	</div>
	
	<div class="form-group base"  data-movement="shift">
		<span class="move-value" data-tooltip="{{localize 'DND4EBETA.MovementSpeedShifting'}}"><strong>{{system.movement.shift.value}} {{localize 'DND4EBETA.MovementUnit'}}</strong> {{localize 'DND4EBETA.MovementSpeedShifting'}}:</span>
		<input type="text" name="system.movement.shift.formula" value="{{system.movement.shift.formula}}" data-tooltip="{{localize 'DND4EBETA.MovementSpeedShifting'}}" onClick="this.select();" placeholder="0"/>
		<a class="move-bonus" data-target="system.details" data-tooltip="{{localize 'DND4EBETA.MovementSpeedShifting'}} {{localize 'DND4EBETA.Bonus'}}">{{localize 'DND4EBETA.Bonus'}}: {{system.movement.shift.bonusValue}}</a>
		<span class="temp-label">{{localize 'DND4EBETA.Temp'}}:</span>
		<input type="text" class="temp-value" name="system.movement.shift.temp" value="{{system.movement.shift.temp}}" data-tooltip="{{localize 'DND4EBETA.MovementSpeedShifting'}}" data-dtype="Number" onClick="this.select();" placeholder="0"/>
	</div>

	<move-value>{{ localize "DND4EBETA.TraitSelectorSpecial" }}</move-value>
	<input type="text" name="system.movement.custom" value="{{system.movement.custom}}" data-dtype="String"/>	
	<textarea type="text" name="system.movement.notes" value="{{system.movement.notes}}" data-dtype="String" placeholder="{{localize 'DND4EBETA.Notes'}}" contentEditable>{{system.movement.notes}}</textarea>

	<button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{ localize "DND4EBETA.Save"}}</button>
</form>