<form id="second-wind-hd" class="dialog-content" onsubmit="event.preventDefault();">
	<p><strong>{{localize 'DND4EALTUS.SecondWindUse'}}?</strong></p>
	<p>{{localize 'DND4EALTUS.SecondWindTip'}}:</p>
	<ul>
		<li>{{localize 'DND4EALTUS.Regain'}} {{system.details.secondWindValue}} {{localize 'DND4EALTUS.HP'}}</li>
		<li>{{localize 'DND4EALTUS.SecondWindEffect'}}</li>
	
		{{#if system.details.secondwindbon.custom}}
			{{#each extra as |e key|}}
			<li>{{e}}</li>
			{{/each}}
		{{/if}}
	</ul>
	<div class="form-group">
			<label>{{localize 'DND4EALTUS.HealingMenuSituational'}}?</label>
			<input type="text" name="bonus" value="" placeholder="{{ localize 'DND4EALTUS.RollExample' }}"/>
	</div>

	<div class="dialog-buttons">
	<button id="secondWindButton" type="submit" name="submit">{{localize 'DND4EALTUS.SecondWind'}}</button>
	</div>
    <input type="hidden" id="surges" value="{{system.details.surges.value}}"/>
</form>

<script>

  function buttonEnabledLogic() {
      let swButtonEnabled = true;
      let swButtonText = game.i18n.localize("DND4EALTUS.SecondWind");

      if (Number(document.getElementById('surges').value) <= 0) {
          swButtonEnabled = false;
          swButtonText = game.i18n.localize("DND4EALTUS.HealingMenuOutOfSurges");
      }

      setButton('secondWindButton', swButtonEnabled, swButtonText);
  }

  function setButton(buttonId, enabled, text) {
      const button = document.getElementById(buttonId);
      button.innerHTML = text;

      if (enabled) {
          button.removeAttribute("disabled");
      } else {
          button.setAttribute("disabled", "true");
    }
  }

  buttonEnabledLogic();
</script>
