<form id="second-wind-hd" class="dialog-content" onsubmit="event.preventDefault();">
	<p><strong>{{localize 'DND4EBETA.SecondWindUse'}}?</strong></p>
	<p>{{localize 'DND4EBETA.SecondWindTip'}}:</p>
	<ul>
		<li>{{localize 'DND4EBETA.Regain'}} {{system.details.secondWindValue}} {{localize 'DND4EBETA.HP'}}</li>
		<li>{{localize 'DND4EBETA.SecondWindEffect'}}</li>
	
		{{#if system.details.secondwindbon.custom}}
			{{#each extra as |e key|}}
			<li>{{e}}</li>
			{{/each}}
		{{/if}}
	</ul>
	<div class="form-group">
			<label>{{localize 'DND4EBETA.HealingMenuSituational'}}?</label>
			<input type="text" name="bonus" value="" placeholder="{{ localize 'DND4EBETA.RollExample' }}"/>
	</div>

	<div class="dialog-buttons">
	<button type="submit" name="submit">{{localize 'DND4EBETA.SecondWind'}}</button>
	</div>
</form>
