<form id="short-rest-hd" class="dialog-content" onsubmit="event.preventDefault();">
    <p>
		Spend one healing surge to gain the follow effects:
		<li>Regain an amount of hitpoints equil to {{data.details.secondWindValue}}.</li>
		<li>Ggain a +2 bonus to all defenses until the start of your next turn.		</li>
	</p>
	
    <div class="form-group">
        <label>Situational bonus to healing?</label>
        <input type="text" name="bonus" value="" placeholder="{{ localize 'DND4EALTUS.RollExample' }}"/>
    </div>

    <div class="dialog-buttons">
		<button type="submit" name="submit">Second Wind</button>
    </div>
</form>
