<form id="short-rest" class="dialog-content" onsubmit="event.preventDefault();">
	<p><strong>{{localize 'DND4EBETA.ShortRestTake'}}?</strong></p>
	<p>{{localize 'DND4EBETA.ShortRestHint'}}:</p>
	<ul>
		<li>{{localize 'DND4EBETA.ShortRestEffectRefresh'}}</li>
		<li>{{localize 'DND4EBETA.ShortRestEffectSurges'}}</li>
	</ul>
   
    <div class="form-group">
        <label>{{localize 'DND4EBETA.ShortRestSelect'}}</label>
        <input type="text" name="surge" value="" placeholder=""/>
    </div>   
	
    <div class="form-group">
        <label>{{localize 'DND4EBETA.HealingMenuSituational'}}</label>
        <input type="text" name="bonus" value="" placeholder="{{ localize 'DND4EBETA.RollExample' }}"/>
    </div>
	
    <div class="dialog-buttons">
		<button type="submit" name="submit">{{localize 'DND4EBETA.ShortRestTake'}}</button>
    </div>
	
</form>