<form autocomplete="off" onsubmit="event.preventDefault();">
    <ol class="trait-list">
        {{#each choices as |choice key|}}
        <li>
            <label class="checkbox">
                <!-- <input type="checkbox" name="{{key}}" data-dtype="Boolean" {{checked choice.chosen}}> -->
				<input type="text" name="{{key}}" value="{{choice.value}}" data-tooltip="Save Bonus" onClick="this.select();" placeholder="0" data-dtype="Number" style="width: 12.5%"/>
				{{choice.label}}
            </label>
        </li>
        {{/each}}
    </ol>
    {{#if allowCustom}}
    <div class="form-group stacked">
        <label>{{ localize "DND4EBETA.TraitSelectorSpecial" }}</label>
        <input type="text" name="custom" value="{{custom}}" data-dtype="String"/>
    </div>
    {{/if}}
    <button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{ localize "DND4EBETA.TraitSave"}}</button>
</form>
