<form class="{{cssClass}} flexcol item-sheet" autocomplete="off">

	{{!-- Item Sheet Header --}}
	<header class="sheet-header flexrow">
		<div class="image-frame">
			<img class="profile" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img"/>
			<a class="hover-icon item-art" data-tooltip="{{localize 'DND4EUI.ShowImage'}}" data-action="show-image"><i class="fas fa-image fa-fw"></i></a>
		</div>

		<div class="header-details flexrow">
			<h1 class="charname">
				<input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'DND4E.ItemName' }}"/>
			</h1>

			<div class="item-subtitle">
				<h4 class="item-type">{{itemType}}</h4>
				<span class="item-status">{{itemStatus}}</span>
			</div>

			<ul class="summary flexrow">
				<li>
					<input type="number" name="system.level" value="{{system.level}}" placeholder="{{ localize 'DND4E.Level' }}"/>
				</li>
				<li>
					<input type="text" name="system.rarity" value="{{system.rarity}}" placeholder="{{ localize 'DND4E.Rarity' }}"/>
				</li>
				<li>
					<input type="text" name="system.source" value="{{system.source}}" placeholder="{{ localize 'DND4E.Source' }}"/>
				</li>
			</ul>
		</div>
	</header>

	{{!-- Item Sheet Navigation --}}
	<nav class="sheet-navigation tabs" data-group="primary">
		<a class="item active" data-tab="content">{{ localize "DND4E.Content" }}</a>
		<a class="item" data-tab="description">{{ localize "DND4E.Description" }}</a>
		<a class="item" data-tab="details">{{ localize "DND4E.Details" }}</a>
		<a class="item" data-tab="effects">{{ localize "DND4E.Effects" }}</a>
        <a class="item" data-tab="macros">{{ localize "DND4E.Macros" }}</a>
	</nav>

	{{!-- Item Sheet Body --}}
	<section class="sheet-body">
		
		<div class="tab content" data-group="primary" data-tab="content">
			<ol class="currency flexrow">
				<h3>
					{{localize "DND4E.Currency"}}
					<a class="currency-convert" data-tooltip="{{localize 'DND4E.CurrencyConvert'}}"><i class="fas fa-coins"></i></a>
				</h3>
				{{#each system.currency as |v k|}}
				<label class="denomination {{k}}" data-tooltip="{{ localize (lookup ../config.currencies k )}}">{{k}}</label>
				<input type="text" name="system.currency.{{k}}" value="{{v}}" data-dtype="Number" data-tooltip="{{ localize (lookup ../config.currencies k )}}"/>
				{{/each}}
			</ol>
		
			<ol class="currency flexrow">
				<h3 data-tooltip="{{localize 'DND4E.RitualComp'}}">{{localize 'DND4E.RitualComp'}}</h3>
				{{#each system.ritualcomp as |v k|}}
				<label class="denomination {{k}}" data-tooltip="{{ localize (lookup ../config.ritualcomponents k )}}">{{k}}</label>
				<input type="text" name="system.ritualcomp.{{k}}" value="{{v}}" data-dtype="Number" data-tooltip="{{ localize (lookup ../config.ritualcomponents k )}}"/>
				{{/each}}
			</ol>
			
			<ol class="item-list">
				<li class="items-header flexrow">
					<h3 class="item-name flexrow">{{localize 'DND4E.Contents'}}</h3>
						<div class="item-detail item-weight">Weight</div>
						<div class="item-detail item-quantity">Quantity</div>
					<div class="item-controls">
					</div>
				</li>
			</ol>



			
			<ol class="item-list inventory-list">
				{{#each items as |item iid|}}
					<li class="item flexrow {{section.css}}"
						data-item-id="{{#if section.editableName}}{{iid}}{{else}}{{item._id}}{{/if}}">
						<div class="item-name flexrow rollable">
							{{#if section.editableName}}
							<input type="text" value="{{item.name}}">
							{{else}}
							<div class="item-image"><img src="{{item.img}}" width="30" height="30"/></div>
							<h4>
								{{#if item.system.level}}[{{item.system.level}}]{{/if}}{{item.name~}}
								{{~#if item.isStack}} ({{item.system.quantity}}){{/if}}
								{{~#if item.system.attuned}} <i class="fas fa-sun attuned" data-tooltip="{{localize "DND4E.Attuned"}}"></i>{{/if}}
							</h4>
							{{/if}}
						</div>
			

						<div class="item-detail item-weight">
							{{#if item.totalWeight}}
								<div class="item-detail">
									{{ item.totalWeight }} {{localize "DND4E.AbbreviationLbs"}}
								</div>
							{{/if}}
						</div>
		
						<div class="item-detail item-quantity">
							<input type="text" value="{{item.system.quantity}}" placeholder="0"/>
						</div>
						
						<div class="item-controls flexrow">

							{{#unless section.editableName}}
							<a class="item-control item-edit" data-tooltip="{{localize "DND4E.ItemEdit"}}"><i class="fas fa-edit"></i></a>
							{{/unless}}
							<a class="item-control item-delete" data-tooltip="{{localize "DND4E.ItemDelete"}}"><i class="fas fa-trash"></i></a>
						</div>
					</li>
				{{/each}}
				</ol>

				{{#with encumbrance}}
				<div class="encumbrance {{#if encumbered}}encumbered{{/if}} encumbrance-options" data-tooltip="{{localize 'DND4E.EncumbranceTip'}}">
					<span class="encumbrance-bar" style="width:{{pbc}}%"></span>
					{{#if encumbered}}
						<span class="encumbrance-bar encumbered" style="width:{{pec}}%"></span>
					{{/if}}
					<span class="encumbrance-label">{{value}} / {{max}} lbs.</span>
				</div>
				{{/with}}
		</div>

		{{!-- Description Tab --}}
		{{> "systems/dnd4e/templates/items/parts/item-description.html"}}

		{{!-- Details Tab --}}
		<div class="tab details" data-group="primary" data-tab="details">
			<h3 class="form-header">{{localize 'DND4E.ItemContainerDetails'}}</h3>



			<div class="form-group">
				<label>{{localize 'DND4E.ItemContainerCapacity'}}</label>
				<div class="form-fields">
					<input type="text" name="system.capacity.value" value="{{system.capacity.value}}"
						   data-dtype="Number" placeholder="-">
				</div>
			</div>

			<div class="form-group">
				<label>{{localize 'DND4E.ItemContainerCapacityType'}}</label>
				<select name="system.capacity.type">
					{{#select system.capacity.type}}
						{{#each config.itemCapacityTypes}}
							<option value="{{@key}}">{{localize this}}</option>
						{{/each}}
					{{/select}}
				</select>
			</div>

			<div class="form-group stacked">
				<label>{{localize 'DND4E.ItemContainerProperties'}}</label>
				<label class="checkbox">
					<input type="checkbox" name="system.capacity.weightless" {{checked system.capacity.weightless}}>
					{{localize 'DND4E.ItemContainerWeightless'}}
				</label>
			</div>
		</div>
		{{!-- Effects Tab --}}
		<div class="tab effects flexcol" data-group="primary" data-tab="effects">
			{{> "systems/dnd4e/templates/actors/parts/active-effects.html"}}
		</div>

		{{!-- Macros Tab --}}
<!-- DO NOT INDENT ME:  All of my indentation will be transferred to the macro text every time it is opened, causing each line of the macro to get steadily more tabs in front of it and march across the screen -->
{{> "systems/dnd4e/templates/items/parts/item-macro.html"}}
	</section>
</form>
