<form class="{{cssClass}} flexcol item-sheet" autocomplete="off">

	{{!-- Item Sheet Header --}}
	<header class="sheet-header flexrow">
		<img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

		<div class="header-details flexrow">
			<h1 class="charname">
				<input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'DND4EALTUS.ClassName' }}"/>
			</h1>

			<div class="item-subtitle">
				<h4 class="item-type">{{itemType}}</h4>
				<span class="item-status">{{itemStatus}}</span>
			</div>

			<ul class="summary flexrow">
				<li>
					<input type="text" name="data.source" value="{{data.source}}" placeholder="{{ localize 'DND4EALTUS.Source' }}"/>
				</li>
			</ul>
		</div>
	</header>

	{{!-- Item Sheet Navigation --}}
	<nav class="sheet-navigation tabs" data-group="primary">
		<a class="item active" data-tab="description">{{ localize "DND4EALTUS.Description" }}</a>
		<a class="item" data-tab="details">{{ localize "DND4EALTUS.Details" }}</a>
		<a class="item" data-tab="effects">{{ localize "DND4EALTUS.Effects" }}</a>
	</nav>

	{{!-- Item Sheet Body --}}
	<section class="sheet-body">

		{{!-- Description Tab --}}
		<div class="tab flexrow active" data-group="primary" data-tab="description">
			{{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
		</div>

		{{!-- Details Tab --}}
		<div class="tab details" data-group="primary" data-tab="details">

			<!-- {{!-- Class Levels --}}
			<div class="form-group">
				<label>{{ localize "DND4EALTUS.ClassLevels" }}</label>
				<div class="form-fields">
					<input type="text" name="data.levels" value="{{data.levels}}" data-dtype="Number"/>
				</div>
			</div> -->

			{{!-- Hit Points --}}
			<div class="form-group">
				<label>{{ localize "DND4EALTUS.HPFirst" }}</label>
				<div class="form-fields">
					<input type="text" name="data.hitFistLevel" value="{{data.hitFistLevel}}" data-dtype="Number"/>
				</div>
			</div>
			<div class="form-group">
				<label>{{ localize "DND4EALTUS.HPPer" }}</label>
				<div class="form-fields">
					<input type="text" name="data.hitPerLevel" value="{{data.hitPerLevel}}" data-dtype="Number"/>
				</div>
			</div>
			<div class="form-group">
				<label>{{ localize "DND4EALTUS.HealSurgePer" }}</label>
				<div class="form-fields">
					<input type="text" name="data.surgePerDay" value="{{data.surgePerDay}}" data-dtype="Number"/>
				</div>
			</div>
			{{!-- Level 1 skills --}}
			<div class="form-group">
				<label>{{localize "DND4EALTUS.ClassSkillsNumber"}}</label>
				<div class="form-fields">
					<input type="text" placeholder="0" name="data.skills.number" value="{{data.skills.number}}" data-dtype="Number"/>
				</div>
			</div>

			<div class="form-group">
				<label>
					{{localize "DND4EALTUS.ClassSkillsChosen"}}
					{{#if editable }}
					<a class="trait-selector class-skills" data-edit="data.skills" data-options="skills">
						<i class="fas fa-edit"></i></a>
					{{/if}}
				</label>
				<div class="form-fields">
					<ul class="traits-list">
						{{#each data.skills.value}}
							<li class="tag {{this}}">{{lookup ../config.skills this}}</li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
		{{!-- Effects Tab --}}
		<div class="tab effects flexcol" data-group="primary" data-tab="effects">
			{{> "systems/dnd4eAltus/templates/actors/parts/active-effects.html"}}
		</div>
	</section>
</form>
