<form class="{{cssClass}} flexcol item-sheet" autocomplete="off">

	{{!-- Item Sheet Header --}}
	<header class="sheet-header flexrow">
		<div class="image-frame">
			<img class="profile" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img"/>
			<a class="hover-icon item-art" data-tooltip="{{localize 'DND4EUI.ShowImage'}}" data-action="show-image"><i class="fas fa-image fa-fw"></i></a>
		</div>
		
		<div class="header-details flexrow">
			<h1 class="charname">
				<input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'DND4E.ClassName' }}"/>
			</h1>

			<div class="item-subtitle">
				<h4 class="item-type">{{itemType}}</h4>
				<span class="item-status">{{itemStatus}}</span>
			</div>

			<ul class="summary flexrow">
				<li>
					<input type="number" name="system.level" value="{{system.level}}" placeholder="{{ localize 'DND4E.Level' }}"/>
				</li>
				<li>
					<input type="text" name="system.source" value="{{system.source}}" placeholder="{{ localize 'DND4E.Source' }}"/>
				</li>
			</ul>
		</div>
	</header>

	{{!-- Item Sheet Navigation --}}
	<nav class="sheet-navigation tabs" data-group="primary">
		<a class="item active" data-tab="description">{{ localize "DND4E.Description" }}</a>
		<a class="item" data-tab="details">{{ localize "DND4E.Details" }}</a>
		<a class="item" data-tab="effects">{{ localize "DND4E.Effects" }}</a>
		<a class="item" data-tab="itemGranter">{{ localize "DND4E.ItemGranter" }}</a>
        <a class="item" data-tab="macros">{{ localize "DND4E.Macros" }}</a>
	</nav>

	{{!-- Item Sheet Body --}}
	<section class="sheet-body">

		{{!-- Description Tab --}}
		<div class="tab flexrow active" data-group="primary" data-tab="description">
			{{editor descriptionHTML target="system.description.value" button=true owner=owner editable=editable}}
		</div>

		{{!-- Details Tab --}}
		<div class="tab details" data-group="primary" data-tab="details">

			{{!-- Hit Points --}}
			<div class="form-group">
				<label>{{ localize "DND4E.HPFirst" }}</label>
				<div class="form-fields">
					<input type="text" name="system.hitFistLevel" value="{{system.hitFistLevel}}" data-dtype="Number"/>
				</div>
			</div>
			<div class="form-group">
				<label>{{ localize "DND4E.HPPer" }}</label>
				<div class="form-fields">
					<input type="text" name="system.hitPerLevel" value="{{system.hitPerLevel}}" data-dtype="Number"/>
				</div>
			</div>
			<div class="form-group">
				<label>{{ localize "DND4E.HealSurgePer" }}</label>
				<div class="form-fields">
					<input type="text" name="system.surgePerDay" value="{{system.surgePerDay}}" data-dtype="Number"/>
				</div>
			</div>
			{{!-- Level 1 skills --}}
			<div class="form-group">
				<label>{{localize "DND4E.ClassSkillsNumber"}}</label>
				<div class="form-fields">
					<input type="text" placeholder="0" name="system.skills.number" value="{{system.skills.number}}" data-dtype="Number"/>
				</div>
			</div>

			<div class="form-group">
				<label>
					{{localize "DND4E.ClassSkillsChosen"}}
					{{#if editable }}
					<a class="trait-selector class-skills" data-edit="system.skills" data-options="skills">
						<i class="fas fa-edit"></i></a>
					{{/if}}
				</label>
				<div class="form-fields">
					<ul class="traits-list">
						{{#each system.skills.value}}
							<li class="tag {{this}}">{{lookup ../config.skills this}}</li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
		{{!-- Effects Tab --}}
		<div class="tab effects flexcol" data-group="primary" data-tab="effects">
			{{> "systems/dnd4e/templates/actors/parts/active-effects.html"}}
		</div>

		{{!-- Item Granter Tab --}}
		{{> "systems/dnd4e/templates/items/parts/item-granter.html"}}

		{{!-- Macros Tab --}}
<!-- DO NOT INDENT ME:  All of my indentation will be transferred to the macro text every time it is opened, causing each line of the macro to get steadily more tabs in front of it and march across the screen -->
{{> "systems/dnd4e/templates/items/parts/item-macro.html"}}
	</section>
</form>
