<form class="{{cssClass}} flexcol item-sheet" autocomplete="off">

	{{!-- Item Sheet Header --}}
	<header class="sheet-header flexrow">
		<img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

		<div class="header-details flexrow">
			<h1 class="charname">
				<input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'DND4EBETA.ItemName' }}"/>
			</h1>

			<div class="item-subtitle">
				<h4 class="item-type">{{itemType}}</h4>
				<span class="item-status">{{itemStatus}}</span>
			</div>

			<ul class="summary flexrow">
				<li>
					{{lookup config.consumableTypes data.consumableType }}
				</li>
				<li>
					<input type="number" name="data.level" value="{{data.level}}" placeholder="{{ localize 'DND4EBETA.Level' }}"/>
				</li>
				<li>
					<input type="text" name="data.rarity" value="{{data.rarity}}" placeholder="{{ localize 'DND4EBETA.Rarity' }}"/>
				</li>
				<li>
					<input type="text" name="data.source" value="{{data.source}}" placeholder="{{ localize 'DND4EBETA.Source' }}"/>
				</li>
			</ul>
		</div>
	</header>

	{{!-- Item Sheet Navigation --}}
	<nav class="sheet-navigation tabs" data-group="primary">
		<a class="item active" data-tab="description">{{ localize "DND4EBETA.Description" }}</a>
		<a class="item" data-tab="details">{{ localize "DND4EBETA.Details" }}</a>
		<a class="item" data-tab="effects">{{ localize "DND4EBETA.Effects" }}</a>
		<a class="item" data-tab="macros">{{ localize "DND4EBETA.Macros" }}</a>
	</nav>

	{{!-- Item Sheet Body --}}
	<section class="sheet-body">

		{{!-- Description Tab --}}
		{{> "systems/dnd4e/templates/items/parts/item-description.html"}}

		{{!-- Details Tab --}}
		<div class="tab details" data-group="primary" data-tab="details">
			<h3 class="form-header">{{ localize "DND4EBETA.ItemConsumableDetails" }}</h3>

			{{!-- Consumable Type --}}
			<div class="form-group">
				<label>{{ localize "DND4EBETA.ItemConsumableType" }}</label>
				<select name="data.consumableType">
					{{#select data.consumableType}}
					{{#each config.consumableTypes as |name type|}}
					<option value="{{type}}">{{name}}</option>
					{{/each}}
					{{/select}}
				</select>
			</div>

			<div class="form-group stacked">
				<label>{{ localize "DND4EBETA.ItemConsumableStatus" }}</label>
				<label class="checkbox">
					<input type="checkbox" name="data.equipped" {{checked data.equipped}}/> {{ localize "DND4EBETA.Equipped" }}
				</label>
				<label class="checkbox">
					<input type="checkbox" name="data.identified" {{checked data.identified}}/> {{ localize "DND4EBETA.Identified" }}
				</label>
				<label class="checkbox">
					<input type="checkbox" name="data.attuned" {{checked data.attuned}}/> {{ localize "DND4EBETA.Attuned" }}
				</label>
			</div>

			<h3 class="form-header">{{ localize "DND4EBETA.ItemConsumableUsage" }}</h3>

			<div class="form-group">
				<label class="checkbox">
					<input type="checkbox" name="data.uses.autoDestroy" {{checked data.uses.autoDestroy}}/> {{ localize "DND4EBETA.ItemDestroyEmpty" }}
				</label>
			</div>

			{{!-- Item Activation Template --}}
			<!-- {{> "systems/dnd4e/templates/items/parts/item-activation.html"}} -->
			{{!-- Limited Uses --}}
			<div class="form-group uses-per">
				<label>{{ localize "DND4EBETA.LimitedUses" }}</label>
				<div class="form-fields">
					<input type="text" name="data.uses.value" value="{{data.uses.value}}" data-dtype="Number"/>
					<span class="sep"> {{ localize "DND4EBETA.of" }} </span>
					<input type="text" name="data.uses.max" value="{{data.uses.max}}"/>
					<select name="data.uses.per">
						{{#select data.uses.per}}
						<option value=""></option>
						{{#each config.limitedUsePeriods as |name key|}}
						<option value="{{key}}">{{name}}</option>
						{{/each}}
						{{/select}}
					</select>
				</div>
			</div>
			
			{{!-- Consumption --}}
			<div class="form-group uses-per">
				<label>{{ localize "DND4EBETA.ConsumeTitle" }}</label>
				<div class="form-fields">
					<select name="data.consume.type" style="flex: 0.55;">
						{{#select data.consume.type}}
						<option value=""></option>
						{{#each config.abilityConsumptionTypes as |name key|}}
						<option value="{{key}}">{{name}}</option>
						{{/each}}
						{{/select}}
					</select>
					<select name="data.consume.target" style="width: 80%">
						{{#select data.consume.target}}
						<option value=""></option>
						{{#each abilityConsumptionTargets as |name key|}}
						<option value="{{key}}">{{name}}</option>
						{{/each}}
						{{/select}}
					</select>
					<input type="text" name="data.consume.amount" value="{{data.consume.amount}}" data-dtype="Number"/>
				</div>
			</div>


			{{#if data.activation.type}}
			<div class="form-group">
				<label class="checkbox">
					<input type="checkbox" name="data.uses.autoDestroy" {{checked data.uses.autoDestroy}}/> {{ localize "DND4EBETA.ItemDestroyEmpty" }}
				</label>
			</div>
			{{/if}}

			<h3 class="form-header">{{ localize "DND4EBETA.ItemConsumableActivation" }}</h3>

			<div class="form-group">
				<label style="max-width: 208px;">{{ localize "DND4EBETA.PowerAutoGenerateLable" }}</label>
				<span class="checkbox"><input type="checkbox" name="data.autoGenChatPowerCard" data-dtype="Boolean" {{checked data.autoGenChatPowerCard}}/></span>
			</div>

			{{!-- Action Type --}}
			<div class="form-group select">
				<label>{{ localize "DND4EBETA.ItemActionType" }}</label>
				<select name="data.actionType">
					{{#select data.actionType}}
					{{#each config.abilityActivationTypes as |name type|}}
					<option value="{{type}}">{{name}}</option>
					{{/each}}
					{{/select}}
				</select>
			</div>

			{{!-- Attack Details--}}
			<div class="form-group">
				<label>{{ localize "DND4EBETA.IsAttack" }}</label>
				<span class="checkbox"><input type="checkbox" name="data.attack.isAttack" data-dtype="Boolean" {{checked data.attack.isAttack}}/></span>
			</div>

			{{#if data.attack.isAttack}}
			<div class="form-group uses-per">
				<label>{{ localize "DND4EBETA.Range" }}</label>
				<div class="form-fields">
					<select name="data.rangeType">
						{{#select data.rangeType}}
						{{#each config.rangeTypeNoWeapon as |name type|}}
						<option value="{{type}}">{{name}}</option>
						{{/each}}
						{{/select}}
					</select>
					{{#if data.isArea}}
					<span>{{ localize "DND4EBETA.AreaOf" }}</span>
					<input type="text" name="data.area" value="{{data.area}}"/>
					{{/if}}
					{{#if data.isRange}}
					{{#if data.isArea}}<span style="flex: 1 0 6px">{{ localize "DND4EBETA.RangeWithinOf" }}</span>{{/if}}
					{{#unless data.isArea}}<span style="flex: 0.6 0 16px">{{ localize "DND4EBETA.RangeOf" }}</span>{{/unless}}
					<input type="text" name="data.rangePower" value="{{data.rangePower}}" data-dtype="Number"/>
					{{/if}}
				</div>
			</div>
			{{!-- Attack--}}
			<div class="form-group uses-per">
				<label>{{ localize "DND4EBETA.Attack" }}</label>
				<div class="form-fields">
					<span>{{ localize "DND4EBETA.VS" }}</span>
					<select name="data.attack.def">
						{{#select data.attack.def}}
						<option value=""></option>
						{{#each config.def as |name key|}}
						<option value="{{key}}">{{name}}</option>
						{{/each}}
						{{/select}}
					</select>
				</div>
			</div>

			<div class="form-group">
				<label>Attack {{ localize "DND4EBETA.Formula" }}</label>
				<input type="text" name="data.attack.formula" value="{{data.attack.formula}}" placeholder="Do not include 1d20, that will be added automatically"/>
			</div>

			<div class="form-group stacked">
				<label>{{ localize "DND4EBETA.HitDetailsText" }}</label>
				<input type="text" name="data.hit.detail" value="{{data.hit.detail}}" placeholder="{{ localize "DND4EBETA.PowerTextFieldsPlaceholder"}}"/>
			</div>
			<div class="form-group stacked">
				<label>{{ localize "DND4EBETA.MissDetailsText" }}</label>
				<input type="text" name="data.miss.detail" value="{{data.miss.detail}}" placeholder="{{ localize "DND4EBETA.PowerTextFieldsPlaceholder"}}"/>
			</div>

			{{/if}}

			<div class="form-group">
				<label>{{ localize "DND4EBETA.IsDamage" }}</label>
				<span class="checkbox"><input type="checkbox" name="data.hit.isDamage" data-dtype="Boolean" {{checked data.hit.isDamage}}/></span>
			</div>
			{{#if data.hit.isDamage}}
			{{!-- Hit Details --}}
			{{!-- Damage --}}
			<div class="form-group">
				<label>Damage {{ localize "DND4EBETA.Formula" }}</label>
				<input type="text" name="data.hit.formula" value="{{data.hit.formula}}" placeholder="e.g. 1d6"/>
			</div>

			{{!-- Critical --}}
			<div class="form-group ">
				<label>Critical Damage {{ localize "DND4EBETA.Formula" }}</label>
				<input type="text" name="data.hit.critFormula" value="{{data.hit.critFormula}}" placeholder="e.g. 6"/>
			</div>

			<div class="form-group stacked weapon-properties">
				<label title="Type of Damage">Damage Type:</label>
				<pr></pr>
				{{#each config.damageTypes as |name type|}}
				<label class="checkbox">
					<input type="checkbox" name="data.damageType.{{type}}" {{checked (lookup ../data.damageType type)}}/> {{ name }}
				</label>
				{{/each}}
			</div>
			{{/if}}
			<div class="form-group">
				<label>{{ localize "DND4EBETA.IsHealing" }}</label>
				<span class="checkbox"><input type="checkbox" name="data.hit.isHealing" data-dtype="Boolean" {{checked data.hit.isHealing}}/></span>
			</div>
			{{#if data.hit.isHealing}}
			<div class="form-group stacked">
				<label>Healing {{ localize "DND4EBETA.Formula" }}</label>
				<input type="text" name="data.hit.healFormula" value="{{data.hit.healFormula}}"/>
			</div>
			{{/if}}

			{{!-- Other Formula --}}
			<div class="form-group">
				<label>{{ localize "DND4EBETA.OtherFormula" }}</label>
				<input type="text" name="data.formula" value="{{data.formula}}" placeholder="{{ localize 'DND4EBETA.Formula' }}"/>
			</div>

			<div class="form-group">
				<label>{{ localize "DND4EBETA.EffectDetails" }}</label>
				<span style="text-align: right;">{{ localize "DND4EBETA.DisplayEffect" }}</span>
				<input type="checkbox" name="data.postEffect" data-dtype="Boolean" {{checked data.postEffect}}/>
			</div>
			<div class="form-group">
				<span style="text-align: right;">{{ localize "DND4EBETA.EffectHTMLInput" }}</span>
				<input type="checkbox" name="data.effectHTML" data-dtype="Boolean" {{checked data.effectHTML}}/>
			</div>
			{{#if data.effectHTML}}
			{{editor content=data.effect.detail target="data.effect.detail" button=true owner=owner editable=editable}}
			{{else}}
			<div class="form-group">
				<input type="text" name="data.effect.detail" value="{{data.effect.detail}}" placeholder="{{ localize "DND4EBETA.PowerTextFieldsPlaceholder"}}"/>
			</div>
			{{/if}}
		</div>
		
		{{!-- Effects Tab --}}
		<div class="tab effects flexcol" data-group="primary" data-tab="effects">
			{{> "systems/dnd4e/templates/actors/parts/active-effects.html"}}
		</div>
		{{!-- Macros Tab --}}
<!-- DO NOT INDENT ME:  All of my indentation will be transferred to the macro text every time it is opened, causing each line of the macro to get steadily more tabs in front of it and march across the screen -->
{{> "systems/dnd4e/templates/items/parts/item-macro.html"}}
	</section>
</form>
