<form class="{{cssClass}} flexcol item-sheet" autocomplete="off">

	{{!-- Item Sheet Header --}}
	<header class="sheet-header flexrow">
		<img class="profile" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img"/>

		<div class="header-details flexrow">
			<h1 class="charname">
				<input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'DND4EBETA.ItemName' }}"/>
			</h1>

			<div class="item-subtitle">
				<h4 class="item-type">{{itemType}}</h4>
				<span class="item-status">{{itemStatus}}</span>
			</div>

			<ul class="summary flexrow">
				<li>
					{{lookup config.consumableTypes system.consumableType }}
				</li>
				<li>
					<input type="number" name="system.level" value="{{system.level}}" placeholder="{{ localize 'DND4EBETA.Level' }}"/>
				</li>
				<li>
					<input type="text" name="system.rarity" value="{{system.rarity}}" placeholder="{{ localize 'DND4EBETA.Rarity' }}"/>
				</li>
				<li>
					<input type="text" name="system.source" value="{{system.source}}" placeholder="{{ localize 'DND4EBETA.Source' }}"/>
				</li>
			</ul>
		</div>
	</header>

	{{!-- Item Sheet Navigation --}}
	<nav class="sheet-navigation tabs" data-group="primary">
		<a class="item active" data-tab="description">{{ localize "DND4EBETA.Description" }}</a>
		<a class="item" data-tab="details">{{ localize "DND4EBETA.Details" }}</a>
		<a class="item" data-tab="effects">{{ localize "DND4EBETA.Effects" }}</a>
		<a class="item" data-tab="macros">{{ localize "DND4EBETA.Macros" }}</a>
	</nav>

	{{!-- Item Sheet Body --}}
	<section class="sheet-body">

		{{!-- Description Tab --}}
		{{> "systems/dnd4e/templates/items/parts/item-description.html"}}

		{{!-- Details Tab --}}
		<div class="tab details" data-group="primary" data-tab="details">
			<h3 class="form-header">{{ localize "DND4EBETA.ItemConsumableDetails" }}</h3>

			{{!-- Consumable Type --}}
			<div class="form-group">
				<label>{{ localize "DND4EBETA.ItemConsumableType" }}</label>
				<select name="system.consumableType">
					{{#select system.consumableType}}
					{{#each config.consumableTypes as |name type|}}
					<option value="{{type}}">{{name}}</option>
					{{/each}}
					{{/select}}
				</select>
			</div>

			<div class="form-group stacked">
				<label>{{ localize "DND4EBETA.ItemConsumableStatus" }}</label>
				<label class="checkbox">
					<input type="checkbox" name="system.equipped" {{checked system.equipped}}/> {{ localize "DND4EBETA.Equipped" }}
				</label>
				<label class="checkbox">
					<input type="checkbox" name="system.identified" {{checked system.identified}}/> {{ localize "DND4EBETA.Identified" }}
				</label>
				<label class="checkbox">
					<input type="checkbox" name="system.attuned" {{checked system.attuned}}/> {{ localize "DND4EBETA.Attuned" }}
				</label>
			</div>

			<h3 class="form-header">{{ localize "DND4EBETA.ItemConsumableUsage" }}</h3>

			<div class="form-group">
				<label class="checkbox">
					<input type="checkbox" name="system.uses.autoDestroy" {{checked system.uses.autoDestroy}}/> {{ localize "DND4EBETA.ItemDestroyEmpty" }}
				</label>
			</div>

			{{!-- Item Activation Template --}}
			<!-- {{> "systems/dnd4e/templates/items/parts/item-activation.html"}} -->
			{{!-- Limited Uses --}}
			<div class="form-group uses-per">
				<label>{{ localize "DND4EBETA.LimitedUses" }}</label>
				<div class="form-fields">
					<input type="text" name="system.uses.value" value="{{system.uses.value}}" data-dtype="Number"/>
					<span class="sep"> {{ localize "DND4EBETA.of" }} </span>
					<input type="text" name="system.uses.max" value="{{system.uses.max}}"/>
					<select name="system.uses.per">
						{{#select system.uses.per}}
						<option value=""></option>
						{{#each config.limitedUsePeriods as |name key|}}
						<option value="{{key}}">{{name}}</option>
						{{/each}}
						{{/select}}
					</select>
				</div>
			</div>
			
			{{!-- Consumption --}}
			<div class="form-group uses-per">
				<label>{{ localize "DND4EBETA.ConsumeTitle" }}</label>
				<div class="form-fields">
					<select name="system.consume.type" style="flex: 0.55;">
						{{#select system.consume.type}}
						<option value=""></option>
						{{#each config.abilityConsumptionTypes as |name key|}}
						<option value="{{key}}">{{name}}</option>
						{{/each}}
						{{/select}}
					</select>
					<select name="system.consume.target" style="width: 80%">
						{{#select system.consume.target}}
						<option value=""></option>
						{{#each abilityConsumptionTargets as |name key|}}
						<option value="{{key}}">{{name}}</option>
						{{/each}}
						{{/select}}
					</select>
					<input type="text" name="system.consume.amount" value="{{system.consume.amount}}" data-dtype="Number"/>
				</div>
			</div>


			{{#if system.activation.type}}
			<div class="form-group">
				<label class="checkbox">
					<input type="checkbox" name="system.uses.autoDestroy" {{checked system.uses.autoDestroy}}/> {{ localize "DND4EBETA.ItemDestroyEmpty" }}
				</label>
			</div>
			{{/if}}

			<h3 class="form-header">{{ localize "DND4EBETA.ItemConsumableActivation" }}</h3>

			<div class="form-group">
				<label style="max-width: 208px;">{{ localize "DND4EBETA.PowerAutoGeneratePowerCardLable" }}</label>
				<span class="checkbox"><input type="checkbox" name="system.autoGenChatPowerCard" data-dtype="Boolean" {{checked system.autoGenChatPowerCard}}/></span>
			</div>

			{{!-- Action Type --}}
			<div class="form-group select">
				<label>{{ localize "DND4EBETA.ItemActionType" }}</label>
				<select name="system.actionType">
					{{#select system.actionType}}
					{{#each config.abilityActivationTypes as |name type|}}
					<option value="{{type}}">{{name}}</option>
					{{/each}}
					{{/select}}
				</select>
			</div>

			{{!-- Attack Details--}}
			<div class="form-group">
				<label>{{ localize "DND4EBETA.IsAttack" }}</label>
				<span class="checkbox"><input type="checkbox" name="system.attack.isAttack" data-dtype="Boolean" {{checked system.attack.isAttack}}/></span>
			</div>

			{{#if system.attack.isAttack}}
			<div class="form-group uses-per">
				<label>{{ localize "DND4EBETA.Range" }}</label>
				<div class="form-fields">
					<select name="system.rangeType">
						{{#select system.rangeType}}
						{{#each config.rangeTypeNoWeapon as |name type|}}
						<option value="{{type}}">{{name}}</option>
						{{/each}}
						{{/select}}
					</select>
					{{#if system.isArea}}
					<span>{{ localize "DND4EBETA.AreaOf" }}</span>
					<input type="text" name="system.area" value="{{system.area}}"/>
					{{/if}}
					{{#if system.isRange}}
					{{#if system.isArea}}<span style="flex: 1 0 6px">{{ localize "DND4EBETA.RangeWithinOf" }}</span>{{/if}}
					{{#unless system.isArea}}<span style="flex: 0.6 0 16px">{{ localize "DND4EBETA.RangeOf" }}</span>{{/unless}}
					<input type="text" name="system.rangePower" value="{{system.rangePower}}" data-dtype="Number"/>
					{{/if}}
				</div>
			</div>
			{{!-- Attack--}}
			<div class="form-group uses-per">
				<label>{{ localize "DND4EBETA.Attack" }}</label>
				<div class="form-fields">
					<span>{{ localize "DND4EBETA.VS" }}</span>
					<select name="system.attack.def">
						{{#select system.attack.def}}
						<option value=""></option>
						{{#each config.def as |name key|}}
						<option value="{{key}}">{{name}}</option>
						{{/each}}
						{{/select}}
					</select>
				</div>
			</div>

			<div class="form-group">
				<label>Attack {{ localize "DND4EBETA.Formula" }}</label>
				<input type="text" name="system.attack.formula" value="{{system.attack.formula}}" placeholder="Do not include 1d20, that will be added automatically"/>
			</div>

			<div class="form-group stacked">
				<label>{{ localize "DND4EBETA.HitDetailsText" }}</label>
				<input type="text" name="system.hit.detail" value="{{system.hit.detail}}" placeholder="{{ localize "DND4EBETA.PowerTextFieldsPlaceholder"}}"/>
			</div>
			<div class="form-group stacked">
				<label>{{ localize "DND4EBETA.MissDetailsText" }}</label>
				<input type="text" name="system.miss.detail" value="{{system.miss.detail}}" placeholder="{{ localize "DND4EBETA.PowerTextFieldsPlaceholder"}}"/>
			</div>

			{{/if}}

			<div class="form-group">
				<label>{{ localize "DND4EBETA.IsDamage" }}</label>
				<span class="checkbox"><input type="checkbox" name="system.hit.isDamage" data-dtype="Boolean" {{checked system.hit.isDamage}}/></span>
			</div>
			{{#if system.hit.isDamage}}
			{{!-- Hit Details --}}
			{{!-- Damage --}}
			<div class="form-group">
				<label>{{ localize 'DND4EBETA.FormulaDamage' }}</label>
				<input type="text" name="system.hit.formula" value="{{system.hit.formula}}" placeholder="{{ localize 'DND4EBETA.FormulaDamageExample' }}"/>
			</div>

			{{!-- Critical --}}
			<div class="form-group ">
				<label>{{ localize 'DND4EBETA.Critical' }} {{ localize 'DND4EBETA.FormulaDamage' }}</label>
				<input type="text" name="system.hit.critFormula" value="{{system.hit.critFormula}}" placeholder="{{ localize 'DND4EBETA.FormulaDamageCritExample' }}"/>
			</div>

			<div class="form-group stacked weapon-properties">
				<label data-tooltip="{{ localize 'DND4EBETA.Damage' }} {{ localize 'DND4EBETA.Type' }}">{{ localize 'DND4EBETA.Damage' }} {{ localize 'DND4EBETA.Type' }}:</label>
				<pr></pr>
				{{#each config.damageTypes as |name type|}}
				<label class="checkbox">
					<input type="checkbox" name="system.damageType.{{type}}" {{checked (lookup ../system.damageType type)}}/> {{ name }}
				</label>
				{{/each}}
			</div>
			{{/if}}
			<div class="form-group">
				<label>{{ localize "DND4EBETA.IsHealing" }}</label>
				<span class="checkbox"><input type="checkbox" name="system.hit.isHealing" data-dtype="Boolean" {{checked system.hit.isHealing}}/></span>
			</div>
			{{#if system.hit.isHealing}}
			<div class="form-group stacked">
				<label>{{ localize 'DND4EBETA.Healing' }} {{ localize "DND4EBETA.Formula" }}</label>
				<input type="text" name="system.hit.healFormula" value="{{system.hit.healFormula}}"/>
			</div>
			{{/if}}

			{{!-- Other Formula --}}
			<div class="form-group">
				<label>{{ localize "DND4EBETA.OtherFormula" }}</label>
				<input type="text" name="system.formula" value="{{system.formula}}" placeholder="{{ localize 'DND4EBETA.Formula' }}"/>
			</div>

			<div class="form-group">
				<label>{{ localize "DND4EBETA.EffectDetails" }}</label>
				<span style="text-align: right;">{{ localize "DND4EBETA.DisplayEffect" }}</span>
				<input type="checkbox" name="system.postEffect" data-dtype="Boolean" {{checked system.postEffect}}/>
			</div>
			<div class="form-group">
				<span style="text-align: right;">{{ localize "DND4EBETA.EffectHTMLInput" }}</span>
				<input type="checkbox" name="system.effectHTML" data-dtype="Boolean" {{checked system.effectHTML}}/>
			</div>
			{{#if system.effectHTML}}
			{{editor effectDetailHTML target="system.effect.detail" button=true owner=owner editable=editable}}
			{{else}}
			<div class="form-group">
				<input type="text" name="system.effect.detail" value="{{system.effect.detail}}" placeholder="{{ localize "DND4EBETA.PowerTextFieldsPlaceholder"}}"/>
			</div>
			{{/if}}
		</div>
		
		{{!-- Effects Tab --}}
		<div class="tab effects flexcol" data-group="primary" data-tab="effects">
			{{> "systems/dnd4e/templates/actors/parts/active-effects.html"}}
		</div>
		{{!-- Macros Tab --}}
<!-- DO NOT INDENT ME:  All of my indentation will be transferred to the macro text every time it is opened, causing each line of the macro to get steadily more tabs in front of it and march across the screen -->
{{> "systems/dnd4e/templates/items/parts/item-macro.html"}}
	</section>
</form>
