<form class="{{cssClass}} flexcol item-sheet" autocomplete="off">

	{{!-- Item Sheet Header --}}
	<header class="sheet-header flexrow">
		<img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

		<div class="header-details flexrow">
			<h1 class="charname">
				<input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'DND4EBETA.ItemName' }}"/>
			</h1>

			<div class="item-subtitle">
				<h4 class="item-type">{{itemType}}</h4>
				<span class="item-status">{{itemStatus}}</span>
			</div>

			<ul class="summary flexrow">
				<li>
					{{lookup config.equipmentTypes data.armour.type }}
				</li>
				<li>
					<input type="number" name="data.level" value="{{data.level}}" placeholder="{{ localize 'DND4EBETA.Level' }}"/>
				</li>
				<li>
					<input type="text" name="data.rarity" value="{{data.rarity}}" placeholder="{{ localize 'DND4EBETA.Rarity' }}"/>
				</li>
				<li>
					<input type="text" name="data.source" value="{{data.source}}" placeholder="{{ localize 'DND4EBETA.Source' }}"/>
				</li>
			</ul>
		</div>
	</header>

	{{!-- Item Sheet Navigation --}}
	<nav class="sheet-navigation tabs" data-group="primary">
		<a class="item active" data-tab="description">{{ localize "DND4EBETA.Description" }}</a>
		<a class="item" data-tab="details">{{ localize "DND4EBETA.Details" }}</a>
		<a class="item" data-tab="effects">{{ localize "DND4EBETA.Effects" }}</a>
        <a class="item" data-tab="macros">{{ localize "DND4EBETA.Macros" }}</a>
	</nav>

	{{!-- Item Sheet Body --}}
	<section class="sheet-body">

		{{!-- Description Tab --}}
		{{> "systems/dnd4e/templates/items/parts/item-description.html"}}

		{{!-- Details Tab --}}
		<div class="tab details" data-group="primary" data-tab="details">
			<h3 class="form-header">{{ localize "DND4EBETA.ItemEquipmentDetails" }}</h3>

			{{!-- Equipment Type --}}
			<div class="form-group uses-per">
				<label>{{ localize "DND4EBETA.ItemEquipmentType" }}</label>
				<div class="form-fields">
					<select name="data.armour.type">
						{{#select data.armour.type}}
						<option value=""></option>
						{{#each config.equipmentTypes as |name type|}}
						<option value="{{type}}">{{localize name}}</option>
						{{/each}}
						{{/select}}
					</select>
					<select name="data.armour.subType">
						{{#select data.armour.subType}}
						<option value=""></option>
						{{#each equipmentSubTypeTargets as |name key|}}
						<option value="{{key}}">{{localize name}}</option>
						{{/each}}
						{{/select}}
					</select>
				</div>
			</div>

			{{!-- Equipment Status --}}
			<div class="form-group stacked">
				<label>{{ localize "DND4EBETA.ItemEquipmentStatus" }}</label>
				<label class="checkbox">
					<input type="checkbox" name="data.proficient" {{checked data.proficient}}/> {{ localize "DND4EBETA.Proficient" }}
				</label>
				<label class="checkbox">
					<input type="checkbox" name="data.equipped" {{checked data.equipped}}/> {{ localize "DND4EBETA.Equipped" }}
				</label>
				<label class="checkbox">
					<input type="checkbox" name="data.identified" {{checked data.identified}}/> {{ localize "DND4EBETA.Identified" }}
				</label>
				<label class="checkbox">
					<input type="checkbox" name="data.attuned" {{checked data.attuned}}/> {{ localize "DND4EBETA.Attuned" }}
				</label>
			</div>

			<div class="form-group uses-per">
				<label>{{ localize "DND4EBETA.LimitedUses"}}</label>
				<div class="form-fields">
					<input type="text" name="data.uses.value" value="{{data.uses.value}}" data-dtype="Number"/>
					<span class="sep">{{ localize "DND4EBETA.of" }}</span>
					<input type="text" name="data.uses.max" value="{{data.uses.max}}"/>
					<span class="sep">{{ localize "DND4EBETA.per" }}</span>
					<select name="data.uses.per">
						{{#select data.uses.per}}
						<option value=""></option>
						{{#each config.limitedUsePeriods as |name key|}}
						<option value="{{key}}">{{name}}</option>
						{{/each}}
						{{/select}}
					</select>
				</div>
			</div>
			<div class="form-group uses-per">
				<label>{{ localize "DND4EBETA.ConsumeTitle" }}</label>
				<div class="form-fields">
					<select name="data.consume.type" style="flex: 0.55;">
						{{#select data.consume.type}}
						<option value=""></option>
						{{#each config.abilityConsumptionTypes as |name key|}}
						<option value="{{key}}">{{name}}</option>
						{{/each}}
						{{/select}}
					</select>
					<select name="data.consume.target" style="width: 80%">
						{{#select data.consume.target}}
						<option value=""></option>
						{{#each abilityConsumptionTargets as |name key|}}
						<option value="{{key}}">{{name}}</option>
						{{/each}}
						{{/select}}
					</select>
					<input type="text" name="data.consume.amount" value="{{data.consume.amount}}" data-dtype="Number"/>
				</div>
			</div>



			{{!-- armour Class --}}
			<div class="form-group">
				<label>{{ localize "DND4EBETA.DefenceAC" }}</label>
				<div class="form-fields">
				   <input type="text" name="data.armour.ac" value="{{data.armour.ac}}" data-dtype="Number"/>
				</div>
			</div>
			<div class="form-group">
				<label>{{ localize "DND4EBETA.DefenceFort" }}</label>
				<div class="form-fields">
				   <input type="text" name="data.armour.fort" value="{{data.armour.fort}}" data-dtype="Number"/>
				</div>
			</div>

			<div class="form-group">
				<label>{{ localize "DND4EBETA.DefenceRef" }}</label>
				<div class="form-fields">
				   <input type="text" name="data.armour.ref" value="{{data.armour.ref}}" data-dtype="Number"/>
				</div>
			</div>
			<div class="form-group">
				<label>{{ localize "DND4EBETA.DefenceWil" }}</label>
				<div class="form-fields">
				   <input type="text" name="data.armour.wil" value="{{data.armour.wil}}" data-dtype="Number"/>
				</div>
			</div>

			<div class="form-group">
				<label>{{ localize "DND4EBETA.ArmourSkillPenelty" }}</label>
				<div class="form-fields">
					<input type="checkbox" name="data.armour.skillCheck" data-dtype="Boolean" {{checked data.armour.skillCheck}}/>
				   <input type="text" name="data.armour.skillCheckValue" value="{{data.armour.skillCheckValue}}" data-dtype="Number"/>
				</div>
			</div>
			<div class="form-group">
				<label>{{ localize "DND4EBETA.ArmourMovePenelty" }}</label>
				<div class="form-fields">
					<input type="checkbox" name="data.armour.movePen" data-dtype="Boolean" {{checked data.armour.movePen}}/>
				   <input type="text" name="data.armour.movePenValue" value="{{data.armour.movePenValue}}" data-dtype="Number"/>
				</div>
			</div>

			{{!-- Damage Res --}}
			<h4 class="damage-header">
				Damage Resistance & Immunity:
				<a class="damage-control add-damageRes"><i class="fas fa-plus"></i></a>
			</h4>
			<div class="form-group res-group">
				<ol class="damage-parts form-group">
					{{#each data.armour.damageRes.parts as |part i| }}
					<li class="damage-part flexrow" data-damage-part="{{i}}">
						<input class="damage-res" type="number" name="data.armour.damageRes.parts.{{i}}.0" value="{{lookup this "0"}}"/>
						<select class="damage-res" name="data.armour.damageRes.parts.{{i}}.1">
							{{#select (lookup this "1") }}
							<option value="">{{ localize "DND4EBETA.None" }}</option>
							{{#each ../config.damageTypes as |name type|}}
							<option value="{{type}}">{{name}}</option>
							{{/each}}
							{{#each ../config.healingTypes as |name type|}}
							<option value="{{type}}">{{name}}</option>
							{{/each}}
							{{/select}}
						</select>
						<a class="damage-control delete-damageRes"><i class="fas fa-minus"></i></a>
					</li>
					{{/each}}
				</ol>
			</div>
			
			<!-- {{#unless isMountable}}
			{{!-- Dexterity Modifier --}}
			<div class="form-group">
				<label>{{ localize "DND4EBETA.ItemEquipmentDexMod" }}</label>
				<div class="form-fields">
				   <input type="text" name="data.armour.dex" value="{{data.armour.dex}}" data-dtype="Number" placeholder="{{ localize 'DND4EBETA.Unlimited' }}"/>
				</div>
			</div>

			{{!-- Required Strength --}}
			<div class="form-group">
				<label>{{ localize "DND4EBETA.ItemRequiredStr" }}</label>
				<div class="form-fields">
				   <input type="text" name="data.strength" value="{{data.strength}}" data-dtype="Number" placeholder="{{ localize 'DND4EBETA.None' }}"/>
				</div>
			</div> -->

			<!-- {{!-- Stealth Disadvantage --}}
			<div class="form-group">
				<label>{{ localize "DND4EBETA.ItemEquipmentStealthDisav" }}</label>
				<input type="checkbox" name="data.stealth" value="1" {{checked data.stealth}}/>
			</div>
			{{/unless}} -->

			<!-- {{#if isMountable}}
			{{> 'systems/dnd4e/templates/items/parts/item-mountable.html'}}
			<div class="form-group">
				<label>{{localize 'DND4EBETA.Speed'}}</label>
				<div class="form-fields">
					<input type="text" name="data.speed.value" value="{{data.speed.value}}"
						   placeholder="0" data-dtype="Number">
					<span class="sep">{{localize 'DND4EBETA.FeetAbbr'}}</span>
					<input type="text" name="data.speed.conditions"
						   value="{{data.speed.conditions}}">
				</div>
			</div>
			{{/if}} -->

			<!-- <h3 class="form-header">{{ localize "DND4EBETA.ItemEquipmentUsage" }}</h3>

			{{!-- Item Activation Template --}}
			{{> "systems/dnd4e/templates/items/parts/item-activation.html"}}

			<h3 class="form-header">{{ localize "DND4EBETA.ItemEquipmentAction" }}</h3>

			{{!-- Item Action Template --}}
			{{> "systems/dnd4e/templates/items/parts/item-action.html"}} -->
		</div>

		{{!-- Effects Tab --}}
		<div class="tab effects flexcol" data-group="primary" data-tab="effects">
			{{> "systems/dnd4e/templates/actors/parts/active-effects.html"}}
		</div>
		{{!-- Macros Tab --}}
<!-- DO NOT INDENT ME:  All of my indentation will be transferred to the macro text every time it is opened, causing each line of the macro to get steadily more tabs in front of it and march across the screen -->
{{> "systems/dnd4e/templates/items/parts/item-macro.html"}}
	</section>
</form>
