<form class="{{cssClass}} flexcol item-sheet" autocomplete="off">

	{{!-- Item Sheet Header --}}
	<header class="sheet-header loot-header flexrow">
		<img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

		<div class="header-details flexrow">
			<h1 class="charname">
				<input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'DND4EBETA.ItemName' }}"/>
			</h1>

			<div class="item-subtitle">
				<h4 class="item-type">{{itemType}}</h4>
				<span class="item-status">{{itemStatus}}</span>
			</div>

			<ul class="summary flexrow">
				<li>
					<input type="number" name="data.level" value="{{data.level}}" placeholder="{{ localize 'DND4EBETA.Level' }}"/>
				</li>
				<li>
					<input type="text" name="data.rarity" value="{{data.rarity}}" placeholder="{{ localize 'DND4EBETA.Rarity' }}"/>
				</li>
				<li>
					<input type="text" name="data.source" value="{{data.source}}" placeholder="{{ localize 'DND4EBETA.Source' }}"/>
				</li>
			</ul>
		</div>
	</header>

	{{!-- Item Sheet Navigation --}}
	<nav class="sheet-navigation tabs" data-group="primary">
		<a class="item active" data-tab="description">{{ localize "DND4EBETA.Description" }}</a>
		<a class="item" data-tab="effects">{{ localize "DND4EBETA.Effects" }}</a>
        <a class="item" data-tab="macros">{{ localize "DND4EBETA.Macros" }}</a>
	</nav>
	
	{{!-- Item Sheet Body --}}
	<section class="sheet-body">
		{{!-- Description Tab --}}
		{{> "systems/dnd4e/templates/items/parts/item-description.html"}}

		{{!-- Effects Tab --}}
		<div class="tab effects flexcol" data-group="primary" data-tab="effects">
			{{> "systems/dnd4e/templates/actors/parts/active-effects.html"}}
		</div>
		{{!-- Macros Tab --}}
<!-- DO NOT INDENT ME:  All of my indentation will be transferred to the macro text every time it is opened, causing each line of the macro to get steadily more tabs in front of it and march across the screen -->
{{> "systems/dnd4e/templates/items/parts/item-macro.html"}}
	</section>
</form>
