<form class="{{cssClass}} flexcol item-sheet" autocomplete="off">

	{{!-- Item Sheet Header --}}
	<header class="sheet-header flexrow">
		<img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

		<div class="header-details flexrow">
			<h1 class="charname">
				<input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'DND4EBETA.ItemName' }}"/>
			</h1>

			<div class="item-subtitle">
				<h4 class="item-type">{{itemType}}</h4>
				<span class="item-status">{{itemStatus}}</span>
			</div>

			<ul class="summary flexrow">
				<li>
					{{localize "DND4EBETA.Ritual"}}
				</li>
				<li>
					<input type="text" name="data.category" value="{{data.category}}" placeholder="{{ localize 'DND4EBETA.Category' }}"/>
				</li>
				<li>
					<input type="text" name="data.source" value="{{data.source}}" placeholder="{{ localize 'DND4EBETA.Source' }}"/>
				</li>
			</ul>
		</div>
	</header>

	{{!-- Item Sheet Navigation --}}
	<nav class="sheet-navigation tabs" data-group="primary">
		<a class="item active" data-tab="description">{{ localize "DND4EBETA.Description" }}</a>
		<a class="item" data-tab="details">{{ localize "DND4EBETA.Details" }}</a>
		<a class="item" data-tab="macros">{{ localize "DND4EBETA.Macros" }}</a>
	</nav>

	{{!-- Item Sheet Body --}}
	<section class="sheet-body">

		{{!-- Description Tab --}}
		{{> "systems/dnd4e/templates/items/parts/item-description.html"}}

		{{!-- Details Tab --}}
		<div class="tab details" data-group="primary" data-tab="details">

			<div class="form-group select">
				<label>Level</label>
				<input type="text" name="data.level" value="{{data.level}}"/>
			</div>
			<div class="form-group select">
				<label>Market Price</label>
				<input type="text" name="data.market" value="{{data.market}}"/>
			</div>


			{{!-- Cast Time --}}
			<div class="form-group input-select">
				<label>Cast Time</label>
				<div class="form-fields">
					<input type="text" name="data.castTime.value" value="{{data.castTime.value}}" data-dtype="Number" placeholder="-"/>
					<select name="data.castTime.units">
						{{#select data.castTime.units}}
						<option value=""></option>
						{{#each config.timePeriods as |name key|}}
						<option value="{{key}}">{{name}}</option>
						{{/each}}
						{{/select}}
					</select>
				</div>
			</div>

			{{!-- Effect Duration --}}
			<div class="form-group input-select">
				<label>{{ localize "DND4EBETA.Duration" }}</label>
				<div class="form-fields">
					<input type="text" name="data.duration.value" value="{{data.duration.value}}" data-dtype="Number" placeholder="-"/>
					<select name="data.duration.units">
						{{#select data.duration.units}}
						<option value=""></option>
						{{#each config.timePeriods as |name key|}}
						<option value="{{key}}">{{name}}</option>
						{{/each}}
						{{/select}}
					</select>
				</div>
			</div>
			
			{{!-- Ability Check --}}
			<div class="form-group">
				<label>{{ localize "DND4EBETA.DefaultAbilitySkillCheck" }}</label>
				<select name="data.attribute">
					<option value=""></option>
					{{#select data.attribute}}
					{{#each config.abilities as |name a|}}
					<option value="abilities.{{a}}.mod">{{name}}</option>
					{{/each}}
					{{#each config.skills as |name s|}}
					<option value="skills.{{s}}.total">{{name}}</option>
					{{/each}}
					{{/select}}
				</select>
			</div>

			<div class="form-group">
				<label>{{ localize "DND4EBETA.RollFormula" }}</label>
				<input type="text" name="data.formula" value="{{data.formula}}" placeholder="{{ localize "DND4EBETA.RollPlaceholderRitual"}}"/>
			</div>

			<div class="form-group uses-per">
				<label>{{ localize "DND4EBETA.ConsumeTitle" }}</label>
				<div class="form-fields">
					<select name="data.consume.type" style="flex: 0.55;">
						{{#select data.consume.type}}
						<option value=""></option>
						{{#each config.abilityConsumptionTypes as |name key|}}
						<option value="{{key}}">{{name}}</option>
						{{/each}}
						{{/select}}
					</select>
					<select name="data.consume.target" style="width: 80%">
						{{#select data.consume.target}}
						<option value=""></option>
						{{#each abilityConsumptionTargets as |name key|}}
						<option value="{{key}}">{{name}}</option>
						{{/each}}
						{{/select}}
					</select>
					<input type="text" name="data.consume.amount" value="{{data.consume.amount}}" data-dtype="Number"/>
				</div>
			</div>	
		</div>

		{{!-- Macros Tab --}}
<!-- DO NOT INDENT ME:  All of my indentation will be transferred to the macro text every time it is opened, causing each line of the macro to get steadily more tabs in front of it and march across the screen -->
{{> "systems/dnd4e/templates/items/parts/item-macro.html"}}
	</section>
</form>
