<form class="{{cssClass}} flexcol item-sheet" autocomplete="off">

	{{!-- Item Sheet Header --}}
	<header class="sheet-header flexrow">
		<div class="image-frame">
			<img class="profile" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img"/>
			<a class="hover-icon item-art" data-tooltip="{{localize 'DND4EUI.ShowImage'}}" data-action="show-image"><i class="fas fa-image fa-fw"></i></a>
		</div>
		
		<div class="header-details flexrow">
			<h1 class="charname">
				<input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'DND4EALTUS.ItemName' }}"/>
			</h1>

			<div class="item-subtitle">
				<h4 class="item-type">{{itemType}}</h4>
			</div>

			<ul class="summary flexrow">
				<li>
					<input type="number" name="system.level" value="{{system.level}}" placeholder="{{ localize 'DND4EALTUS.Level' }}"/>
				</li>
				<li>
					<input type="text" name="system.rarity" value="{{system.rarity}}" placeholder="{{ localize 'DND4EALTUS.Rarity' }}"/>
				</li>
				<li>
					<input type="text" name="system.source" value="{{system.source}}" placeholder="{{ localize 'DND4EALTUS.Source' }}"/>
				</li>
			</ul>
		</div>
	</header>

	{{!-- Item Sheet Navigation --}}
	<nav class="sheet-navigation tabs" data-group="primary">
		<a class="item active" data-tab="description">{{ localize "DND4EALTUS.Description" }}</a>
		<a class="item" data-tab="details">{{ localize "DND4EALTUS.Details" }}</a>
		<a class="item" data-tab="effects">{{ localize "DND4EALTUS.Effects" }}</a>
        <a class="item" data-tab="macros">{{ localize "DND4EALTUS.Macros" }}</a>
	</nav>

	{{!-- Item Sheet Body --}}
	<section class="sheet-body">

		{{!-- Description Tab --}}
		{{> "systems/dnd4eAltus/templates/items/parts/item-description.html"}}

		{{!-- Details Tab --}}
		<div class="tab details" data-group="primary" data-tab="details">

			{{!-- Tool Proficiency --}}
			<div class="form-group">
				<label>{{ localize "DND4EALTUS.RollFormula" }}</label>
				<input type="text" name="system.formula" value="{{system.formula}}" placeholder="{{ localize "DND4EALTUS.RollPlaceholderTool"}}"/>
			</div>
			<label>{{ localize "DND4EALTUS.ToolFormulaDescription"}}</label>
			<div class="form-group">
				<label>{{ localize "DND4EALTUS.RollBonus" }}</label>
				<input type="text" name="system.bonus" value="{{system.bonus}}"/>
			</div>

			{{!-- Ability Check --}}
			<div class="form-group">
				<label>{{ localize "DND4EALTUS.DefaultAbilitySkillCheck" }}</label>
				<select name="system.attribute">
					{{#select system.attribute}}
					{{#each config.abilities as |name a|}}
					<option value="abilities.{{a}}.mod">{{name}}</option>
					{{/each}}
					{{#each config.skills as |name s|}}
					<option value="skills.{{s}}.total">{{name}}</option>
					{{/each}}
					{{/select}}
				</select>
			</div>

			{{!-- Chat Message Flavor --}}
			<div class="form-group stacked">
				<label>{{ localize "DND4EALTUS.ChatFlavor" }}</label>
				<input type="text" name="system.chatFlavor" value="{{system.chatFlavor}}" placeholder="{{ localize "DND4EALTUS.ChatFlavorPlaceholder"}}"/>
			</div>
		</div>
		
		{{!-- Effects Tab --}}
		<div class="tab effects flexcol" data-group="primary" data-tab="effects">
			{{> "systems/dnd4eAltus/templates/actors/parts/active-effects.html"}}
		</div>
		
		{{!-- Macros Tab --}}
<!-- DO NOT INDENT ME:  All of my indentation will be transferred to the macro text every time it is opened, causing each line of the macro to get steadily more tabs in front of it and march across the screen -->
{{> "systems/dnd4eAltus/templates/items/parts/item-macro.html"}}
	</section>
</form>
