<form class="{{cssClass}} flexcol item-sheet" autocomplete="off">

	{{!-- Item Sheet Header --}}
	<header class="sheet-header flexrow">
		<img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

		<div class="header-details flexrow">
			<h1 class="charname">
				<input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'DND4EBETA.ItemName' }}"/>
			</h1>

			<div class="item-subtitle">
				<h4 class="item-type">{{itemType}}</h4>
				<span class="item-status">{{itemStatus}}</span>
			</div>

			<ul class="summary flexrow">
				<li>
					{{lookup config.weaponTypes system.weaponType }}
				</li>
				<li>
					<input type="number" name="system.level" value="{{system.level}}" placeholder="{{ localize 'DND4EBETA.Level' }}"/>
				</li>
				<li>
					<input type="text" name="system.rarity" value="{{system.rarity}}" placeholder="{{ localize 'DND4EBETA.Rarity' }}"/>
				</li>
				<li>
					<input type="text" name="system.source" value="{{system.source}}" placeholder="{{ localize 'DND4EBETA.Source' }}"/>
				</li>
			</ul>
		</div>
	</header>

	{{!-- Item Sheet Navigation --}}
	<nav class="sheet-navigation tabs" data-group="primary">
		<a class="item active" data-tab="description">{{ localize "DND4EBETA.Description" }}</a>
		<a class="item" data-tab="details">{{ localize "DND4EBETA.Details" }}</a>
		<a class="item" data-tab="effects">{{ localize "DND4EBETA.Effects" }}</a>
		<a class="item" data-tab="macros">{{ localize "DND4EBETA.Macros" }}</a>
	</nav>

	{{!-- Item Sheet Body --}}
	<section class="sheet-body">

		{{!-- Description Tab --}}
		{{> "systems/dnd4e/templates/items/parts/item-description.html"}}

		{{!-- Details Tab --}}
		<div class="tab details" data-group="primary" data-tab="details">
			<h3 class="form-header">{{ localize "DND4EBETA.ItemWeaponDetails" }}</h3>

			{{!-- Weapon Type --}}
			<div class="form-group">
				<label>{{ localize "DND4EBETA.ItemWeaponType" }}</label>
				<select name="system.weaponType">
					{{#select system.weaponType}}
					{{#each config.weaponTypes as |name type|}}
					<option value="{{type}}">{{name}}</option>
					{{/each}}
					{{/select}}
				</select>
			</div>

			{{!-- Weapon Hand --}}
			<div class="form-group">
				<label>{{ localize "DND4EBETA.ItemWeaponHand" }}</label>
				<select name="system.weaponHand">
					{{#select system.weaponHand}}
					{{#each config.weaponHands as |name hand|}}
					<option value="{{hand}}">{{name}}</option>
					{{/each}}
					{{/select}}
				</select>
			</div>

			<div class="form-group">
				<label>{{ localize "DND4EBETA.WeaponBase" }}:</label>
				<select name="system.weaponBaseType">
					{{#select system.weaponBaseType}}
					<option value="">{{ localize 'DND4EBETA.None' }}</option>
					<option value="custom">{{ localize 'DND4EBETA.Custom' }}</option>
					{{#each weaponBaseTypes as |name type|}}
					<option value="{{type}}">{{name}}</option>
					{{/each}}
					{{/select}}
				</select>
			</div>

			{{#if isWeaponBaseTypeCustom}}
			<div class="form-group">
				<label>{{ localize "DND4EBETA.WeaponBaseCustom" }}:</label>
				<input type="text" name="system.weaponBaseTypeCustom" value="{{system.weaponBaseTypeCustom}}" title="{{ localize "DND4EBETA.WeaponBaseCustom" }}" placeholder="{{ localize "DND4EBETA.WeaponBaseCustom" }}" data-dtype="String" onClick="this.select();"/>
			</div>
			{{/if}}

			{{!-- Weapon Status --}}
			<div class="form-group stacked">
				<label>{{ localize "DND4EBETA.ItemWeaponStatus" }}</label>
				<div class="form-fields">
					<label class="checkbox">
						<input type="checkbox" name="system.proficient" {{checked system.proficient}}/> Weapon {{ localize "DND4EBETA.Proficient" }}
					</label>
					<label class="checkbox">
						<input type="checkbox" name="system.proficientI" {{checked system.proficientI}}/> Implement {{ localize "DND4EBETA.Proficient" }}
					</label>
					<label class="checkbox">
						<input type="checkbox" name="system.equipped" {{checked system.equipped}}/> {{ localize "DND4EBETA.Equipped" }}
					</label>
					<label class="checkbox">
						<input type="checkbox" name="system.identified" {{checked system.identified}}/> {{ localize "DND4EBETA.Identified" }}
					</label>
					<label class="checkbox">
						<input type="checkbox" name="system.attuned" {{checked system.attuned}}/> {{ localize "DND4EBETA.Attuned" }}
					</label>
				</div>
			</div>

			{{!-- Weapon Properties --}}
			<div class="">
				{{#unless (eq system.weaponType "implement")}}
				<h3 class="form-header">Weapon Stats</h3>
				<div class="form-group">
					<label title="Proficiency Bonus">Proficiency Bonus:</label>
					<div class="form-fields">
						<input type="text" name="system.profBonus" value="{{system.profBonus}}" title="Proficiency Bonus" placeholder="0" data-dtype="Number" onClick="this.select();"/>
					</div>
				</div>
				{{/unless}}
				<div class="form-group">
					<label title="Implement Proficiency Bonus">Implement Proficiency Bonus:</label>
					<div class="form-fields">
						<input type="text" name="system.profImpBonus" value="{{system.profImpBonus}}" title="Implement Proficiency Bonus" placeholder="0" data-dtype="Number" onClick="this.select();"/>
					</div>
				</div>
				<div class="form-group">    
					<label title="Enhancement Bonus">Enhancement Bonus:</label>
					<div class="form-fields">
						<input type="text" name="system.enhance" value="{{system.enhance}}" title="Enhancement Bonus" placeholder="0" data-dtype="Number" onClick="this.select();"/>
					</div>
				</div>
				<div class="form-group">
					<label title="Is this a Ranged Weapon?">Is Ranged Weapon?</label>
					<input type="checkbox" name="system.isRanged" data-dtype="Boolean" {{checked system.isRanged}}/>
					<div>
						{{#if system.isRanged}}
						<div class="form-fields">
							<span title="The distance in squares a weapon can attack.">Weapon Range:</span>
							<input type="text" name="system.range.value" value="{{system.range.value}}" title="Short Range: The distance in squares a weapon can attack without incurring a long range penalty." placeholder="Short Range" data-dtype="Number" onClick="this.select();"/>
							<span class="sep">/</span>
							<input type="text" name="system.range.long" value="{{system.range.long}}" title="Long Range: The maximume range this weapon can be used to make an attack." placeholder="Long Range" data-dtype="Number" onClick="this.select();"/>
						</div>
						{{/if}}
					</div>
				</div>
				<div class="form-group uses-per">
					<label>{{ localize "DND4EBETA.LimitedUses"}}</label>
					<div class="form-fields">
						<input type="text" name="system.uses.value" value="{{system.uses.value}}" data-dtype="Number"/>
						<span class="sep">{{ localize "DND4EBETA.of" }}</span>
						<input type="text" name="system.uses.max" value="{{system.uses.max}}"/>
						<span class="sep">{{ localize "DND4EBETA.per" }}</span>
						<select name="system.uses.per">
							{{#select system.uses.per}}
							<option value=""></option>
							{{#each config.limitedUsePeriods as |name key|}}
							<option value="{{key}}">{{name}}</option>
							{{/each}}
							{{/select}}
						</select>
					</div>
				</div>
				<div class="form-group uses-per">
					<label>{{ localize "DND4EBETA.ConsumeTitle" }}</label>
					<div class="form-fields">
						<select name="system.consume.type" style="flex: 0.55;">
							{{#select system.consume.type}}
							<option value=""></option>
							{{#each config.abilityConsumptionTypes as |name key|}}
							<option value="{{key}}">{{name}}</option>
							{{/each}}
							{{/select}}
						</select>
						<select name="system.consume.target" style="width: 80%">
							{{#select system.consume.target}}
							<option value=""></option>
							{{#each abilityConsumptionTargets as |name key|}}
							<option value="{{key}}">{{name}}</option>
							{{/each}}
							{{/select}}
						</select>
						<input type="text" name="system.consume.amount" value="{{system.consume.amount}}" data-dtype="Number"/>
					</div>
				</div>
				
				<h4 class="damage-header"title="Base number of dice rolled for weapon attacks." for="damageDice">{{ localize "DND4EBETA.DiceWeapon"}}<a class="damage-control add-dice"><i class="fas fa-plus"></i></a></h4>
				
				<ol class="damage-parts form-group">
					{{#each system.damageDice.parts as |part i| }}
					<li class="damage-part" data-damage-part="{{i}}">
						<label>{{ localize "DND4EBETA.DiceNumber"}}</label>
						<input type="text" name="system.damageDice.parts.{{i}}.0" value="{{lookup this "0"}}"/>
						<label>{{ localize "DND4EBETA.DiceSize"}}</label>
						<input type="text" name="system.damageDice.parts.{{i}}.1" value="{{lookup this "1"}}"/>
						<label>{{ localize "DND4EBETA.DiceExtra"}}</label>
						<input type="text" name="system.damageDice.parts.{{i}}.2" value="{{lookup this "2"}}"/>
						<a class="damage-control delete-dice"><i class="fas fa-minus"></i></a>
					</li>
					{{/each}}
				</ol>

				{{#if system.properties.bru}}
				<div class="form-group">
					<label title="{{ localize "DND4EBETA.DiceBrutalTitle"}}" for="brutal">{{ localize "DND4EBETA.DiceBrutal"}}</label>
					<div class="form-fields">
						<input type="text" name="system.brutal" id="brutal" value="{{system.brutal}}" title="{{ localize "DND4EBETA.DiceBrutalTitle"}}" placeholder="{{ localize "DND4EBETA.DiceBrutalPlaceholder"}}" onClick="this.select();" data-dtype="Number"/>
					</div>
				</div>
				{{/if}}

				{{#unless (eq system.weaponType "implement")}}
				<div class="form-group">
					<label title="{{ localize "DND4EBETA.CriticalHitTitle"}}">{{ localize "DND4EBETA.CriticalHit"}}:</label>
					<div class="form-fields">
						<input type="text" name ="system.critRange" value="{{system.critRange}}" title="{{ localize "DND4EBETA.CriticalHitTitle"}}" placeholder="{{ localize "DND4EBETA.CriticalHitPlaceholder"}}" data-dtype="Number" onClick="this.select();"/>
					</div>
				</div>
				{{/unless}}

				{{#if system.properties.imp}}
				<div class="form-group">
					<label title="Natural D20 Dice roll required for a hit to be considered a critical hit with an Implement.">Implement Critical Hit:</label>
					<div class="form-fields">
						<input type="text" name ="system.critRangeImp" value="{{system.critRangeImp}}" title="Natural D20 Dice roll required for a hit to be considered a critical hit." placeholder="20" data-dtype="Number" onClick="this.select();"/>
					</div>
				</div>
				{{/if}}

				{{!-- Attack  Formula--}}
				{{#unless (eq system.weaponType "implement")}}
				<div class="form-group stacked">
					<h4 class="damage-header" title="Formula used for Attack Rolls.">Bonus to Attack {{ localize "DND4EBETA.Formula" }}:</h4>
					<input type="text" name="system.attackForm" value="{{system.attackForm}}" title="Formula used for Attack Rolls." data-dtype="String"/>
				</div>
				
				{{!-- Damage Formula --}}
				<div class="form-group stacked">
					<h4 class="damage-header" title="Formula used for Damage Rolls.">Bonus to Primary Damage {{ localize "DND4EBETA.Formula" }}:</h4>
					<input type="text" name="system.damageForm" value="{{system.damageForm}}" title="Formula used for Damage Rolls." data-dtype="String"/>
				</div>				
				<h4 class="damage-header">
					{{#unless isHealing }}Secondary {{ localize "DND4EBETA.Damage" }}{{ else }}{{ localize "DND4EBETA.Healing" }}{{/unless}} {{ localize "DND4EBETA.Formula" }}:
					<a class="damage-control add-damage"><i class="fas fa-plus"></i></a>
				</h4>
				<ol class="damage-parts form-group">
					{{#each system.damage.parts as |part i| }}
					<li class="damage-part flexrow" data-damage-part="{{i}}">
						<input type="text" name="system.damage.parts.{{i}}.0" value="{{lookup this "0"}}"/>
						<select name="system.damage.parts.{{i}}.1">
							{{#select (lookup this "1") }}
							<option value="">{{ localize "DND4EBETA.None" }}</option>
							{{#each ../config.damageTypes as |name type|}}
							<option value="{{type}}">{{name}}</option>
							{{/each}}
							{{#each ../config.healingTypes as |name type|}}
							<option value="{{type}}">{{name}}</option>
							{{/each}}
							{{/select}}
						</select>
						<a class="damage-control delete-damage"><i class="fas fa-minus"></i></a>
					</li>
					{{/each}}
				</ol>

				{{!-- Critical Damage Formula --}}
				<div class="form-group stacked">
					<h4 class="damage-header" title="Formula used for Critical Damage Rolls.">Bonus to Critical Damage {{ localize "DND4EBETA.Formula" }}:</h4>
					<input type="text" name="system.critDamageForm" value="{{system.critDamageForm}}" title="Formula used for Critical Damage Rolls." data-dtype="String"/>
				</div>				
				<h4 class="damage-header">
					Secondary Critical Damage {{ localize "DND4EBETA.Formula" }}:
					<a class="damage-control add-criticalDamage"><i class="fas fa-plus"></i></a>
				</h4>
				<ol class="damage-parts form-group">
					{{#each system.damageCrit.parts as |part i| }}
					<li class="damage-part flexrow" data-damage-part="{{i}}">
						<input type="text" name="system.damageCrit.parts.{{i}}.0" value="{{lookup this "0"}}"/>
						<select name="system.damageCrit.parts.{{i}}.1">
							{{#select (lookup this "1") }}
							<option value="">{{ localize "DND4EBETA.None" }}</option>
							{{#each ../config.damageTypes as |name type|}}
							<option value="{{type}}">{{name}}</option>
							{{/each}}
							{{#each ../config.healingTypes as |name type|}}
							<option value="{{type}}">{{name}}</option>
							{{/each}}
							{{/select}}
						</select>
						<a class="damage-control delete-criticalDamage"><i class="fas fa-minus"></i></a>
					</li>
					{{/each}}
				</ol>
				{{/unless}}
				
				{{!-- Attack Formula for Implement--}}
				{{#if system.properties.imp}}
				<div class="form-group stacked">
					<h4 class="damage-header" title="Formula used for Attack Rolls.">Implement Attack {{ localize "DND4EBETA.Formula" }}:</h4>
					<input type="text" name="system.attackFormImp" value="{{system.attackFormImp}}" title="Formula used for Attack Rolls." data-dtype="String"/>
				</div>
				
				{{!-- Damage Formula for Implement--}}
				<div class="form-group stacked">
					<h4 class="damage-header" title="Formula used for Damage Rolls.">Bonus to Implement Damage {{ localize "DND4EBETA.Formula" }}:</h4>
					<input type="text" name="system.damageFormImp" value="{{system.damageFormImp}}" title="Formula used for Damage Rolls." data-dtype="String"/>
				</div>	
				
				<h4 class="damage-header">
					{{#unless isHealing }}Secondary Implement {{ localize "DND4EBETA.Damage" }}{{ else }}{{ localize "DND4EBETA.Healing" }}{{/unless}} {{ localize "DND4EBETA.Formula" }}:
					<a class="damage-control add-damage-imp"><i class="fas fa-plus"></i></a>
				</h4>
				<ol class="damage-parts form-group">
					{{#each system.damageImp.parts as |part i| }}
					<li class="damage-part flexrow" data-damage-part="{{i}}">
						<input type="text" name="system.damageImp.parts.{{i}}.0" value="{{lookup this "0"}}"/>
						<select name="system.damageImp.parts.{{i}}.1">
							{{#select (lookup this "1") }}
							<option value="">{{ localize "DND4EBETA.None" }}</option>
							{{#each ../config.damageTypes as |name type|}}
							<option value="{{type}}">{{name}}</option>
							{{/each}}
							{{#each ../config.healingTypes as |name type|}}
							<option value="{{type}}">{{name}}</option>
							{{/each}}
							{{/select}}
						</select>
						<a class="damage-control delete-damage-imp"><i class="fas fa-minus"></i></a>
					</li>
					{{/each}}
				</ol>

				{{!-- Critical Damage Formula for Implement --}}
				<div class="form-group stacked">
					<h4 class="damage-header" title="Formula used for Critical Damage Rolls.">Bonus to Implement Critical Damage {{ localize "DND4EBETA.Formula" }}:</h4>
					<input type="text" name="system.critDamageFormImp" value="{{system.critDamageFormImp}}" title="Formula used for Critical Damage Rolls." data-dtype="String"/>
				</div>	
				<h4 class="damage-header">
					Secondary Implement Critical Damage {{ localize "DND4EBETA.Formula" }}:
					<a class="damage-control add-criticalDamage-imp"><i class="fas fa-plus"></i></a>
				</h4>
				<ol class="damage-parts form-group">
					{{#each system.damageCritImp.parts as |part i| }}
					<li class="damage-part flexrow" data-damage-part="{{i}}">
						<input type="text" name="system.damageCritImp.parts.{{i}}.0" value="{{lookup this "0"}}"/>
						<select name="system.damageCritImp.parts.{{i}}.1">
							{{#select (lookup this "1") }}
							<option value="">{{ localize "DND4EBETA.None" }}</option>
							{{#each ../config.damageTypes as |name type|}}
							<option value="{{type}}">{{name}}</option>
							{{/each}}
							{{#each ../config.healingTypes as |name type|}}
							<option value="{{type}}">{{name}}</option>
							{{/each}}
							{{/select}}
						</select>
						<a class="damage-control delete-criticalDamage-imp"><i class="fas fa-minus"></i></a>
					</li>
					{{/each}}
				</ol>

				{{/if}}

				<div class="form-group stacked weapon-properties">
					<div class="form-group">
						<label style="max-width: 250px">{{localize 'DND4EBETA.DamageTypeFromWeapon'}}</label>
						<span class="checkbox"><input type="checkbox" name="system.damageTypeWeapon" data-dtype="Boolean" {{checked system.damageTypeWeapon}}/></span>
					</div>

					{{#if system.damageTypeWeapon}}					
					<label title="Type of Damage Dealt by primary attack.">Primary Damage Type:</label>
					<pr></pr>
					{{#each config.damageTypes as |name type|}}
					<label class="checkbox">
						<input type="checkbox" name="system.damageType.{{type}}" {{checked (lookup ../system.damageType type)}}/> {{ name }}
					</label>
					{{/each}}
					{{/if}}

					<label>{{ localize "DND4EBETA.ItemWeaponProperties" }}:</label>
					<pr></pr>
					{{#each weaponMetaProperties as |prop p|}}
						<label class="checkbox">
							<input type="checkbox" name="system.properties.{{p}}" {{checked prop.checked}} {{#if prop.disabled}}disabled{{/if}} /> {{ prop.propName }}
						</label>
					{{/each}}
					<pr></pr>
					<label>{{ localize "DND4EBETA.WeaponGroup" }}:</label>
					<pr></pr>
					{{#each config.weaponGroup as |name group|}}
					<label class="checkbox">
						<input type="checkbox" name="system.weaponGroup.{{group}}" {{checked (lookup ../system.weaponGroup group)}}/> {{ name }}
					</label>
					{{/each}}

					{{#if system.properties.imp}}
					<pr></pr>
					<label>{{ localize "DND4EBETA.ImplementGroup" }}:</label>
					<pr></pr>
					{{#each config.implement as |name group|}}
					<label class="checkbox">
						<input type="checkbox" name="system.implement.{{group}}" {{checked (lookup ../system.implement group)}}/> {{ name }}
					</label>
					{{/each}}
					{{/if}}
				</div>
			</div>
			{{!-- Chat Message Flavor --}}
			<div class="form-group stacked">
				<label>{{ localize "DND4EBETA.ChatFlavor" }}</label>
				<input type="text" name="system.chatFlavor" value="{{system.chatFlavor}}"/>
			</div>
		</div>

		{{!-- Effects Tab --}}
		<div class="tab effects flexcol" data-group="primary" data-tab="effects">
			{{> "systems/dnd4e/templates/actors/parts/active-effects.html"}}
		</div>

		{{!-- Macros Tab --}}
<!-- DO NOT INDENT ME:  All of my indentation will be transferred to the macro text every time it is opened, causing each line of the macro to get steadily more tabs in front of it and march across the screen -->
{{> "systems/dnd4e/templates/items/parts/item-macro.html"}}
	</section>
</form>