<div class="inventory-filters flexrow flexcol">
	<ol class="currency flexrow">
		<h3>
			{{localize "DND4EBETA.Currency"}}
			<a class="currency-convert" title="Convert Currency"><i class="fas fa-coins"></i></a>
		</h3>
		{{#each data.currency as |v k|}}
		<label class="denomination {{k}}" title="{{ localize (lookup ../config.currencies k )}}">{{k}}</label>
		<input type="text" name="data.currency.{{k}}" value="{{v}}" data-dtype="Number" title="{{ localize (lookup ../config.currencies k )}}"/>
		{{/each}}
	</ol>

	<ol class="currency flexrow">
		<h3 title="Ritual Components">Ritual Comp.</h3>
		{{#each data.ritualcomp as |v k|}}
		<label class="denomination {{k}}" title="{{ localize (lookup ../config.ritualcomponents k )}}">{{k}}</label>
		<input type="text" name="data.ritualcomp.{{k}}" value="{{v}}" data-dtype="Number" title="{{ localize (lookup ../config.ritualcomponents k )}}"/>
		{{/each}}
	</ol>
	
	<div>
		<div style="display: inline;">
			<span>Daily Magical Item Powers uses remaining:</span> 
			<input style="width: 25px; text-align: right;" type="text" name="data.magicItemUse.dailyuse" value="{{data.magicItemUse.dailyuse}}" title="Daily Magic Items used Today"  placeholder="0" data-dtype="Number" onClick="this.select();"/>    
			<span>/ {{data.magicItemUse.perDay}}</span>
		</div>
		<div style="float:right;">
			<span >Used In Encounter?</span>
			<input type="checkbox" name="data.magicItemUse.encounteruse" data-dtype="Boolean" {{checked data.magicItemUse.encounteruse}} title="Daily Magical Item Used In encounter"  style="height: 14px; position: relative; top: 2px;">
		</div>
		
	</div>
</div>


<ol class="items-list inventory-list">
{{#each sections as |section sid|}}
	<li class="items-header flexrow">
		<h3 class="item-name flexrow">{{localize section.label}}</h3>

		{{#if section.columns}}
			{{#each section.columns}}
				<div class="item-detail {{css}}">{{label}}</div>
			{{/each}}
		{{else}}
			<div class="item-detail item-weight">{{localize "DND4EBETA.Weight"}}</div>
			<div class="item-detail item-uses">{{localize "DND4EBETA.Charges"}}</div>
			<div class="item-detail item-action">{{localize "DND4EBETA.Usage"}}</div>
		{{/if}}

		{{#if ../owner}}
		<div class="item-controls" style="width: 90px;">
			<a class="item-control item-create" title='{{localize "DND4EBETA.ItemCreate"}}'
			   {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
				<i class="fas fa-plus"></i> {{localize "DND4EBETA.Add"}}
			</a>
		</div>
		{{/if}}
	</li>

	<ol class="item-list">
	{{#each section.items as |item iid|}}
		<li class="item flexrow {{section.css}}"
			data-item-id="{{#if section.editableName}}{{iid}}{{else}}{{item._id}}{{/if}}">
			<div class="item-name flexrow rollable">
				{{#if section.editableName}}
				<input type="text" value="{{item.name}}">
				{{else}}
				<div class="item-image" style="background-image: url({{item.img}})"></div>
				<h4>
					{{#if item.data.level}}[{{item.data.level}}]{{/if}}{{item.name~}}
					{{~#if item.isStack}} ({{item.data.quantity}}){{/if}}
					{{~#if item.data.attuned}} <i class="fas fa-sun attuned" title={{localize "DND4EBETA.Attuned"}}></i>{{/if}}
				</h4>
				{{/if}}
			</div>

			{{#if section.columns}}
				{{#each section.columns}}
					<div class="item-detail {{css}}">
						{{#with (getProperty item property)}}
							{{#if ../editable}}
								<input type="text" value="{{this}}" placeholder="&mdash;"
									   data-dtype="{{../editable}}" data-property="{{../property}}">
							{{else}}
								{{this}}
							{{/if}}
						{{/with}}
					</div>
				{{/each}}
			{{else}}
				<div class="item-detail item-weight">
					{{#if item.totalWeight}}
						<div class="item-detail">
							{{ item.totalWeight }} {{localize "DND4EBETA.AbbreviationLbs"}}
						</div>
					{{/if}}
				</div>

				<div class="item-detail item-uses">
					{{#if item.hasUses }}
						<input type="text" value="{{item.data.uses.value}}" placeholder="0"/>
						/ {{item.data.preparedMaxUses}}
					{{/if}}
				</div>

				<div class="item-detail item-action">
					{{#if item.data.activation.type }}
						{{item.labels.activation}}
					{{/if}}
				</div>
			{{/if}}

			{{#if ../../owner}}
			<div class="item-controls">
				{{#unless @root.isVehicle}}
				<a class="item-control item-toggle {{item.toggleClass}}" title='{{item.toggleTitle}}'><i class="fas fa-shield-alt"></i></a>
				{{/unless}}
				{{#unless section.editableName}}
				<a class="item-control item-edit" title='{{localize "DND4EBETA.ItemEdit"}}'><i class="fas fa-edit"></i></a>
				{{/unless}}
				<a class="item-control item-delete" title='{{localize "DND4EBETA.ItemDelete"}}'><i class="fas fa-trash"></i></a>
			</div>
			{{/if}}
		</li>
	{{/each}}
	</ol>
{{/each}}
</ol>

{{#with data.encumbrance}}
<div class="encumbrance {{#if encumbered}}encumbered{{/if}} encumbrance-options" style="height: 12px;">
	<span class="encumbrance-bar" style="width:{{pbc}}%; background: #6c8aa5;"></span>
	{{#if encumbered}}
		<span class="encumbrance-bar" style="width:{{pec}}%; background: #b72b2b;"></span>
	{{/if}}
	<span class="encumbrance-label">{{value}} / {{max}} lbs.</span>
	<!-- <i class="encumbrance-breakpoint encumbrance-33 arrow-up"></i>
	<i class="encumbrance-breakpoint encumbrance-33 arrow-down"></i>
	<i class="encumbrance-breakpoint encumbrance-66 arrow-up"></i>
	<i class="encumbrance-breakpoint encumbrance-66 arrow-down"></i> -->
</div>
{{/with}}