{{!-- Ability Scores --}}
<ul class="ability-scores">
{{#each system.abilities as |ability a|}}
	<li class="ability" data-ability="{{a}}">
		<h4 class="ability-name box-title rollable">{{ability.label}}</h4>
		<input class="ability-score" name="system.abilities.{{a}}.value" type="Number" value="{{ability.value}}" onClick="this.select();" placeholder="10"/>
		<span class="ability-mod" title="{{localize 'DND4EALTUS.Modifier'}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
	</li>
{{/each}}
</ul>


{{!-- Skills --}}
<ul class="skills-list">
{{#each system.skills as |skill s|}}
	<li class="skill flexrow {{#if skill.value}}proficient{{/if}}" data-skill="{{s}}">
		<input type="hidden" name="system.skills.{{s}}.value" value="{{skill.value}}" data-dtype="Number"/>
		<span class="skill-mod">{{numberFormat skill.total decimals=0 sign=true }}</span>
		<h4 class="skill-name rollable">{{skill.label}}</h4>
		<span class="skill-ability">{{skill.ability}}</span>
		<a class="training-toggle skill-training" title="{{skill.hover}}">{{{skill.icon}}}</a>
		<a class="skill-mod skill-bonus" data-target="system.details" title="{{localize 'DND4EALTUS.BonusTo'}} {{localize 'DND4EALTUS.Skill'}}">{{skill.sklBonusValue}}</a>
	</li>
{{/each}}
	<a class="custom-roll-descriptions" style="font-size: 11.5px;" title="{{localize 'DND4EALTUS.CheckDescsLong'}}">{{localize 'DND4EALTUS.CheckDescs'}}</a>
</ul>

{{!-- Attributes --}}
<ul class="attributes scrollbar">
	{{!-- Health --}}
	<li class="attribute-health resource-half">
		<h4 class="attribute-name box-title">{{localize 'DND4EALTUS.Health'}}</h4>
		<div class="attribute-value">
			<input style="width: 100%; text-align: right; padding-right: 4px;" type="text" name="system.attributes.hp.value" value="{{system.attributes.hp.value}}" title="{{localize 'DND4EALTUS.HPCurrent'}}"  placeholder="Current" data-dtype="Number" onClick="this.select();"/>
			<span class="sep"> / </span>
			<input style="width: 100%; text-align: left; padding-left: 4px;" type="text" name="system.attributes.hp.max" value="{{system.attributes.hp.max}}" title="{{localize 'DND4EALTUS.HPTotal'}}"  placeholder="Total" data-dtype="Number" onClick="this.select();"/>
		</div>
		<footer class="attribute-footer">
			<Span>{{localize 'DND4EALTUS.TempHP'}}:</Span>
			<input style="width: 32px; padding: 0px; position: relative; top: -1px;" type="text" name="system.attributes.temphp.value" value="{{system.attributes.temphp.value}}" title="{{localize 'DND4EALTUS.TempHPTip'}}"  placeholder=0 data-dtype="Number" onClick="this.select();"/>
			<span title="{{localize 'DND4EALTUS.HPBloodied'}}">{{localize 'DND4EALTUS.HPBloodied'}}: {{system.details.bloodied}}</span>
			<a class="health-option" data-target="system.details" title="{{localize 'DND4EALTUS.HealthOptions'}}" style="position: relative; left: -5px; top: 4px;">
				<i class="fas fa-cog"></i>
			</a>
		</footer>
	</li>
	<li class="attribute-health resource-half">
		<h4 class="attribute-name box-title">{{localize 'DND4EALTUS.Surge'}}</h4>
		<div class="attribute-value">
			<input type="text" name="system.details.surgeValue" value="{{system.details.surgeValue}}" title="{{localize 'DND4EALTUS.SurgeValue'}}"  placeholder="{{localize 'DND4EALTUS.SurgeValue'}}" data-dtype="Number" onClick="this.select();"/>
			<span class="sep">|</span>
			<input type="text" name="system.details.surges.value" value="{{system.details.surges.value}}" title="{{localize 'DND4EALTUS.SurgeCur'}}"  placeholder="Current" data-dtype="Number" onClick="this.select();"/>
			<span class="sep">/</span>
			<input type="text" name="system.details.surges.max" value="{{system.details.surges.max}}" title="{{localize 'DND4EALTUS.SurgeDay'}}"  placeholder="Total" data-dtype="Number" onClick="this.select();"/>
		</div>
		<footer class="attribute-footer flexrow ">
			<a class="surge-bonus" style="position: relative; top: 4px;" data-target="system.details" title="{{localize 'DND4EALTUS.SurgeValBon'}}">{{localize 'DND4EALTUS.SurgeBon'}}: {{system.details.surgeBon.value}}</a>
			<a class="envimental-loss-bonus" style="position: relative; top: 4px;" data-target="system.details" title="{{localize 'DND4EALTUS.SurgeEnv'}}">{{localize 'DND4EALTUS.SurgeEnvShort'}}: {{system.details.surgeEnv.value}}</a>
		</footer>
	</li>
	{{!-- Rest and Death --}}
	<li class="attribute-rest resource-full">
		<div>
			<a class="rest second-wind">{{localize 'DND4EALTUS.SecondWind'}}</a>
			<input type="checkbox" name="system.details.secondwind" data-dtype="Boolean" {{checked system.details.secondwind}} title="{{localize 'DND4EALTUS.SecondWindUsed'}}"/>
			<a class="secondwind-bonus" style="font-size: 12px;" data-target="system.details" title="{{localize 'DND4EALTUS.SecondWindBonus'}}">{{localize 'DND4EALTUS.Bonus'}}: {{system.details.secondwindbon.value}}</a>
			
			<a class="rest short-rest">{{ localize 'DND4EALTUS.RestS' }}</a>
			<a class="rest long-rest">{{ localize 'DND4EALTUS.RestL' }}</a>
		</div>	
		<div >	
			<a class="death death-save">{{ localize 'DND4EALTUS.DeathSavingThrow' }}</a>
			<a class="death-save-bonus" style="font-size: 12px;" data-target="system.details" title="{{ localize 'DND4EALTUS.DeathSavingThrowBonus' }}">{{localize 'DND4EALTUS.Bonus'}}: {{system.details.deathsavebon.value}}</a>
			<span>{{localize 'DND4EALTUS.Failures'}}:</span>
			<input type="text" name="system.details.deathsavefail" value="{{system.details.deathsavefail}}" title="{{localize 'DND4EALTUS.DeathSaveFails'}}"  placeholder="0" data-dtype="Number" onClick="this.select();"/>
			<i class="fas fa-skull"></i>

		</div>
	</li>
	{{!-- Defences --}}
	<div class="attribute-def resource-full">
		<h4 class="attribute-name box-title">{{localize 'DND4EALTUS.Defences'}}</h4>
		<li class="flexrow" data-defence="ac">
				<span class="def-value">{{numberFormat system.defences.ac.value decimals=0 sign=true }}</span>
				<span class="def-name rollable" title="{{system.defences.ac.title}}">{{system.defences.ac.label}}</span>
				<span class="def-armour">{{localize 'DND4EALTUS.Armour'}}: {{system.defences.ac.armour}}</span>
				<a class="defence-bonus" data-target="system.defences" title="{{localize 'DND4EALTUS.BonusTo'}} {{localize 'DND4EALTUS.DefenceAC'}}">{{localize 'DND4EALTUS.Bonus'}}: {{system.defences.ac.bonusValue}}</a>
				<span class="def-temp">{{localize 'DND4EALTUS.Temp'}}:</span>
				<input type="text" name="system.defences.ac.temp" value="{{system.defences.ac.temp}}" title="{{localize 'DND4EALTUS.Temporary'}} {{localize 'DND4EALTUS.BonusTo'}} {{localize 'DND4EALTUS.DefenceAC'}}"  placeholder="0" data-dtype="Number" onClick="this.select();"/>
		</li>
		<li class="attribute-ac">
				<footer style="text-align: center;">
					<span>{{localize 'DND4EALTUS.EquipmentArmourLight'}}: </span>
					<input type="checkbox" name="system.defences.ac.light" data-dtype="Boolean" {{checked system.defences.ac.light}} title="{{localize 'DND4EALTUS.DefenceACLightCheck'}}" />
					<span>{{localize 'DND4EALTUS.DefenceACAltMod'}}: </span>
					<select name="system.defences.ac.altability">
						{{#select system.defences.ac.altability}}
						<option value="" >Default</option>
						<option value="str" >{{localize 'DND4EALTUS.AbilityStr'}}</option>
						<option value="con" >{{localize 'DND4EALTUS.AbilityCon'}}</option>
						<option value="wis" >{{localize 'DND4EALTUS.AbilityWis'}}</option>
						<option value="cha" >{{localize 'DND4EALTUS.AbilityCha'}}</option>
						{{/select}}
					</select>
				</footer>						
		</li>
		<li class="flexrow def-fort" data-defence="fort">
		
			<span class="def-value">{{numberFormat system.defences.fort.value decimals=0 sign=true }}</span>
			<span class="def-name rollable" title="{{system.defences.fort.title}}">{{system.defences.fort.label}}</span>
			<span class="def-armour">{{localize 'DND4EALTUS.Armour'}}: {{system.defences.fort.armour}}</span>
			<a class="defence-bonus" data-target="system.defences" title="Fort Bonus">Bonus: {{system.defences.fort.bonusValue}}</a>
			<span class="def-temp">{{localize 'DND4EALTUS.Temp'}}:</span>
			<input type="text" name="system.defences.fort.temp" value="{{system.defences.fort.temp}}" title="{{localize 'DND4EALTUS.Temporary'}} {{localize 'DND4EALTUS.BonusTo'}} {{localize 'DND4EALTUS.DefenceFort'}}"  placeholder="0" data-dtype="Number" onClick="this.select();"/>						
		</li>
		<li class="flexrow def-ref" data-defence="ref">
			<span class="def-value">{{numberFormat system.defences.ref.value decimals=0 sign=true }}</span>
			<span class="def-name rollable" title="{{system.defences.ref.title}}">{{system.defences.ref.label}}</span>
			<span class="def-armour">{{localize 'DND4EALTUS.Armour'}}: {{system.defences.ref.armour}}</span>
			<a class="defence-bonus" data-target="system.defences" title="Ref Bonus">{{localize 'DND4EALTUS.Bonus'}}: {{system.defences.ref.bonusValue}}</a>
			<span class="def-temp">{{localize 'DND4EALTUS.Temp'}}:</span>
			<input type="text" name="system.defences.ref.temp" value="{{system.defences.ref.temp}}" title="{{localize 'DND4EALTUS.Temporary'}} {{localize 'DND4EALTUS.BonusTo'}} {{localize 'DND4EALTUS.DefenceRef'}}"  placeholder="0" data-dtype="Number" onClick="this.select();"/>
		</li>
		<li class="flexrow def-will" data-defence="wil">
			<span class="def-value">{{numberFormat system.defences.wil.value decimals=0 sign=true }}</span>
			<span class="def-name rollable" title="{{system.defences.wil.title}}">{{system.defences.wil.label}}</span>
			<span class="def-armour">{{localize 'DND4EALTUS.Armour'}}: {{system.defences.wil.armour}}</span>
			<a class="defence-bonus" data-target="system.defences" title="Will Bonus">{{localize 'DND4EALTUS.Bonus'}}: {{system.defences.wil.bonusValue}}</a>
			<span class="def-temp">{{localize 'DND4EALTUS.Temp'}}:</span>
			<input type="text" name="system.defences.wil.temp" value="{{system.defences.wil.temp}}" title="{{localize 'DND4EALTUS.Temporary'}} {{localize 'DND4EALTUS.BonusTo'}} {{localize 'DND4EALTUS.DefenceWil'}}"  placeholder="0" data-dtype="Number" onClick="this.select();"/>
		</li>

		<div style="text-align: left;">
			<a class="trait-selector-save" data-options="saves" data-target="system.details.saves" >
				<span>{{localize 'DND4EALTUS.SavingThrowMods'}}:</span>
				<i class="fas fa-edit" style="font-size: 12px;"></i>
			</a>
			<ul class="traits-list" style="list-style-type: none;">
			{{#each system.details.saves.selected as |v k|}}
				<li class="tag {{k}}">{{v}}</li>
			{{/each}}
			</ul>
		</div>

	</div>	
	
	<div class="attribute-init resource-full">
		{{!-- Initiative --}}
		<h4 class="attribute-name box-title">{{localize 'DND4EALTUS.Initiative'}}</h4>
		<span title="{{localize 'DND4EALTUS.Initiative'}} {{localize 'DND4EALTUS.Modifier'}}">{{localize 'DND4EALTUS.Initiative'}}:</span>
		<span title="{{localize 'DND4EALTUS.Initiative'}} {{localize 'DND4EALTUS.Modifier'}}">{{numberFormat system.attributes.init.value decimals=0 sign=true }}</span>
		<a class="init-bonus" data-target="system.details" title="{{localize 'DND4EALTUS.BonusTo'}} {{localize 'DND4EALTUS.Initiative'}}">{{localize 'DND4EALTUS.Bonus'}}: {{system.attributes.init.bonusValue}}</a>
		<span title="{{localize 'DND4EALTUS.Initiative'}} {{localize 'DND4EALTUS.Modifier'}}">{{localize 'DND4EALTUS.Mod'}}:</span>
			<select name="system.attributes.init.ability">
				{{#select system.attributes.init.ability}}
				<option value="str" >{{localize 'DND4EALTUS.AbilityStr'}}</option>
				<option value="con" >{{localize 'DND4EALTUS.AbilityCon'}}</option>
				<option value="dex" >{{localize 'DND4EALTUS.AbilityDex'}}</option>
				<option value="int" >{{localize 'DND4EALTUS.AbilityInt'}}</option>
				<option value="wis" >{{localize 'DND4EALTUS.AbilityWis'}}</option>
				<option value="cha" >{{localize 'DND4EALTUS.AbilityCha'}}</option>
				{{/select}}
			</select>
		<input type="text" name="system.attributes.init.notes" value="{{system.attributes.init.notes}}" title="notes" placeholder="{{localize 'DND4EALTUS.Notes'}}" style="width: 99%; text-align: left;"/>

	</div>
	
	{{!-- Action Point --}}
	
	<div class="attribute-init resource-full">
		<h4 class="attribute-name box-title">{{localize 'DND4EALTUS.ActionPoints'}}</h4>
		<span title="{{localize 'DND4EALTUS.ActionPoints'}}">{{localize 'DND4EALTUS.ActionPoints'}}:</span>
		<input type="text" name="system.actionpoints.value" value="{{system.actionpoints.value}}" title="{{localize 'DND4EALTUS.ActionPointsRemain'}}" data-dtype="Number" onClick="this.select();" placeholder="0"/>
		<label for="bonusAction" title="{{localize 'DND4EALTUS.ActionPointUsed'}}">{{localize 'DND4EALTUS.ActionPointUsed'}}:</label>
		<input class="action-box" id="bonusAction" type="checkbox" name="system.actionpoints.encounteruse" data-dtype="Boolean" {{checked system.actionpoints.encounteruse}} title="{{localize 'DND4EALTUS.ActionPointUsed'}}"/>
		<input type="text" name="system.actionpoints.notes" value="{{system.actionpoints.notes}}" title="notes" placeholder="{{localize 'DND4EALTUS.Notes'}}" style="width: 99%;  text-align: left;"/>
	</div>
		
	{{!-- Movement --}}
	<div class="attribute-init resource-full movement">
		<h4 class="attribute-name box-title">{{localize 'DND4EALTUS.Movement'}}</h4>
		<div class="basic" data-movement="basic">
			<span title="{{localize 'DND4EALTUS.Speed'}}">{{localize 'DND4EALTUS.Speed'}}:</span>
			<span title="{{localize 'DND4EALTUS.Speed'}}" style="margin-right: 4px;">{{system.movement.basic.value}}</span>
			<span title="{{localize 'DND4EALTUS.MovementSpeedBase'}}">{{localize 'DND4EALTUS.MovementSpeedBase'}}:</span> 
			<input type="text" name="system.movement.basic.base" value="{{system.movement.basic.base}}" title="{{localize 'DND4EALTUS.MovementSpeedBase'}}" data-dtype="Number" onClick="this.select();" placeholder="0"/>
			<span>{{localize 'DND4EALTUS.Armour'}}: {{system.movement.basic.armour}}</span>
			<a class="move-bonus" data-target="system.details" title="{{localize 'DND4EALTUS.BonusTo'}} {{localize 'DND4EALTUS.MovementSpeedBase'}}">{{localize 'DND4EALTUS.Bonus'}}: {{system.movement.basic.bonusValue}}</a>
		</div>
		<div class="charge" style="display: inline" data-movement="charge">
			<span title="{{localize 'DND4EALTUS.MovementSpeedCharging'}}">{{localize 'DND4EALTUS.MovementSpeedCharging'}}:</span>
			<span title="{{localize 'DND4EALTUS.MovementSpeedCharging'}}" style="margin-right: 4px;">{{system.movement.charge.value}}</span>
			<a class="move-bonus" data-target="system.details" title="{{localize 'DND4EALTUS.BonusTo'}} {{localize 'DND4EALTUS.MovementSpeedCharging'}}" style="margin-right: 6px;">{{localize 'DND4EALTUS.Bonus'}}: {{system.movement.charge.bonusValue}}</a>
		</div>
		<div class="run" style="display: inline" data-movement="run">
			<span title="{{localize 'DND4EALTUS.MovementSpeedRunning'}}">{{localize 'DND4EALTUS.MovementSpeedRunning'}}:</span>
			<span title="{{localize 'DND4EALTUS.MovementSpeedRunning'}}" style="margin-right: 4px;">{{system.movement.run.value}}</span>
			<a class="move-bonus" data-target="system.details" title="{{localize 'DND4EALTUS.BonusTo'}} {{localize 'DND4EALTUS.MovementSpeedRunning'}}">{{localize 'DND4EALTUS.Bonus'}}: {{system.movement.run.bonusValue}}</a>
		</div>
		<input type="text" name="system.movement.notes" value="{{system.movement.notes}}" title="notes" placeholder="{{localize 'DND4EALTUS.Notes'}}" style="width: 99%;"/>
	</div>
	
	{{!-- Senses --}}
	<div class="attribute-init resource-full movement">
		<h4 class="attribute-name box-title">{{localize 'DND4EALTUS.Senses'}}</h4>
		<div class="Passive-Per" data-passive="pasprc">
			<span>{{localize 'DND4EALTUS.PasPer'}}:</span>
			<span style="margin-right: 4px;">{{system.passive.pasprc.value}}</span>
			<a class="passive-bonus" data-target="system.details" title="{{localize 'DND4EALTUS.BonusTo'}} {{localize 'DND4EALTUS.PasPer'}}">{{localize 'DND4EALTUS.Bonus'}}: {{system.passive.pasprc.bonusValue}}</a>
		</div>
		<div class="Passive-Ins" data-passive="pasins">
			<span>{{localize 'DND4EALTUS.PasIns'}}:</span>
			<span style="margin-right: 4px;">{{system.passive.pasins.value}}</span>
			<a class="passive-bonus" data-target="system.details" title="{{localize 'DND4EALTUS.BonusTp'}} {{localize 'DND4EALTUS.PasIns'}}">{{localize 'DND4EALTUS.Bonus'}}: {{system.passive.pasins.bonusValue}}</a>
		</div>					
		
		<div style="text-align: left;">
			<a class="trait-selector-senses" data-options="vision" data-target="system.senses.vision">
				<span>{{localize 'DND4EALTUS.Vision'}}</span>
				<i class="fas fa-edit"></i>
			</a>
			<ul class="traits-list" style="list-style-type: none;">
			{{#each system.senses.vision.selected as |v k|}}
				<li class="tag {{k}}">{{v}}</li>
			{{/each}}
			</ul>
			
			<a class="trait-selector-senses" data-options="special" data-target="system.senses.special">
				<span>{{localize 'DND4EALTUS.SpecialSenses'}}</span>
				<i class="fas fa-edit"></i>
			</a>
			<ul class="traits-list" style="list-style-type: none;">
			{{#each system.senses.special.selected as |v k|}}
				<li class="tag {{k}}">{{v}}</li>
			{{/each}}
			</ul>

			<input type="text" name="system.senses.notes" value="{{system.senses.notes}}" title="notes" placeholder="{{localize 'DND4EALTUS.Notes'}}" style="width: 99%;"/>
		</div>
		
		
	</div>
	
	{{!-- Languages --}}
	<div class="attribute-init resource-full languages">
		<h4 class="attribute-name box-title">{{localize 'DND4EALTUS.Languages'}}</h4>
		<a class="trait-selector" data-options="spoken" data-target="system.languages.spoken">
			<span>{{localize 'DND4EALTUS.Spoken'}}</span>
			<i class="fas fa-edit"></i>
		</a>
		<ul class="traits-list" style="list-style-type: none;">
		{{#each system.languages.spoken.selected as |v k|}}
			<li class="tag {{k}}">{{v}}</li>
		{{/each}}
		</ul>
		
		<a class="trait-selector" data-options="script" data-target="system.languages.script">
			<span>{{localize 'DND4EALTUS.Script'}}</span>
			<i class="fas fa-edit"></i>
		</a>
		<ul class="traits-list" style="list-style-type: none;">
		{{#each system.languages.script.selected as |v k|}}
			<li class="tag {{k}}">{{v}}</li>
		{{/each}}
		</ul>					
	</div>
	
	{{!-- Resistances --}}
	<div class="attribute-res resource-full">
		<h4 class="attribute-name box-title">{{localize 'DND4EALTUS.DamResVuln'}}</h4>
		{{#each system.resistances as |res r|}}
			<li class="skill flexrow" data-res="{{r}}">
				<h4 class="res-name">{{res.label}}</h4>
				<span class="res-mod">{{numberFormat res.value decimals=0 sign=true }}</span>
				<span class="res-armour">{{localize 'DND4EALTUS.Armour'}}: {{res.armour}} </span>
				<a class="resistence-bonus" data-target="system.resistances" title="{{localize 'DND4EALTUS.BonusTo'}} {{localize 'DND4EALTUS.DamRes'}}">{{localize 'DND4EALTUS.Bonus'}}: {{res.resBonusValue}}</a>
				<span class="res-immune">{{localize 'DND4EALTUS.Immunity'}}</span>
				<input type="checkbox" name="system.resistances.{{r}}.immune" data-dtype="Boolean" {{checked res.immune}} title="{{localize 'DND4EALTUS.Immunity'}}"/>
			</li>
		{{/each}}					
	</div>
	
	<div class="attribute-init resource-full" style="height: 20px;"></div>
</ul>