<ol class="items-list inventory-list powers">
	<header class="power-filters flexrow">
		<div class="group-powers">
			<input type="hidden" name="flags.dnd4e.sheetDisplay.powers.groupBy.value">
			<label for="power-group">{{localize "DND4EUI.GroupBy"}}</label><br />
			<select name="system.powerGroupTypes">
				{{#select system.powerGroupTypes}}
				{{#each config.powerGroupTypes as |name type|}}
				<option value="{{type}}">{{name}}</option>
				{{/each}}
				{{/select}}
			</select>
		</div>

		<div class="sort-powers">
			<input type="hidden" name="flags.dnd4e.sheetDisplay.powers.sortBy.value">
			<label for="power-sort">{{localize "DND4EUI.SortBy"}}</label><br />
			<select name="system.powerSortTypes">
				{{#select system.powerSortTypes}}
				{{#each config.powerSortTypes as |name type|}}
				<option value="{{type}}">{{name}}</option>
				{{/each}}
				{{/select}}
			</select>
		</div>

		<div class="filter-search-powers">
			<label for="power-filter-search">{{localize "DND4E.Filter"}}</label>
			<button class="item-import button" data-tooltip="{{localize 'DND4E.PowerCreate'}}" data-item-type="power" data-type="power" type="button">
				<i class="fas fa-atlas"></i> <span class="import-button">{{localize "DND4E.ImportPowers"}}</span>
			</button>
			<br />
			<input type="text" class="power-filter-search" name="power-filter-search" placeholder="{{localize 'DND4EUI.SearchFor'}} {{localize 'DND4E.Power'}}..." id="filterInput-power" onkeyup="filterPowers()"/>
		</div>
	</header>


	{{#each sections as |section sid|}}
		<li class="items-header flexrow">
			<h3 class="item-name flexrow">{{localize section.label}}</h3>
	
			{{#if section.columns}}
				{{#each section.columns}}
					<div class="item-detail {{css}}">{{label}}</div>
				{{/each}}
			{{else}}
				<div class="item-detail item-range">{{localize 'DND4E.Range'}}</div>
				<div class="item-detail item-action" data-tooltip="{{localize 'DND4E.Action'}}">{{localize 'DND4E.ActionShort'}}</div>
				<div class="item-detail item-uses">{{localize "DND4E.Charges"}}</div>
			{{/if}}
				<div class="item-detail item-prep" data-tooltip="{{localize 'DND4E.PowerPrepared'}}">{{localize 'DND4E.PowerPreparedShort'}}</div>
			{{#if ../owner}}
			<div class="item-controls">
				<a class="item-control power-create" data-tooltip="{{localize "DND4E.ItemCreate"}}"
				   {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
					<i class="fas fa-plus"></i> {{localize "DND4E.Add"}}
				</a>
			</div>
			{{/if}}
		</li>
	
		<ol class="item-list power-list">
		{{#each section.items as |item iid|}}
			<li class="item flexrow {{#if isDepleted}}depleted{{/if}}" data-item-id="{{item._id}}">
				<div class="item-name item-image flexrow rollable">
					<img src="{{item.img}}" width="30" height="30"/>
				</div>
				<div class="flexrow power-name {{#if item.system.useType }}ability-usage--{{item.system.useType}}{{else}}ability-usage--blank{{/if}} {{#if item.system.notAvailable}}not-available{{/if}}" data-tooltip="{{item.name}}">
					<div class="item-name flexrow rollable">
						<h4 class="power-detail">{{#if item.system.level}}[{{item.system.level}}]{{/if}}{{item.name}}</h4>
					</div>
					
					{{#if section.columns}}
						{{#each section.columns}}
						<div class="item-detail {{css}}">
							{{#with (getProperty item property)}}
								{{#if ../editable}}
									<input type="text" value="{{this}}" placeholder="&mdash;"
										data-dtype="{{../editable}}" data-property="{{../property}}">
								{{else}}
									{{this}}
								{{/if}}
							{{/with}}
						</div>
						{{/each}}
					{{else}}
						<div class="item-detail power-detail item-range" data-tooltip="{{item.system.rangeText}}">
							<label>{{item.system.rangeTextShort}}</label>
							{{#if item.system.rangeTextBlock}}
							<label class="range-number">{{item.system.rangeTextBlock}}</label>
							{{/if}}
						</div>
						<div class="item-detail power-detail item-action" data-tooltip="{{lookup ../../config.abilityActivationTypes item.system.actionType}}">
							{{#if item.system.actionType }}
							{{lookup ../../config.abilityActivationTypesShort item.system.actionType}}
							{{/if}}
						</div>
						<div class="item-detail power-detail item-uses">
							{{#if item.system.notAvailable}}
								{{#if item.system.rechargeRoll}}
								<a class="item-recharge rollable" data-tooltip="{{localize 'DND4E.PowerRechargeTipCond'}} {{item.system.rechargeRoll}}">Recharge[+{{item.system.rechargeRoll}}]</a>
								{{else if item.system.rechargeCondition}}
								<a class="item-recharge rollable" data-tooltip="{{localize 'DND4E.PowerRechargeTipCond'}} &quot;{{item.system.rechargeCondition}}&quot;">Recharge[C]</a>
								{{else if item.system.isOnCooldown}}
								<a class="item-recharge rollable" data-tooltip="C{{localize 'DND4E.PowerRechargeTipRoll'}} {{item.system.rechargeRoll}}">Recharge[+6]</a>
								{{else}}
									{{#if item.hasUses}}
									<input type="text" value="{{item.system.uses.value}}" placeholder="0"/>/ {{item.system.preparedMaxUses}}
									{{/if}}
								{{/if}}
							{{else}}
								{{#if item.hasUses}}
								<input type="text" value="{{item.system.uses.value}}" placeholder="0"/>/ {{item.system.preparedMaxUses}}
								{{/if}}
							{{/if}}
						</div>
					{{/if}}
			
					{{#if ../owner}}
					<div class="item-controls flexrow">
						<a class="item-control item-create" data-tooltip="{{localize 'DND4E.FeatureAdd'}}" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
							<i class="fas fa-plus"></i> {{localize "DND4E.Add"}}
						</a>
					</div>
					{{/if}}
		
					{{#if section.columns}}
						{{#each section.columns}}
							<div class="item-detail {{css}}">
								{{#with (getProperty item property)}}
									{{#if ../editable}}
										<input type="text" value="{{this}}" placeholder="&mdash;"
											data-dtype="{{../editable}}">
									{{else}}
										{{this}}
									{{/if}}
								{{/with}}
							</div>
						{{/each}}
					{{/if}}
					<div class="item-detail power-detail item-prep">
						<a class="item-control power-detail item-toggle {{item.toggleClass}}" data-tooltip="{{item.toggleTitle}}"><i class="{{#if system.prepared}}fas fa-sun{{else}}fal fa-sun fa-lg{{/if}}"></i></a>
					</div>
					{{#if ../../owner}}
					<div class="item-controls flexrow">
						{{#if section.crewable}}
						<a class="item-control item-toggle {{item.toggleClass}}"
						data-tooltip="{{item.toggleTitle}}">
							<i class="fas fa-sun"></i>
						</a>
						{{/if}}
						<!-- <a class="item-control power-detail item-toggle {{item.toggleClass}}" data-tooltip="{{item.toggleTitle}}"><i class="fas fa-sun"></i></a> -->
						<a class="item-control power-detail item-edit" data-tooltip="{{localize 'DND4E.ItemEdit'}}"><i class="fas fa-edit"></i></a>
						<a class="item-control power-detail item-delete" data-tooltip="{{localize 'DND4E.ItemDelete'}}"><i class="fas fa-trash"></i></a>
					</div>
					{{/if}}
				</div>
			</li>
		{{/each}}
		</ol>
	{{/each}}
</ol>

<script>
	function filterPowers() {
		let input, filter, ul, li, a, i, txtValue;
		input = document.getElementById("filterInput-power");
		filter = input.value.toUpperCase();
		list = document.getElementsByClassName("power-list");
		
		for(i = 0; i < list.length; i++) {
			li = list[i].getElementsByTagName("li");
			for (ii = 0; ii < li.length; ii++) {
				a = li[ii].getElementsByTagName("h4")[0];
				txtValue = a.textContent || a.innerText;
				if (txtValue.toUpperCase().indexOf(filter) > -1) {
					li[ii].style.display = "";
				} else {
					li[ii].style.display = "none";
				}
			}
		}
	}
</script>