			{{!-- Ability Scores --}}
			<ul class="ability-scores">
			{{#each data.abilities as |ability a|}}
				<li class="ability" data-ability="{{a}}">
					<h4 class="ability-name box-title rollable">{{ability.label}}</h4>
					<input class="ability-score" name="data.abilities.{{a}}.value" type="Number" value="{{ability.value}}" onClick="this.select();" placeholder="10"/>
					<span class="ability-mod" title="Modifier">{{numberFormat ability.mod decimals=0 sign=true}}</span>
				</li>
			{{/each}}
			</ul>


			{{!-- Skills --}}
			<ul class="skills-list">
			{{#each data.skills as |skill s|}}
				<li class="skill flexrow {{#if skill.value}}proficient{{/if}}" data-skill="{{s}}">
					<input type="hidden" name="data.skills.{{s}}.value" value="{{skill.value}}" data-dtype="Number"/>
					<span class="skill-mod">{{numberFormat skill.total decimals=0 sign=true }}</span>
					<h4 class="skill-name rollable">{{skill.label}}</h4>
					<span class="skill-ability">{{skill.ability}}</span>
					<a class="training-toggle skill-training" title="{{skill.hover}}">{{{skill.icon}}}</a>
					<!-- <input type="text" class="skill-mod" name="data.skills.{{s}}.expt" value="{{skill.expt}}" placeholder="0" data-dtype="Number" onClick="this.select();" title="Expertise"> </input> -->
					<!-- <input type="text" class="skill-mod" name="data.skills.{{s}}.armour" value="{{skill.armour}}" placeholder="0" data-dtype="Number" onClick="this.select();" title="Armour"> </input> -->
					<!-- <input type="text" class="skill-mod" name="data.skills.{{s}}.misc" value="{{skill.misc}}" placeholder="0" data-dtype="Number" onClick="this.select();" title="Misc"> </input> -->
					<a class="skill-mod skill-bonus" data-target="data.details" title="Skill Bonus">{{skill.sklBonusValue}}</a>
				</li>
			{{/each}}
				<a class="custom-roll-descriptions" style="font-size: 11.5px;" title="Change custom descriptions for Skill and Ability roll checks.">Edit Skill & Ability Custom Descriptions.</a>
			</ul>
			
			{{!-- Attributes --}}
			<ul class="attributes scrollbar">
				{{!-- Health --}}
				<li class="attribute-health resource-half">
					<h4 class="attribute-name box-title">Health</h4>
					<div class="attribute-value">
						<input style="width: 100%; text-align: right; padding-right: 4px;" type="text" name="data.attributes.hp.value" value="{{data.attributes.hp.value}}" title="{{localize 'DND4EBETA.HPCurrent'}}"  placeholder="Current" data-dtype="Number" onClick="this.select();"/>
						<span class="sep"> / </span>
						<input style="width: 100%; text-align: left; padding-left: 4px;" type="text" name="data.attributes.hp.max" value="{{data.attributes.hp.max}}" title="{{localize 'DND4EBETA.HPTotal'}}"  placeholder="Total" data-dtype="Number" onClick="this.select();"/>
					</div>
					<footer class="attribute-footer">
						<Span>Temp HP:</Span>
						<input style="width: 32px; padding: 0px; position: relative; top: -1px;" type="text" name="data.attributes.temphp.value" value="{{data.attributes.temphp.value}}" title="{{localize 'DND4EBETA.TempHPTip'}}"  placeholder=0 data-dtype="Number" onClick="this.select();"/>
						<span title="{{localize 'DND4EBETA.HPBloodied'}}">{{localize 'DND4EBETA.HPBloodied'}}: {{data.details.bloodied}}</span>
						<a class="health-option" data-target="data.details" title="Health & Surge Options" style="position: relative; left: -5px; top: 4px;">
							<i class="fas fa-cog"></i>
						</a>
					</footer>
				</li>
				<li class="attribute-health resource-half">
					<h4 class="attribute-name box-title">Surge</h4>
					<div class="attribute-value">
						<input type="text" name="data.details.surgeValue" value="{{data.details.surgeValue}}" title="{{localize 'DND4EBETA.SurgeValue'}}"  placeholder="{{localize 'DND4EBETA.SurgeValue'}}" data-dtype="Number" onClick="this.select();"/>
						<span class="sep">|</span>
						<input type="text" name="data.details.surges.value" value="{{data.details.surges.value}}" title="{{localize 'DND4EBETA.SurgeCur'}}"  placeholder="Current" data-dtype="Number" onClick="this.select();"/>
						<span class="sep">/</span>
						<input type="text" name="data.details.surges.max" value="{{data.details.surges.max}}" title="{{localize 'DND4EBETA.SurgeDay'}}"  placeholder="Total" data-dtype="Number" onClick="this.select();"/>
					</div>
					<footer class="attribute-footer flexrow ">
						<a class="surge-bonus" style="position: relative; top: 4px;" data-target="data.details" title="{{localize 'DND4EBETA.SurgeBon'}}">Surge Bonus: {{data.details.surgeBon.value}}</a>
						<a class="envimental-loss-bonus" style="position: relative; top: 4px;" data-target="data.details" title="{{localize 'DND4EBETA.SurgeEnv'}}">Envir Losses: {{data.details.surgeEnv.value}}</a>
						<!-- <input type="text" name="data.details.surgeBon" value="{{data.details.surgeBon}}" title="{{localize 'DND4EBETA.SurgeBon'}}"  placeholder="Surge Bonus" data-dtype="Number" onClick="this.select();"/> -->
						<!-- <input type="text" name="data.details.surgeEnv" value="{{data.details.surgeEnv}}" title="{{localize 'DND4EBETA.SurgeEnv'}}"  placeholder="Envir Losses" data-dtype="Number" onClick="this.select();"/>					 -->
					</footer>
				</li>
				{{!-- Rest and Death --}}
				<li class="attribute-rest resource-full">
					<div>
						<a class="rest second-wind">Second Wind</a>
						<input type="checkbox" name="data.details.secondwind" data-dtype="Boolean" {{checked data.details.secondwind}} title="Second Wind Used"/>
						<a class="secondwind-bonus" style="font-size: 12px;" data-target="data.details" title="Second Wind Bonus">Bonus: {{data.details.secondwindbon.value}}</a>
						<!-- <span>Bonus:</span> -->
						<!-- <input type="text" name="data.details.secondwindbon" value="{{data.details.secondwindbon}}" title="Second Wind Bonus"  placeholder="0" data-dtype="Number" onClick="this.select();"/> -->
						
						<a class="rest short-rest">{{ localize "DND4EBETA.RestS" }}</a>
						<a class="rest long-rest">{{ localize "DND4EBETA.RestL" }}</a>
					</div>	
					<div >	
						<a class="death death-save">Death Saving Throw</a>
						<a class="death-save-bonus" style="font-size: 12px;" data-target="data.details" title="Death Save Bonus">Bonus: {{data.details.deathsavebon.value}}</a>
						<!-- <span>Bonus:</span> -->
						<!-- <input type="text" name="data.details.deathsavebon" value="{{data.details.deathsavebon}}" title="Death Save Bonus"  placeholder="0" data-dtype="Number" onClick="this.select();"/> -->
						<span>Failures:</span>
						<input type="text" name="data.details.deathsavefail" value="{{data.details.deathsavefail}}" title="Death Save Failures"  placeholder="0" data-dtype="Number" onClick="this.select();"/>
						<i class="fas fa-skull"></i>

					</div>
				</li>
				{{!-- Defences --}}
				<div class="attribute-def resource-full">
					<h4 class="attribute-name box-title">Defences</h4>
					<li class="flexrow" data-defence="ac">
							<span class="def-value">{{numberFormat data.defences.ac.value decimals=0 sign=true }}</span>
							<span class="def-name rollable" title="{{data.defences.ac.title}}">{{data.defences.ac.label}}</span>
							<span class="def-armour">Armour: {{data.defences.ac.armour}}</span>
							<!-- <input type="text" name="data.defences.ac.armour" value="{{data.defences.ac.armour}}" title="AC Armour"  placeholder="0" data-dtype="Number" onClick="this.select();"/> -->
							<!-- <span>Class:</span> -->
							<!-- <input type="text" name="data.defences.ac.class" value="{{data.defences.ac.class}}" title="AC Class"  placeholder="0" data-dtype="Number" onClick="this.select();"/> -->
							<!-- <input type="text" name="data.defences.ac.feat" value="{{data.defences.ac.feat}}" title="AC Feat"  placeholder="0" data-dtype="Number" onClick="this.select();"/> -->
							<!-- <input type="text" name="data.defences.ac.enhance" value="{{data.defences.ac.enhance}}" title="AC Enhancement"  placeholder="0" data-dtype="Number" onClick="this.select();"/> -->
							<a class="defence-bonus" data-target="data.defences" title="AC Bonus">Bonus: {{data.defences.ac.bonusValue}}</a>
							<!-- <input type="text" name="data.defences.ac.misc" value="{{data.defences.ac.misc}}" title="AC Misc"  placeholder="0" data-dtype="Number" onClick="this.select();"/> -->
							<span class="def-temp">Temp:</span>
							<input type="text" name="data.defences.ac.temp" value="{{data.defences.ac.temp}}" title="AC Temp"  placeholder="0" data-dtype="Number" onClick="this.select();"/>
					</li>
					<li class="attribute-ac">
							<footer style="text-align: center;">
								<span>Light Armour: </span>
								<input type="checkbox" name="data.defences.ac.light" data-dtype="Boolean" {{checked data.defences.ac.light}} title="Light/Unarmoured Check to add mod to AC"/>
								<span>Alternative Mod: </span>
								<select name="data.defences.ac.altability">
									{{#select data.defences.ac.altability}}
									<option value="" >Default</option>
									<option value="str" >Strength</option>
									<option value="con" >Constitution</option>
									<option value="wis" >Wisdom</option>
									<option value="cha" >Charisma</option>
									{{/select}}
								</select>
							</footer>						
					</li>
					<li class="flexrow def-fort" data-defence="fort">
					
						<span class="def-value">{{numberFormat data.defences.fort.value decimals=0 sign=true }}</span>
						<span class="def-name rollable" title="{{data.defences.fort.title}}">{{data.defences.fort.label}}</span>
						<span class="def-armour">Armour: {{data.defences.fort.armour}}</span>
						<!-- <input type="text" name="data.defences.fort.armour" value="{{data.defences.fort.armour}}" title="Fort Armour"  placeholder="0" data-dtype="Number" onClick="this.select();"> -->
						<!-- <input type="text" name="data.defences.fort.class" value="{{data.defences.fort.class}}" title="Fort Class"  placeholder="0" data-dtype="Number" onClick="this.select();"/> -->
						<!-- <input type="text" name="data.defences.fort.feat" value="{{data.defences.fort.feat}}" title="Fort Feat"  placeholder="0" data-dtype="Number" onClick="this.select();"/> -->
						<!-- <input type="text" name="data.defences.fort.enhance" value="{{data.defences.fort.enhance}}" title="Fort Enhancement"  placeholder="0" data-dtype="Number" onClick="this.select();"/> -->
						<a class="defence-bonus" data-target="data.defences" title="Fort Bonus">Bonus: {{data.defences.fort.bonusValue}}</a>
						<!-- <input type="text" name="data.defences.fort.misc" value="{{data.defences.fort.misc}}" title="Fort Misc"  placeholder="0" data-dtype="Number" onClick="this.select();"/> -->
						<span class="def-temp">Temp:</span>
						<input type="text" name="data.defences.fort.temp" value="{{data.defences.fort.temp}}" title="Fort Temp"  placeholder="0" data-dtype="Number" onClick="this.select();"/>						
					</li>
					<li class="flexrow def-ref" data-defence="ref">
						<span class="def-value">{{numberFormat data.defences.ref.value decimals=0 sign=true }}</span>
						<span class="def-name rollable" title="{{data.defences.ref.title}}">{{data.defences.ref.label}}</span>
						<span class="def-armour">Armour: {{data.defences.ref.armour}}</span>
						<!-- <input type="text" name="data.defences.ref.armour" value="{{data.defences.ref.armour}}" title="Ref Armour"  placeholder="0" data-dtype="Number" onClick="this.select();"/> -->
						<!-- <input type="text" name="data.defences.ref.class" value="{{data.defences.ref.class}}" title="Ref Class"  placeholder="0" data-dtype="Number" onClick="this.select();"/> -->
						<!-- <input type="text" name="data.defences.ref.feat" value="{{data.defences.ref.feat}}" title="Ref Feat"  placeholder="0" data-dtype="Number" onClick="this.select();"/> -->
						<!-- <input type="text" name="data.defences.ref.enhance" value="{{data.defences.ref.enhance}}" title="Ref Enhancement"  placeholder="0" data-dtype="Number" onClick="this.select();"/> -->
						<a class="defence-bonus" data-target="data.defences" title="Ref Bonus">Bonus: {{data.defences.ref.bonusValue}}</a>
						<!-- <input type="text" name="data.defences.ref.misc" value="{{data.defences.ref.misc}}" title="Ref Misc"  placeholder="0" data-dtype="Number" onClick="this.select();"/> -->
						<span class="def-temp">Temp:</span>
						<input type="text" name="data.defences.ref.temp" value="{{data.defences.ref.temp}}" title="Ref Temp"  placeholder="0" data-dtype="Number" onClick="this.select();"/>
					</li>
					<li class="flexrow def-will" data-defence="wil">
						<span class="def-value">{{numberFormat data.defences.wil.value decimals=0 sign=true }}</span>
						<span class="def-name rollable" title="{{data.defences.wil.title}}">{{data.defences.wil.label}}</span>
						<span class="def-armour">Armour: {{data.defences.wil.armour}}</span>
						<!-- <input type="text" name="data.defences.wil.armour" value="{{data.defences.wil.armour}}" title="Will Armour"  placeholder="0" data-dtype="Number" onClick="this.select();"/> -->
						<!-- <input type="text" name="data.defences.wil.class" value="{{data.defences.wil.class}}" title="Will Class"  placeholder="0" data-dtype="Number" onClick="this.select();"/> -->
						<!-- <input type="text" name="data.defences.wil.feat" value="{{data.defences.wil.feat}}" title="Will Feat"  placeholder="0" data-dtype="Number" onClick="this.select();"/> -->
						<!-- <input type="text" name="data.defences.wil.enhance" value="{{data.defences.wil.enhance}}" title="Will Enhancement"  placeholder="0" data-dtype="Number" onClick="this.select();"/> -->
						<a class="defence-bonus" data-target="data.defences" title="Will Bonus">Bonus: {{data.defences.wil.bonusValue}}</a>
						<!-- <input type="text" name="data.defences.wil.misc" value="{{data.defences.wil.misc}}" title="Will Misc"  placeholder="0" data-dtype="Number" onClick="this.select();"/> -->
						<span class="def-temp">Temp:</span>
						<input type="text" name="data.defences.wil.temp" value="{{data.defences.wil.temp}}" title="Will Temp"  placeholder="0" data-dtype="Number" onClick="this.select();"/>
					</li>

					<div style="text-align: left;">
						<a class="trait-selector-save" data-options="saves" data-target="data.details.saves" >
							<span>Saving Throw Mods:</span>
							<i class="fas fa-edit" style="font-size: 12px;"></i>
						</a>
						<ul class="traits-list" style="list-style-type: none;">
						{{#each data.details.saves.selected as |v k|}}
							<li class="tag {{k}}">{{v}}</li>
						{{/each}}
						</ul>
					</div>

				</div>	
				
				<div class="attribute-init resource-full">
					{{!-- Initiative --}}
					<h4 class="attribute-name box-title">Initiative</h4>
					<span title="Initiative Score">Initiative:</span>
					<span title="Initiative Score">{{numberFormat data.attributes.init.value decimals=0 sign=true }}</span>
					<a class="init-bonus" data-target="data.details" title="Initiative Bonus">Bonus: {{data.attributes.init.bonusValue}}</a>
					<!-- <input class="init-bonus" type="text" name="data.attributes.init.bonus" value="{{data.attributes.init.bonus}}" title="Misc" data-dtype="Number" onClick="this.select();" placeholder="0"/> -->
					<span title="Initiative Score">Mod:</span>
						<select name="data.attributes.init.ability">
							{{#select data.attributes.init.ability}}
							<option value="str" >Strength</option>
							<option value="con" >Constitution</option>
							<option value="dex" >Dexterity</option>
							<option value="int" >Intelligence</option>
							<option value="wis" >Wisdom</option>
							<option value="cha" >Charisma</option>
							{{/select}}
						</select>
					<input type="text" name="data.attributes.init.notes" value="{{data.attributes.init.notes}}" title="notes" placeholder="Other & Notes." style="width: 99%; text-align: left;"/>

				</div>
				
				{{!-- Action Point --}}
				
				<div class="attribute-init resource-full">
					<h4 class="attribute-name box-title">Action Points</h4>
					<span title="Action Points">Action Points:</span>
					<input type="text" name="data.actionpoints.value" value="{{data.actionpoints.value}}" title="Number of Action Points" data-dtype="Number" onClick="this.select();" placeholder="0"/>
					<label for="bonusAction" title="Action Points">Bonus Action Taken:</label>
					<input class="action-box" id="bonusAction" type="checkbox" name="data.actionpoints.encounteruse" data-dtype="Boolean" {{checked data.actionpoints.encounteruse}} title="Action Point used this encounter?"/>
					<input type="text" name="data.actionpoints.notes" value="{{data.actionpoints.notes}}" title="notes" placeholder="Other & Notes." style="width: 99%;  text-align: left;"/>
				</div>
					
				{{!-- Movement --}}
				<div class="attribute-init resource-full movement">
					<h4 class="attribute-name box-title">Movement</h4>
					<div class="basic" data-movement="basic">
						<span title="Movement Speed">Movement Speed:</span>
						<span title="Movement Speed" style="margin-right: 4px;">{{data.movement.basic.value}}</span>
						<span title="Base Speed">Base:</span> 
						<input type="text" name="data.movement.basic.base" value="{{data.movement.basic.base}}" title="Base Movement Speed!" data-dtype="Number" onClick="this.select();" placeholder="0"/>
						<span>Armour: {{data.movement.basic.armour}}</span>
						<!-- <input type="text" name="data.movement.basic.armour" value="{{data.movement.basic.armour}}" title="Armour Effect" data-dtype="Number" onClick="this.select();" placeholder="0"/> -->
						<a class="move-bonus" data-target="data.details" title="Movement Bonus">Bonus: {{data.movement.basic.bonusValue}}</a>
						<!-- <input type="text" name="data.movement.basic.misc" value="{{data.movement.basic.misc}}" title="Misc" data-dtype="Number" onClick="this.select();" placeholder="0"/> -->
					</div>
					<div class="charge" style="display: inline" data-movement="charge">
						<span title="Charge Movement Speed">Charge Speed:</span>
						<span title="Charge Movement Speed" style="margin-right: 4px;">{{data.movement.charge.value}}</span>
						<a class="move-bonus" data-target="data.details" title="Charge Bonus" style="margin-right: 6px;">Bonus: {{data.movement.charge.bonusValue}}</a>
						<!-- <input type="text" name="data.movement.charge.misc" value="{{data.movement.charge.misc}}" title="Charge Misc" data-dtype="Number" onClick="this.select();" placeholder="0"/> -->
					</div>
					<div class="run" style="display: inline" data-movement="run">
						<span title="Run Movement Speed">Run Speed:</span>
						<span title="Run Movement Speed" style="margin-right: 4px;">{{data.movement.run.value}}</span>
						<a class="move-bonus" data-target="data.details" title="Running Bonus">Bonus: {{data.movement.run.bonusValue}}</a>
						<!-- <input type="text" name="data.movement.run.misc" value="{{data.movement.run.misc}}" title="Run Misc" data-dtype="Number" onClick="this.select();" placeholder="0"/> -->
					</div>
					<input type="text" name="data.movement.notes" value="{{data.movement.notes}}" title="notes" placeholder="Other & Notes." style="width: 99%;"/>
				</div>
				
				{{!-- Senses --}}
				<div class="attribute-init resource-full movement">
					<h4 class="attribute-name box-title">Special Senses</h4>
					<div class="Passive-Per" data-passive="pasprc">
						<span>Passive Perception:</span>
						<span style="margin-right: 4px;">{{data.passive.pasprc.value}}</span>
						<a class="passive-bonus" data-target="data.details" title="Charge Bonus">Bonus: {{data.passive.pasprc.bonusValue}}</a>
						<!-- <span>Bonus:</span> -->
						<!-- <input type="text" name="data.passive.pasprc.bonus" value="{{data.passive.pasprc.bonus}}" title="Passive Perception Bonus" data-dtype="Number" onClick="this.select();" placeholder="0"/> -->
					</div>
					<div class="Passive-Ins" data-passive="pasins">
						<span>Passive Insight:</span>
						<span style="margin-right: 4px;">{{data.passive.pasins.value}}</span>
						<a class="passive-bonus" data-target="data.details" title="Charge Bonus">Bonus: {{data.passive.pasins.bonusValue}}</a>
						<!-- <span>Bonus:</span> -->
						<!-- <input type="text" name="data.passive.pasins.bonus" value="{{data.passive.pasins.bonus}}" title="Passive Insight Bonus" data-dtype="Number" onClick="this.select();" placeholder="0"/> -->
					</div>					
					
					<div style="text-align: left;">
						<a class="trait-selector-senses" data-options="vision" data-target="data.senses.vision">
							<span>Vision</span>
							<i class="fas fa-edit"></i>
						</a>
						<ul class="traits-list" style="list-style-type: none;">
						{{#each data.senses.vision.selected as |v k|}}
							<li class="tag {{k}}">{{v}}</li>
						{{/each}}
						</ul>
						
						<a class="trait-selector-senses" data-options="special" data-target="data.senses.special">
							<span>special Senses</span>
							<i class="fas fa-edit"></i>
						</a>
						<ul class="traits-list" style="list-style-type: none;">
						{{#each data.senses.special.selected as |v k|}}
							<li class="tag {{k}}">{{v}}</li>
						{{/each}}
						</ul>

						<!-- <span>Other:</span> -->
						<input type="text" name="data.senses.notes" value="{{data.senses.notes}}" title="notes" placeholder="Other & Notes." style="width: 99%;"/>
					</div>
					
					
				</div>
				
				{{!-- Languages --}}
				<div class="attribute-init resource-full languages">
					<h4 class="attribute-name box-title">Languages</h4>
					<a class="trait-selector" data-options="spoken" data-target="data.languages.spoken">
						<span>Spoken</span>
						<i class="fas fa-edit"></i>
					</a>
					<ul class="traits-list" style="list-style-type: none;">
					{{#each data.languages.spoken.selected as |v k|}}
						<li class="tag {{k}}">{{v}}</li>
					{{/each}}
					</ul>
					
					<a class="trait-selector" data-options="script" data-target="data.languages.script">
						<span>Script</span>
						<i class="fas fa-edit"></i>
					</a>
					<ul class="traits-list" style="list-style-type: none;">
					{{#each data.languages.script.selected as |v k|}}
						<li class="tag {{k}}">{{v}}</li>
					{{/each}}
					</ul>					
				</div>
				
				{{!-- Resistances --}}
				<div class="attribute-res resource-full">
					<h4 class="attribute-name box-title">Resistances & Weaknesses</h4>
					{{#each data.resistances as |res r|}}
						<li class="skill flexrow" data-res="{{r}}">
							<h4 class="res-name">{{res.label}}</h4>
							<span class="res-mod">{{numberFormat res.value decimals=0 sign=true }}</span>
							<span class="res-armour">Armour: {{res.armour}} </span>
							<!-- <input type="text" class="skill-mod" name="data.resistances.{{r}}.armour" value="{{res.armour}}" placeholder="0" data-dtype="Number" onClick="this.select();" title="Armour Bonus"> </input> -->
							<a class="resistence-bonus" data-target="data.resistances" title="Resistence Bonus">Bonus: {{res.resBonusValue}}</a>
							<!-- <input type="text" class="skill-mod" name="data.resistances.{{r}}.race" value="{{res.race}}" placeholder="0" data-dtype="Number" onClick="this.select();" title="Race"> </input> -->
							<!-- <input type="text" class="skill-mod" name="data.resistances.{{r}}.misc" value="{{res.misc}}" placeholder="0" data-dtype="Number" onClick="this.select();" title="Misc"> </input> -->
							<!-- <input type="checkbox" name="data.resistances.{{r}}.half" data-dtype="Boolean" {{checked res.half}} title="Resistances"/> -->
							<span class="res-immune">Immunity</span>
							<input type="checkbox" name="data.resistances.{{r}}.immune" data-dtype="Boolean" {{checked res.immune}} title="Immune"/>
						</li>
					{{/each}}					
					<!-- <span>Resistances:</span> -->
					<!-- <a class="trait-selector" data-options="damageTypes" data-target="data.traits.di"> -->
						<!-- <i class="fas fa-edit"></i> -->
					<!-- </a> -->
				</div>
				
				<div class="attribute-init resource-full" style="height: 20px;"></div>
			</ul>