<!-- <ul class="attributes flexrow">
	{{#each resources as |res|}}
	<li class="attribute resource">
		<h4 class="attribute-name box-title">
			<input name="data.resources.{{res.name}}.label" type="text" value="{{res.label}}"
				   placeholder="{{res.placeholder}}" />
		</h4>
		<div class="attribute-value">
			<label class="recharge checkbox">
				{{ localize "DND4EBETA.AbbreviationSR" }} <input name="data.resources.{{res.name}}.sr" type="checkbox" {{checked res.sr}}/>
			</label>

			<input name="data.resources.{{res.name}}.value" type="number" value="{{res.value}}" placeholder="0"/>
			<span class="sep"> / </span>
			<input name="data.resources.{{res.name}}.max" type="number" value="{{res.max}}" placeholder="0"/>

			<label class="recharge checkbox">
				{{ localize "DND4EBETA.AbbreviationLR" }} <input name="data.resources.{{res.name}}.lr" type="checkbox" {{checked res.lr}}/>
			</label>
		</div>
	</li>
	{{/each}}
</ul> -->

<section class="flexrow section--attributes" style="border:none;">
	{{!-- Custom Resources --}}
	{{#each data.resources as |res|}}
	<div class="attributes attribute-health">
		<h4 class="resource-name">
			<input name="data.resources.{{res.name}}.label" type="text" value="{{res.label}}"
				   placeholder="{{res.placeholder}}" />
		</h4>
		<div class="attribute-value flexrow">
			<input name="data.resources.{{res.name}}.value" type="number" value="{{res.value}}" placeholder="0"/>
			<span class="sep"> / </span>
			<input name="data.resources.{{res.name}}.max" type="number" value="{{res.max}}" placeholder="0"/>
		</div>
		<footer class="attribute-footer attribute-footer--temp-hp flexrow">
			<label class="recharge checkbox">
				{{ localize "DND4EBETA.AbbreviationSR" }} <input name="data.resources.{{res.name}}.sr" type="checkbox" {{checked res.sr}}/>
			</label>
			<label class="recharge checkbox">
				{{ localize "DND4EBETA.AbbreviationLR" }} <input name="data.resources.{{res.name}}.lr" type="checkbox" {{checked res.lr}}/>
			</label>		</footer>
	</div>
	{{/each}}
</section>

<div style="display:flex;flex-direction:row; align-items: baseline; padding: 3px;">
	<label for="gender">{{localize 'DND4EBETA.Gender'}}:</label>
	<input style="flex:1; text-align: right;" id="gender" type="text" name="data.details.gender" value="{{data.details.gender}}" title="{{localize 'DND4EBETA.Gender'}}"  placeholder="{{localize 'DND4EBETA.Gender'}}" onClick="this.select();"/>
</div>
<div style="display:flex;flex-direction:row; align-items: baseline; padding: 3px;">
	<label for="age">{{localize 'DND4EBETA.Age'}}:</label>
	<input style="flex:1; text-align: right;" id="age" type="text" name="data.details.age" value="{{data.details.age}}" title="{{localize 'DND4EBETA.Age'}}"  placeholder="{{localize 'DND4EBETA.Age'}}" onClick="this.select();"/>
</div>
<div style="display:flex;flex-direction:row; align-items: baseline; padding: 3px;">
	<label for="alignment">{{localize 'DND4EBETA.Alignment'}}:</label>
	<input style="flex:1; text-align: right;" id="alignment" type="text" name="data.details.alignment" value="{{data.details.alignment}}" title="{{localize 'DND4EBETA.Alignment'}}"  placeholder="{{localize 'DND4EBETA.Alignment'}}" onClick="this.select();"/>
</div>
<div style="display:flex;flex-direction:row; align-items: baseline; padding: 3px;">
	<label for="height">{{localize 'DND4EBETA.Height'}}:</label>
	<input style="flex:1; text-align: right;" id="height" type="text" name="data.details.height" value="{{data.details.height}}" title="{{localize 'DND4EBETA.Height'}}"  placeholder="{{localize 'DND4EBETA.Height'}}" onClick="this.select();"/>
</div>
<div style="display:flex;flex-direction:row; align-items: baseline; padding: 3px;">
	<label for="weight">{{localize 'DND4EBETA.Weight'}}:</label>
	<input style="flex:1; text-align: right;" id="weight" type="text" name="data.details.weight" value="{{data.details.weight}}" title="{{localize 'DND4EBETA.Weight'}}"  placeholder="{{localize 'DND4EBETA.Weight'}}" onClick="this.select();"/>
</div>


<div class="form-group" style="padding: 3px;">
	<label style="font-weight: normal;">{{localize "DND4EBETA.Size"}}:</label>
	<select class="actor-size" name="data.details.size">
		{{#select data.details.size}}
		{{#each config.actorSizes as |label size|}}
			<option value="{{size}}">{{label}}</option>
		{{/each}}
		{{/select}}
	</select>
</div>		

{{!-- Languages --}}
<div><!-- <div class="attribute-init resource-full languages"> -->
	<h4 class="attribute-name box-title">Languages</h4>
	<a class="trait-selector" data-options="spoken" data-target="data.languages.spoken">
		<span>Spoken</span>
		<i class="fas fa-edit"></i>
	</a>
	<ul class="traits-list" style="list-style-type: none;">
	{{#each data.languages.spoken.selected as |v k|}}
		<li class="tag {{k}}">{{v}}</li>
	{{/each}}
	</ul>
	
	<a class="trait-selector" data-options="script" data-target="data.languages.script">
		<span>Script</span>
		<i class="fas fa-edit"></i>
	</a>
	<ul class="traits-list" style="list-style-type: none;">
	{{#each data.languages.script.selected as |v k|}}
		<li class="tag {{k}}">{{v}}</li>
	{{/each}}
	</ul>					
</div>

{{!-- Senses --}}
<div><!-- <div class="attribute-init resource-full movement"> -->
	<h4 class="attribute-name box-title">Special Senses</h4>    
	<div style="text-align: left;">
		<!-- <a class="trait-selector-senses" data-options="vision" data-target="data.senses.vision">
			<span>Vision</span>
			<i class="fas fa-edit"></i>
		</a>
		<ul class="traits-list" style="list-style-type: none;">
		{{#each data.senses.vision.selected as |v k|}}
			<li class="tag {{k}}">{{v}}</li>
		{{/each}}
		</ul> -->
		
		<a class="trait-selector-senses" data-options="special" data-target="data.senses.special">
			<span>Special Senses</span>
			<i class="fas fa-edit"></i>
		</a>
		<ul class="traits-list" style="list-style-type: none;">
		{{#each data.senses.special.selected as |v k|}}
			<li class="tag {{k}}">{{v}}</li>
		{{/each}}
		</ul>

		<!-- <span>Other:</span> -->
		<input type="text" name="data.senses.notes" value="{{data.senses.notes}}" title="notes" placeholder="Other & Notes." style="width: 99%;"/>
	</div>
</div>