<section class="flexrow section--attributes" style="border:none;">
	{{!-- Custom Resources --}}
	{{#each system.resources as |res|}}
	<div class="attributes attribute-health">
		<h4 class="resource-name">
			<input name="system.resources.{{res.name}}.label" type="text" value="{{res.label}}"
				   placeholder="{{res.placeholder}}" />
		</h4>
		<div class="attribute-value flexrow">
			<input name="system.resources.{{res.name}}.value" type="number" value="{{res.value}}" placeholder="0"/>
			<span class="sep"> / </span>
			<input name="system.resources.{{res.name}}.max" type="number" value="{{res.max}}" placeholder="0"/>
		</div>
		<footer class="attribute-footer attribute-footer--temp-hp flexrow">
			<label class="recharge checkbox">
				{{ localize "DND4EBETA.AbbreviationSR" }} <input name="system.resources.{{res.name}}.sr" type="checkbox" {{checked res.sr}}/>
			</label>
			<label class="recharge checkbox">
				{{ localize "DND4EBETA.AbbreviationLR" }} <input name="system.resources.{{res.name}}.lr" type="checkbox" {{checked res.lr}}/>
			</label>		</footer>
	</div>
	{{/each}}
</section>

<div style="display:flex;flex-direction:row; align-items: baseline; padding: 3px;">
	<label for="gender">{{localize 'DND4EBETA.Gender'}}:</label>
	<input style="flex:1; text-align: right;" id="gender" type="text" name="system.details.gender" value="{{system.details.gender}}" title="{{localize 'DND4EBETA.Gender'}}"  placeholder="{{localize 'DND4EBETA.Gender'}}" onClick="this.select();"/>
</div>
<div style="display:flex;flex-direction:row; align-items: baseline; padding: 3px;">
	<label for="age">{{localize 'DND4EBETA.Age'}}:</label>
	<input style="flex:1; text-align: right;" id="age" type="text" name="system.details.age" value="{{system.details.age}}" title="{{localize 'DND4EBETA.Age'}}"  placeholder="{{localize 'DND4EBETA.Age'}}" onClick="this.select();"/>
</div>
<div style="display:flex;flex-direction:row; align-items: baseline; padding: 3px;">
	<label for="alignment">{{localize 'DND4EBETA.Alignment'}}:</label>
	<input style="flex:1; text-align: right;" id="alignment" type="text" name="system.details.alignment" value="{{system.details.alignment}}" title="{{localize 'DND4EBETA.Alignment'}}"  placeholder="{{localize 'DND4EBETA.Alignment'}}" onClick="this.select();"/>
</div>
<div style="display:flex;flex-direction:row; align-items: baseline; padding: 3px;">
	<label for="height">{{localize 'DND4EBETA.Height'}}:</label>
	<input style="flex:1; text-align: right;" id="height" type="text" name="system.details.height" value="{{system.details.height}}" title="{{localize 'DND4EBETA.Height'}}"  placeholder="{{localize 'DND4EBETA.Height'}}" onClick="this.select();"/>
</div>
<div style="display:flex;flex-direction:row; align-items: baseline; padding: 3px;">
	<label for="weight">{{localize 'DND4EBETA.Weight'}}:</label>
	<input style="flex:1; text-align: right;" id="weight" type="text" name="system.details.weight" value="{{system.details.weight}}" title="{{localize 'DND4EBETA.Weight'}}"  placeholder="{{localize 'DND4EBETA.Weight'}}" onClick="this.select();"/>
</div>


<div class="form-group" style="padding: 3px;">
	<label style="font-weight: normal;">{{localize "DND4EBETA.Size"}}:</label>
	<select class="actor-size" name="system.details.size">
		{{#select system.details.size}}
		{{#each config.actorSizes as |label size|}}
			<option value="{{size}}">{{label}}</option>
		{{/each}}
		{{/select}}
	</select>
</div>		
{{!-- Proficiency --}}
<div>
	<h4 class="attribute-name box-title">{{ localize "DND4EBETA.Proficiency" }}</h4>
	<a class="trait-selector" data-options="profArmor" data-target="system.details.armourProf">
		<span>{{ localize "DND4EBETA.Armour" }}</span>
		<i class="fas fa-edit"></i>
	</a>
	<ul class="traits-list" style="list-style-type: none;">
	{{#each system.details.armourProf.selected as |v k|}}
		<li class="tag {{k}}">{{v}}</li>
	{{/each}}
	</ul>

	<a class="trait-selector-weapon" data-options="weaponProf" data-target="system.details.weaponProf">
		<span>{{ localize "DND4EBETA.Weapon" }}</span>
		<i class="fas fa-edit"></i>
	</a>
	<ul class="traits-list" style="list-style-type: none;">
	{{#each system.details.weaponProf.selected as |v k|}}
		<li class="tag {{k}}">{{v}}</li>
	{{/each}}
	</ul>
</div>

{{!-- Languages --}}
<div>
	<h4 class="attribute-name box-title">{{ localize "DND4EBETA.Languages" }}</h4>
	<a class="trait-selector" data-options="spoken" data-target="system.languages.spoken">
		<span>{{ localize "DND4EBETA.Spoken" }}</span>
		<i class="fas fa-edit"></i>
	</a>
	<ul class="traits-list" style="list-style-type: none;">
	{{#each system.languages.spoken.selected as |v k|}}
		<li class="tag {{k}}">{{v}}</li>
	{{/each}}
	</ul>
	
	<a class="trait-selector" data-options="script" data-target="system.languages.script">
		<span>{{ localize "DND4EBETA.Script" }}</span>
		<i class="fas fa-edit"></i>
	</a>
	<ul class="traits-list" style="list-style-type: none;">
	{{#each system.languages.script.selected as |v k|}}
		<li class="tag {{k}}">{{v}}</li>
	{{/each}}
	</ul>					
</div>

{{!-- Senses --}}
<div>
	<h4 class="attribute-name box-title">{{ localize "DND4EBETA.SpecialSenses" }}</h4>    
	<div style="text-align: left;">
		<a class="trait-selector-senses" data-options="special" data-target="system.senses.special">
			<span>{{ localize "DND4EBETA.SpecialSenses" }}</span>
			<i class="fas fa-edit"></i>
		</a>
		<ul class="traits-list" style="list-style-type: none;">
		{{#each system.senses.special.selected as |v k|}}
			<li class="tag {{k}}">{{v}}</li>
		{{/each}}
		</ul>

		<input type="text" name="system.senses.notes" value="{{system.senses.notes}}" title="notes" placeholder="Other & Notes." style="width: 99%;"/>
	</div>
</div>